@charset "UTF-8";
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300italic,400italic,700italic|Merriweather:400,700,400italic,700italic);
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
}
button:hover,
input[type="submit"]:hover {
  background-color: #2c5999;
  color: white;
}
button:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 0.75em;
}

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none;
}
a:hover {
  color: #2c5999;
}
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

cite {
  color: #737373;
  font-style: italic;
}
cite:before {
  content: "\2014 \00A0";
}

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
label.required:after {
  content: "*";
}
label abbr {
  display: none;
}

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477DCA;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
dl {
  margin-bottom: 0.75em;
}
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
dl dd {
  margin: 0;
}

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: #05A185;
}

a:hover {
  color: #03705d;
}

h1.title {
  color: #555;
  border-bottom: 1px solid #555;
  font-size: 1.75em;
  text-align: center;
  padding-bottom: 1em;
}

.accent-color {
  color: #7d4c92;
}

.accent-color-2 {
  color: #c6443e !important;
}

button {
  background-color: #05A185;
}

button:hover {
  background-color: #03705d;
}

form input, form textarea, form select {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: #888888;
  font-size: 1.8em;
  line-height: 2.15;
  margin-bottom: 18px;
}
form input, form select {
  height: 50px;
}

body {
  font-family: "Merriweather", Georgia, serif, serif;
  margin: 0;
}

.row {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

article.body, section.body {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
article.body:last-child, section.body:last-child {
  margin-right: 0;
}

aside.sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
}
aside.sidebar:last-child {
  margin-right: 0;
}

.push {
  margin-top: 40px;
}

.badge::before {
  content: ' ';
  height: 4px;
  width: 4px;
  position: relative;
  border-radius: 50%;
  margin-right: 4px;
  background: #f4f4f4;
  display: inline-block;
  display: none;
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.5), inset 0 1px 1px rgba(0, 0, 0, 0.2);
  top: -4px;
}

header#header {
  background-color: #7d4c92;
  padding: .53em 0 .53em  0;
  margin-bottom: 2em;
  z-index: 999999;
}
header#header .container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
header#header .container:last-child {
  margin-right: 0;
}
header#header h1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  font-family: "Lato", Helvetica, Arial sans-serif, sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.5;
  text-transform: uppercase;
}
header#header h1:last-child {
  margin-right: 0;
}
header#header h1 span {
  font-weight: 300;
  letter-spacing: -1px;
  margin-left: 3px;
}
header#header h1 a {
  color: white;
}
header#header .search-bar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
header#header .search-bar:last-child {
  margin-right: 0;
}

.offset-header {
  padding-top: 50px;
}

.offset-header-nav {
  padding-top: 96px;
}

.slide {
  width: 100%;
  transition: all 200ms linear;
  z-index: 99999;
}

.slide-pinned {
  transform: translateY(0%);
}

.slide-unpinned {
  transform: translateY(-100%);
}

.slide-fixed {
  position: fixed;
  top: 0px;
}

.slide-unfixed {
  position: fixed;
  top: -50px;
}

#footer {
  background: #272727;
  padding: 3em 1.618em;
  width: 100%;
}
#footer .footer-logo {
  text-align: center;
  margin-bottom: 2em;
}
#footer .footer-logo img {
  height: 3em;
}
#footer .footer-links {
  margin-bottom: 1.5em;
}
#footer .footer-links:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 40em) {
  #footer .footer-links {
    margin-left: 25.58941%;
  }
}
#footer ul {
  margin-bottom: 3em;
}
@media screen and (min-width: 40em) {
  #footer ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  #footer ul:last-child {
    margin-right: 0;
  }
  #footer ul:nth-child(3n) {
    margin-right: 0;
  }
  #footer ul:nth-child(3n+1) {
    clear: left;
  }
  #footer ul:after {
    content: "";
    display: table;
    clear: both;
  }
}
#footer li {
  text-align: center;
}
@media screen and (min-width: 40em) {
  #footer li {
    text-align: left;
  }
}
#footer li a {
  color: #f4f4f4;
}
#footer li h3 {
  color: #05A185;
  font-size: 1em;
  font-weight: 800;
  margin-bottom: .4em;
}
#footer hr {
  border: 1px solid rgba(230, 231, 232, 0.7);
  margin: 0 auto 1.5em;
  width: 12em;
}
#footer p {
  color: #e6e7e8;
  line-height: 1.5em;
  margin: auto;
  max-width: 35em;
  text-align: center;
}

.flex-boxes {
  text-align: center;
  position: relative;
}
.flex-boxes:after {
  content: "";
  display: table;
  clear: both;
}

.flex-box {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 33.33333%;
  padding: 1em 1em 1.5em 1em;
  border-top: 6px solid #e6e7e8;
  height: 360px;
  margin-right: 14px;
  margin-bottom: 14px;
  float: left;
  width: 349px;
}
.chapters .flex-box {
  border-top: 6px solid #05A185;
  background-color: #f4f4f4;
  width: 258px;
  margin-right: 14px;
  margin-bottom: 14px;
  height: 420px;
}
.flex-box.no-padding {
  padding: 0px;
}
.flex-box.collapse {
  margin-right: 0px;
}
.flex-box:hover {
  background-color: rgba(85, 85, 85, 0.1);
  background-color: #ededed;
}
.flex-box.flush {
  padding: 0px;
}
.flex-box .left {
  width: 50%;
  float: left;
  text-align: center;
  padding-top: 1em;
}
.flex-box .right {
  width: 50%;
  float: left;
  text-align: left;
}
.flex-box .content {
  padding: 4%;
}
.flex-box img {
  margin-bottom: 10px;
}

.flex-box .icon {
  display: block;
  opacity: .6;
  margin-bottom: 10px;
  font-size: 120px;
  color: #272727;
}

.flex-box .flex-title {
  color: #05A185;
  font-family: "Merriweather", Georgia, serif;
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: .5em;
}

.flex-box p {
  margin: auto;
  line-height: 1.5em;
  color: rgba(85, 85, 85, 0.9);
}

.flex-box-big {
  width: 66.66667%;
  width: 711px;
}

.hover-tile-outer {
  background-size: cover;
  background-position: bottom;
  background: url("../img/homepage-feature-1.jpg");
  background-color: #477DCA;
  border: 1px solid #DDD;
  height: 360px;
  margin-bottom: 1.8;
  cursor: pointer;
}
.hover-tile-outer .hover-tile-container {
  height: 360px;
  overflow: hidden;
}
.hover-tile-outer .hover-tile-container:hover > .hover-tile {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.hover-tile-outer .hover-tile {
  -webkit-transition: all, 0.2s ease-in-out;
  -moz-transition: all, 0.2s ease-in-out;
  transition: all, 0.2s ease-in-out;
  background: inherit;
  color: white;
  height: inherit;
  padding: 1em 1.5em;
}
.hover-tile-outer .hover-tile-visible {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Lato;
  font-size: 2em;
  font-weight: 800;
  padding-top: 4.5em;
  text-align: center;
}
.hover-tile-outer .hover-tile-hidden {
  background: rgba(125, 76, 146, 0.9);
  padding-top: 3em;
}
.hover-tile-outer .hover-tile-hidden h4 {
  margin-bottom: .5em;
}
.hover-tile-outer .hover-tile-hidden p {
  color: rgba(255, 255, 255, 0.7);
}

.search-bar input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
.search-bar div.search-and-submit {
  position: relative;
}
.search-bar div.search-and-submit input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 100%;
  padding: .5em .8em;
  font-size: .9em;
  font-style: italic;
  border-radius: 4em;
  border: 1px solid #7d4c92;
  margin: 0;
}
.search-bar div.search-and-submit button[type=submit] {
  position: absolute;
  top: 0em;
  right: 0em;
  bottom: 0em;
  outline: none;
  background-color: transparent;
  padding: 5px 10px;
}
.search-bar div.search-and-submit button[type=submit] img {
  opacity: .7;
  width: auto;
  right: 6px;
  position: relative;
  top: 1px;
}

.fade-in-element {
  background: white;
  border-radius: 3px;
  border: 1px solid silver;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 4em;
  padding: 1.5em;
  text-align: center;
  width: 100%;
}
.fade-in-element:after {
  content: "";
  display: table;
  clear: both;
}

.js-fade-element-hide {
  opacity: 0;
}

.js-fade-element-show {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.slide {
  position: fixed;
}

#masonry.focus {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
#masonry.focus:last-child {
  margin-right: 0;
}

article.body {
  text-align: left;
}
article.body:after {
  content: "";
  display: table;
  clear: both;
}
article.body .type {
  color: #c6443e;
  display: inline-block;
  font-family: "Lato", Helvetica, Arial sans-serif;
  font-size: 0.6875em;
  font-weight: 800;
  margin-bottom: 1em;
  padding: .3em 0;
  text-align: left;
  text-transform: uppercase;
}
article.body h1 {
  color: #555;
  font-family: "Lato", Helvetica, Arial sans-serif;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: .5em;
}
@media screen and (min-width: 40em) {
  article.body h1 {
    font-size: 2.6em;
  }
}
article.body h2 {
  font-family: "Merriweather", Georgia, serif;
  font-style: italic;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: .9em;
}
@media screen and (min-width: 40em) {
  article.body h2 {
    font-size: 1.2em;
  }
}
article.body code {
  white-space: nowrap;
  font-family: monaco;
  background: #F7F7F7;
  border: 1px solid #E0E0E0;
  border-radius: 4.5px;
  padding: .1em .4em;
  font-size: .75em;
  font-style: normal;
}
article.body h3 {
  color: #272727;
  font-family: "Lato", Helvetica, Arial sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: .4em;
}
article.body p.date {
  color: rgba(85, 85, 85, 0.4);
  font-family: "Merriweather", Georgia, serif;
  font-style: italic;
  font-size: .9em;
  margin-bottom: .3em;
}
article.body p {
  font-family: "Merriweather", Georgia, serif;
  margin-bottom: 1.5em;
}
article.body p span {
  font-family: "Lato", Helvetica, Arial sans-serif;
  font-weight: 700;
}
article.body a.read-more {
  color: #05A185;
  display: inline-block;
  font-family: "Lato", Helvetica, Arial sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-left: .2em;
  position: relative;
}
article.body a.read-more span {
  font-family: "Lato", Helvetica, Arial sans-serif;
  font-style: normal;
  position: absolute;
  font-size: 1.5em;
  top: -7px;
  right: -12px;
}
article.body hr {
  width: 3em;
}
article.body p.author {
  font-family: "Merriweather", Georgia, serif;
  font-style: italic;
}

.side-image {
  background: #F9F9F9;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
}
.side-image:last-child {
  margin-right: 0;
}
@media screen and (min-width: 53.75em) {
  .side-image {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}
.side-image .images-wrapper {
  background-color: #ededed;
  background-image: url(../img/nurse-1.jpg);
  background-size: cover;
  display: block;
  min-height: 12em;
  padding: 3em;
}
@media screen and (min-width: 53.75em) {
  .side-image .images-wrapper {
    display: table-cell;
    width: 33.33333%;
    background-position: bottom;
    background-size: cover;
  }
}
.side-image .content {
  display: table-cell;
  width: 100%;
  padding: 1em 1em 4em 1em;
}
@media screen and (min-width: 53.75em) {
  .side-image .content {
    display: table-cell;
    width: 66.66667%;
    padding: 2em 4em 2em 4em;
  }
}
.side-image .content h1 {
  margin-bottom: .9em;
}
.side-image .content h4 {
  background: #BBB;
  color: white;
  display: inline-block;
  font-size: .75em;
  font-weight: 800;
  margin-bottom: 1.3em;
  padding: 3px 8px;
  text-transform: uppercase;
}
.side-image .content p {
  color: gray;
}

.sliding-menu-button {
  display: inline-block;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 1.8;
  position: relative;
  outline: none;
}
.sliding-menu-button img {
  height: 1.3em;
}

.sliding-menu-content {
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 220px;
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: #404040;
  z-index: 999999;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.sliding-menu-content li a {
  border-bottom: 1px solid #333;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 1em;
}
.sliding-menu-content li a:hover {
  background-color: #477DCA;
  color: #fff;
}
.sliding-menu-content.is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.menu-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #333;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;
}
.menu-screen.is-visible {
  opacity: .4;
  visibility: visible;
}

.parallax-window {
  max-height: 30em;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: #9A9A8A;
  padding: 12em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("../img/childrenshospitalmain.jpg") repeat;
  background-size: cover;
  background-color: beige;
  background-position: top;
  height: 60em;
  left: 0;
  position: absolute;
  top: -10em;
  width: 100%;
}

.breadcrumbs {
  background: #f4f4f4;
  text-align: center;
}

.breadcrumbs .container {
  display: inline-block;
  position: relative;
}

.breadcrumbs .description {
  color: #bbbbbb;
  float: left;
  font-size: .7em;
  line-height: 40px;
  margin-bottom: 0;
  padding: 0 0.5em 0 1em;
}
@media screen and (min-width: 53.75em) {
  .breadcrumbs .description {
    font-size: 1em;
  }
}

.breadcrumbs .button {
  background: #f4f4f4;
  cursor: pointer;
  float: right;
  font-size: .7em;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 0;
  padding: 0 3.5em 0 0.5em;
  position: relative;
}
@media screen and (min-width: 53.75em) {
  .breadcrumbs .button {
    font-size: 1em;
    padding: 0 2.5em 0 0.5em;
  }
}

.breadcrumbs .button:hover {
  background-color: #ececec;
}

.breadcrumbs .button:after {
  color: #555;
  content: "\25BE";
  display: block;
  position: absolute;
  right: 1em;
  top: 0;
}

.dropdown-menu {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #f4f4f4;
  border-bottom: 1px solid silver;
  color: #555;
  cursor: pointer;
  display: none;
  overflow: show;
  right: 0;
  top: 50px;
  width: 228px;
  z-index: 99999;
}
.dropdown-menu:before {
  position: absolute;
  top: 0;
  right: 1em;
  bottom: 0;
  left: 0;
  color: #f4f4f4;
  content: "\25b2";
  font-size: 1.4em;
  pointer-events: none;
  text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.3);
  top: -1em;
}

.dropdown-menu li {
  color: #555;
  padding: 0.5em;
}

.dropdown-menu li:hover {
  background: #ececec;
}

.dropdown-menu li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.dropdown-menu li:last-child {
  border: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.show-menu {
  display: block;
}

.submenu {
  display: none;
}

.example-navigation {
  background-color: #5b376a;
  border-bottom: 1px solid #492d56;
  border-top: 1px solid #492d56;
  font-family: "Merriweather", Georgia, serif;
  width: 100%;
  z-index: 9999;
}
.example-navigation .navigation-menu-button {
  color: #f4f4f4;
  display: block;
  font-weight: 700;
  line-height: 46px;
  margin: 0;
  padding-right: 1em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 53.75em) {
  .example-navigation .navigation-menu-button {
    display: none;
  }
}
.example-navigation .navigation-menu-button:hover {
  color: #05A185;
}
.example-navigation .navigation-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 999;
}
.example-navigation .navigation-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.example-navigation .navigation-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.example-navigation ul.navigation-menu {
  -webkit-transform-style: preserve-3d;
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 99999;
}
@media screen and (min-width: 53.75em) {
  .example-navigation ul.navigation-menu {
    display: block;
  }
}
.example-navigation ul li.nav-link {
  background: #5b376a;
  display: block;
  line-height: 46px;
  overflow: hidden;
  padding-right: 1em;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 53.75em) {
  .example-navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 46px;
  }
  .example-navigation ul li.nav-link a {
    padding-right: 1em;
    padding-top: 2px;
  }
}
.example-navigation ul li.nav-link a {
  color: #f4f4f4;
  display: inline-block;
}
.example-navigation ul li.nav-link a:hover {
  color: #05A185;
}
.example-navigation li.logo.nav-link {
  display: none;
  line-height: 0;
}
@media screen and (min-width: 53.75em) {
  .example-navigation li.logo.nav-link {
    display: inline;
  }
}
.example-navigation .logo img {
  margin-bottom: -0.66667em;
  max-height: 2em;
  opacity: .6;
}
.example-navigation li.more.nav-link {
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  .example-navigation li.more.nav-link {
    padding-right: 1em;
  }
}
.example-navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em;
}
.example-navigation li.more.nav-link a {
  margin-right: 1em;
}
.example-navigation li.more.nav-link > a {
  padding-right: 0.6em;
}
.example-navigation li.more.nav-link > a:after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  color: #f4f4f4;
  content: '\25BE';
  display: none;
}
.example-navigation li.more {
  overflow: visible;
  padding-right: 0;
}
.example-navigation li.more a {
  padding-right: 1em;
}
.example-navigation li.more > a {
  padding-right: 1.6em;
  position: relative;
}
@media screen and (min-width: 53.75em) {
  .example-navigation li.more > a {
    margin-right: 1em;
  }
}
.example-navigation li.more > a:after {
  content: '›';
  font-size: 1.2em;
  position: absolute;
  right: 0.5em;
}
.example-navigation li.more:hover > .submenu {
  display: block;
}
@media screen and (min-width: 53.75em) {
  .example-navigation li.more {
    padding-right: 1em;
    position: relative;
  }
}
.example-navigation ul.submenu {
  display: none;
  padding-left: 0;
}
@media screen and (min-width: 53.75em) {
  .example-navigation ul.submenu {
    left: -1em;
    position: absolute;
    top: 1.5em;
  }
}
@media screen and (min-width: 53.75em) {
  .example-navigation ul.submenu .submenu {
    left: 17.8em;
    top: 0;
  }
}
.example-navigation ul.submenu li {
  display: block;
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  .example-navigation ul.submenu li {
    line-height: 35.38462px;
  }
  .example-navigation ul.submenu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .example-navigation ul.submenu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: .7em;
  }
}
.example-navigation ul.submenu li a {
  background-color: #523260;
  display: inline-block;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 53.75em) {
  .example-navigation ul.submenu li a {
    background-color: #5b376a;
    padding-left: 1em;
    text-align: left;
    width: 18em;
  }
}

.posts .post {
  display: table;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(85, 85, 85, 0.1);
}
.posts .post .post-image,
.posts .post .post-content {
  display: table-cell;
  vertical-align: top;
}
.posts .post .post-image {
  padding-right: 1.4em;
}
.posts .post .post-image > img {
  width: autp;
  height: auto;
  display: block;
  max-width: none;
}
.post-reverse-order .posts .post .post-image {
  padding-right: 0;
  padding-left: 10px;
}
.posts .post .post-content {
  width: 100%;
}
.posts .post .post-content h1 {
  font-size: 1.3125em;
  margin-bottom: .5em;
}
.posts .post .post-content p {
  margin-bottom: .5em;
}
.posts .post .post-content p.post-detail {
  font-style: italic;
  font-size: .9em;
  color: rgba(85, 85, 85, 0.5);
}

.hero {
  background: url("../img/hospital.jpg"), -webkit-linear-gradient(10deg, #20392B, #7F99BE), no-repeat #7F99BE scroll;
  background: url("../img/hospital.jpg"), linear-gradient(10deg, #20392B, #7F99BE), no-repeat #7F99BE scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 2em;
  padding-top: 2em;
}
.hero .hero-logo img {
  height: 3em;
  margin-bottom: 2.5em;
}
.hero .hero-inner {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.hero .hero-inner:after {
  content: "";
  display: table;
  clear: both;
}
.hero .hero-inner:after {
  content: "";
  display: table;
  clear: both;
}
.hero .hero-inner .hero-copy {
  text-align: center;
}
.hero .hero-inner .hero-copy h1 {
  font-size: 1.6em;
  margin-bottom: .5em;
}
@media screen and (min-width: 53.75em) {
  .hero .hero-inner .hero-copy h1 {
    font-size: 1.8em;
  }
}
.hero .hero-inner .hero-copy p {
  font-family: "Merriweather", Georgia, serif;
  margin: auto;
  margin-bottom: 3em;
  font-weight: 200;
  line-height: 1.4em;
}
@media screen and (min-width: 53.75em) {
  .hero .hero-inner .hero-copy p {
    font-size: 1.1em;
    max-width: 40%;
  }
}

.bullets {
  overflow: auto;
  margin-bottom: 1.8;
}
@media screen and (min-width: 53.75em) {
  .bullets .two-col-bullet {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .bullets .two-col-bullet:last-child {
    margin-right: 0;
  }
  .bullets .two-col-bullet:nth-child(2n) {
    margin-right: 0;
  }
  .bullets .two-col-bullet:nth-child(2n+1) {
    clear: left;
  }
}
@media screen and (min-width: 53.75em) {
  .bullets .three-col-bullet {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .bullets .three-col-bullet:last-child {
    margin-right: 0;
  }
  .bullets .three-col-bullet:nth-child(3n) {
    margin-right: 0;
  }
  .bullets .three-col-bullet:nth-child(3n+1) {
    clear: left;
  }
}
@media screen and (min-width: 53.75em) {
  .bullets .four-col-bullet {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .bullets .four-col-bullet:last-child {
    margin-right: 0;
  }
  .bullets .four-col-bullet:nth-child(4n) {
    margin-right: 0;
  }
  .bullets .four-col-bullet:nth-child(4n+1) {
    clear: left;
  }
}
.bullets .bullet-icon {
  float: left;
  background: #477DCA;
  padding: 0.875em;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
}
.bullets .bullet-icon-1 {
  background: #c6443e;
}
.bullets .bullet-icon-2 {
  background: #c6443e;
}
.bullets .bullet-icon-3 {
  background: #c6443e;
}
.bullets .bullet-content {
  margin-left: 4.9em;
  margin-bottom: 2em;
}
.bullets h2 {
  font-size: 1.4em;
  padding-top: 0.5em;
  margin-bottom: 0.58333em;
  border-bottom: 1px solid rgba(85, 85, 85, 0.2);
  display: inline-block;
}

.cards:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f7f7f7;
  border: 1px solid #DDD;
  margin-bottom: 1.5em;
  cursor: pointer;
  position: relative;
}
@media screen and (min-width: 53.75em) {
  .card {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .card:last-child {
    margin-right: 0;
  }
  .card:nth-child(3n) {
    margin-right: 0;
  }
  .card:nth-child(3n+1) {
    clear: left;
  }
}
.card .card-image {
  overflow: hidden;
  max-height: 150px;
}
.card .card-image img {
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #DBD199;
}
.card .ribbon-wrapper {
  height: 85px;
  width: 85px;
  overflow: hidden;
  position: absolute;
  top: -1px;
  right: -1px;
}
.card .ribbon-wrapper .ribbon {
  font-size: .8em;
  font-weight: 800;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  padding: 2px 7px;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #c6443e;
  color: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.card .card-header {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f7f7f7;
  border-bottom: 1px solid #DDD;
  border-radius: 3px 3px 0 0;
  color: #05A185;
  font-weight: bold;
  padding: 0.5em 0.809em;
}
.card .card-copy {
  padding: 0.75em 0.809em;
  font-size: .9em;
  line-height: 1.5em;
}
.card .card-stats {
  padding: 0.75em 0.809em;
  overflow: auto;
}
.card .card-stats ul li {
  display: inline;
  color: #6f99d5;
  font-weight: 800;
  font-size: 1.2em;
  float: left;
  border-right: 1px solid rgba(85, 85, 85, 0.2);
  line-height: 1.1em;
  padding: 0 .7em 0 .7em;
}
.card .card-stats ul li:first-child {
  padding-left: 0;
}
.card .card-stats ul li:last-child {
  border-right: 0;
}
.card .card-stats ul li span {
  color: #555;
  font-size: .7em;
  display: block;
  font-weight: normal;
}
.card:hover {
  background-color: white;
}
.card:hover .card-image img {
  background: #e2daac;
}
.card:hover .card-header {
  background-color: white;
}
.card:active {
  background-color: #f7f7f7;
}
.card:active .card-header {
  background-color: #f7f7f7;
}

.accordion {
  background-color: white;
  margin-bottom: 1.5em;
}
.accordion li {
  border-bottom: 1px solid #DDD;
}
.accordion li > a {
  color: #555;
  padding: 0.75em 1.618em;
  display: block;
  font-size: 0.875em;
}
.accordion li:last-child {
  border: none;
}
.accordion li:hover {
  background-color: white;
}
.accordion ul.submenu {
  display: none;
}
.accordion ul.submenu li:first-child {
  border-top: 1px solid #DDD;
  box-shadow: inset 0 1px 1px #e3e3e3;
}
.accordion ul.submenu li:hover {
  background-color: #f7f7f7;
}
.accordion .is-expanded {
  display: block;
  padding-bottom: 0;
}

.double-feature {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.double-feature:after {
  content: "";
  display: table;
  clear: both;
}
.double-feature .right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.double-feature .right:last-child {
  margin-right: 0;
}
.double-feature .left {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.double-feature .left:last-child {
  margin-right: 0;
}

.scroll-on-page section {
  margin-bottom: 2em;
}

.scroll-on-page-link {
  border-bottom: 1px solid rgba(85, 85, 85, 0.2);
  color: #555;
  padding: 0.75em 0;
  margin-right: 1.5em;
  display: block;
}
.sidebar .scroll-on-page-link {
  font-size: 0.75em;
}
.scroll-on-page-link:last-child {
  margin-bottom: 1.5em;
}
.scroll-on-page-link:hover {
  color: #03705d;
}

#back-button {
  font-size: 0.8125em;
}

.accordion-tabs-minimal {
  margin-bottom: 1.5em;
}
.accordion-tabs-minimal:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 40em) {
  .accordion-tabs-minimal li.tab-header-and-content {
    display: inline;
  }
}
.accordion-tabs-minimal a.tab-link {
  background-color: white;
  border-top: 1px solid #DDD;
  color: #333;
  display: block;
  font-weight: 400;
  padding: 0.75em 1.618em;
}
@media screen and (min-width: 40em) {
  .accordion-tabs-minimal a.tab-link {
    display: inline-block;
    border-top: 0;
  }
}
.accordion-tabs-minimal a.tab-link:hover {
  color: #05A185;
}
.accordion-tabs-minimal a.tab-link:focus {
  outline: none;
}
.accordion-tabs-minimal a.tab-link.is-active {
  border-bottom: 0;
  color: #05A185;
}
@media screen and (min-width: 40em) {
  .accordion-tabs-minimal a.tab-link.is-active {
    border: 1px solid #DDD;
    border-bottom-color: white;
    margin-bottom: -1px;
  }
}
.accordion-tabs-minimal .tab-content {
  display: none;
  padding: 1.5em 1.618em;
}
@media screen and (min-width: 40em) {
  .accordion-tabs-minimal .tab-content {
    border-top: 1px solid #DDD;
    float: left;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-a8wz2n");
  src: url("../fonts/icomoon.eot?#iefix-a8wz2n") format("embedded-opentype"), url("../fonts/icomoon.woff?-a8wz2n") format("woff"), url("../fonts/icomoon.ttf?-a8wz2n") format("truetype"), url("../fonts/icomoon.svg?-a8wz2n#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-times:before {
  content: "\e600";
}

.icon-tick:before {
  content: "\e601";
}

.icon-plus:before {
  content: "\e602";
}

.icon-minus:before {
  content: "\e603";
}

.icon-equals:before {
  content: "\e604";
}

.icon-divide:before {
  content: "\e605";
}

.icon-chevron-right:before {
  content: "\e606";
}

.icon-chevron-left:before {
  content: "\e607";
}

.icon-arrow-right-thick:before {
  content: "\e608";
}

.icon-arrow-left-thick:before {
  content: "\e609";
}

.icon-th-small:before {
  content: "\e60a";
}

.icon-th-menu:before {
  content: "\e60b";
}

.icon-th-list:before {
  content: "\e60c";
}

.icon-th-large:before {
  content: "\e60d";
}

.icon-home:before {
  content: "\e60e";
}

.icon-arrow-forward:before {
  content: "\e60f";
}

.icon-arrow-back:before {
  content: "\e610";
}

.icon-rss:before {
  content: "\e611";
}

.icon-location:before {
  content: "\e612";
}

.icon-link:before {
  content: "\e613";
}

.icon-image:before {
  content: "\e614";
}

.icon-arrow-up-thick:before {
  content: "\e615";
}

.icon-arrow-down-thick:before {
  content: "\e616";
}

.icon-starburst:before {
  content: "\e617";
}

.icon-starburst-outline:before {
  content: "\e618";
}

.icon-star:before {
  content: "\e619";
}

.icon-flow-children:before {
  content: "\e61a";
}

.icon-export:before {
  content: "\e61b";
}

.icon-delete:before {
  content: "\e61c";
}

.icon-delete-outline:before {
  content: "\e61d";
}

.icon-cloud-storage:before {
  content: "\e61e";
}

.icon-wi-fi:before {
  content: "\e61f";
}

.icon-heart:before {
  content: "\e620";
}

.icon-flash:before {
  content: "\e621";
}

.icon-cancel:before {
  content: "\e622";
}

.icon-backspace:before {
  content: "\e623";
}

.icon-attachment:before {
  content: "\e624";
}

.icon-arrow-move:before {
  content: "\e625";
}

.icon-warning:before {
  content: "\e626";
}

.icon-user:before {
  content: "\e627";
}

.icon-radar:before {
  content: "\e628";
}

.icon-lock-open:before {
  content: "\e629";
}

.icon-lock-closed:before {
  content: "\e62a";
}

.icon-location-arrow:before {
  content: "\e62b";
}

.icon-info:before {
  content: "\e62c";
}

.icon-user-delete:before {
  content: "\e62d";
}

.icon-user-add:before {
  content: "\e62e";
}

.icon-media-pause:before {
  content: "\e62f";
}

.icon-group:before {
  content: "\e630";
}

.icon-chart-pie:before {
  content: "\e631";
}

.icon-chart-line:before {
  content: "\e632";
}

.icon-chart-bar:before {
  content: "\e633";
}

.icon-chart-area:before {
  content: "\e634";
}

.icon-video:before {
  content: "\e635";
}

.icon-point-of-interest:before {
  content: "\e636";
}

.icon-infinity:before {
  content: "\e637";
}

.icon-globe:before {
  content: "\e638";
}

.icon-eye:before {
  content: "\e639";
}

.icon-cog:before {
  content: "\e63a";
}

.icon-camera:before {
  content: "\e63b";
}

.icon-upload:before {
  content: "\e63c";
}

.icon-scissors:before {
  content: "\e63d";
}

.icon-refresh:before {
  content: "\e63e";
}

.icon-pin:before {
  content: "\e63f";
}

.icon-key:before {
  content: "\e640";
}

.icon-info-large:before {
  content: "\e641";
}

.icon-eject:before {
  content: "\e642";
}

.icon-download:before {
  content: "\e643";
}

.icon-zoom:before {
  content: "\e644";
}

.icon-zoom-out:before {
  content: "\e645";
}

.icon-zoom-in:before {
  content: "\e646";
}

.icon-sort-numerically:before {
  content: "\e647";
}

.icon-sort-alphabetically:before {
  content: "\e648";
}

.icon-input-checked:before {
  content: "\e649";
}

.icon-calender:before {
  content: "\e64a";
}

.icon-world:before {
  content: "\e64b";
}

.icon-notes:before {
  content: "\e64c";
}

.icon-code:before {
  content: "\e64d";
}

.icon-arrow-sync:before {
  content: "\e64e";
}

.icon-arrow-shuffle:before {
  content: "\e64f";
}

.icon-arrow-repeat:before {
  content: "\e650";
}

.icon-arrow-minimise:before {
  content: "\e651";
}

.icon-arrow-maximise:before {
  content: "\e652";
}

.icon-arrow-loop:before {
  content: "\e653";
}

.icon-anchor:before {
  content: "\e654";
}

.icon-spanner:before {
  content: "\e655";
}

.icon-puzzle:before {
  content: "\e656";
}

.icon-power:before {
  content: "\e657";
}

.icon-plane:before {
  content: "\e658";
}

.icon-pi:before {
  content: "\e659";
}

.icon-phone:before {
  content: "\e65a";
}

.icon-microphone:before {
  content: "\e65b";
}

.icon-media-rewind:before {
  content: "\e65c";
}

.icon-flag:before {
  content: "\e65d";
}

.icon-adjust-brightness:before {
  content: "\e65e";
}

.icon-waves:before {
  content: "\e65f";
}

.icon-social-twitter:before {
  content: "\e660";
}

.icon-social-facebook:before {
  content: "\e661";
}

.icon-social-dribbble:before {
  content: "\e662";
}

.icon-media-stop:before {
  content: "\e663";
}

.icon-media-record:before {
  content: "\e664";
}

.icon-media-play:before {
  content: "\e665";
}

.icon-media-fast-forward:before {
  content: "\e666";
}

.icon-media-eject:before {
  content: "\e667";
}

.icon-social-vimeo:before {
  content: "\e668";
}

.icon-social-tumbler:before {
  content: "\e669";
}

.icon-social-skype:before {
  content: "\e66a";
}

.icon-social-pinterest:before {
  content: "\e66b";
}

.icon-social-linkedin:before {
  content: "\e66c";
}

.icon-social-last-fm:before {
  content: "\e66d";
}

.icon-social-github:before {
  content: "\e66e";
}

.icon-social-flickr:before {
  content: "\e66f";
}

.icon-at:before {
  content: "\e670";
}

.icon-times-outline:before {
  content: "\e671";
}

.icon-plus-outline:before {
  content: "\e672";
}

.icon-minus-outline:before {
  content: "\e673";
}

.icon-tick-outline:before {
  content: "\e674";
}

.icon-th-large-outline:before {
  content: "\e675";
}

.icon-equals-outline:before {
  content: "\e676";
}

.icon-divide-outline:before {
  content: "\e677";
}

.icon-chevron-right-outline:before {
  content: "\e678";
}

.icon-chevron-left-outline:before {
  content: "\e679";
}

.icon-arrow-right-outline:before {
  content: "\e67a";
}

.icon-arrow-left-outline:before {
  content: "\e67b";
}

.icon-th-small-outline:before {
  content: "\e67c";
}

.icon-th-menu-outline:before {
  content: "\e67d";
}

.icon-th-list-outline:before {
  content: "\e67e";
}

.icon-news:before {
  content: "\e67f";
}

.icon-home-outline:before {
  content: "\e680";
}

.icon-arrow-up-outline:before {
  content: "\e681";
}

.icon-arrow-forward-outline:before {
  content: "\e682";
}

.icon-arrow-down-outline:before {
  content: "\e683";
}

.icon-arrow-back-outline:before {
  content: "\e684";
}

.icon-trash:before {
  content: "\e685";
}

.icon-rss-outline:before {
  content: "\e686";
}

.icon-message:before {
  content: "\e687";
}

.icon-location-outline:before {
  content: "\e688";
}

.icon-link-outline:before {
  content: "\e689";
}

.icon-image-outline:before {
  content: "\e68a";
}

.icon-export-outline:before {
  content: "\e68b";
}

.icon-cross:before {
  content: "\e68c";
}

.icon-wi-fi-outline:before {
  content: "\e68d";
}

.icon-star-outline:before {
  content: "\e68e";
}

.icon-media-pause-outline:before {
  content: "\e68f";
}

.icon-mail:before {
  content: "\e690";
}

.icon-heart-outline:before {
  content: "\e691";
}

.icon-flash-outline:before {
  content: "\e692";
}

.icon-cancel-outline:before {
  content: "\e693";
}

.icon-beaker:before {
  content: "\e694";
}

.icon-arrow-move-outline:before {
  content: "\e695";
}

.icon-watch:before {
  content: "\e696";
}

.icon-warning-outline:before {
  content: "\e697";
}

.icon-time:before {
  content: "\e698";
}

.icon-radar-outline:before {
  content: "\e699";
}

.icon-lock-open-outline:before {
  content: "\e69a";
}

.icon-location-arrow-outline:before {
  content: "\e69b";
}

.icon-info-outline:before {
  content: "\e69c";
}

.icon-backspace-outline:before {
  content: "\e69d";
}

.icon-attachment-outline:before {
  content: "\e69e";
}

.icon-user-outline:before {
  content: "\e69f";
}

.icon-user-delete-outline:before {
  content: "\e6a0";
}

.icon-user-add-outline:before {
  content: "\e6a1";
}

.icon-lock-closed-outline:before {
  content: "\e6a2";
}

.icon-group-outline:before {
  content: "\e6a3";
}

.icon-chart-pie-outline:before {
  content: "\e6a4";
}

.icon-chart-line-outline:before {
  content: "\e6a5";
}

.icon-chart-bar-outline:before {
  content: "\e6a6";
}

.icon-chart-area-outline:before {
  content: "\e6a7";
}

.icon-video-outline:before {
  content: "\e6a8";
}

.icon-point-of-interest-outline:before {
  content: "\e6a9";
}

.icon-map:before {
  content: "\e6aa";
}

.icon-key-outline:before {
  content: "\e6ab";
}

.icon-infinity-outline:before {
  content: "\e6ac";
}

.icon-globe-outline:before {
  content: "\e6ad";
}

.icon-eye-outline:before {
  content: "\e6ae";
}

.icon-cog-outline:before {
  content: "\e6af";
}

.icon-camera-outline:before {
  content: "\e6b0";
}

.icon-upload-outline:before {
  content: "\e6b1";
}

.icon-support:before {
  content: "\e6b2";
}

.icon-scissors-outline:before {
  content: "\e6b3";
}

.icon-refresh-outline:before {
  content: "\e6b4";
}

.icon-info-large-outline:before {
  content: "\e6b5";
}

.icon-eject-outline:before {
  content: "\e6b6";
}

.icon-download-outline:before {
  content: "\e6b7";
}

.icon-battery-mid:before {
  content: "\e6b8";
}

.icon-battery-low:before {
  content: "\e6b9";
}

.icon-battery-high:before {
  content: "\e6ba";
}

.icon-zoom-outline:before {
  content: "\e6bb";
}

.icon-zoom-out-outline:before {
  content: "\e6bc";
}

.icon-zoom-in-outline:before {
  content: "\e6bd";
}

.icon-tag:before {
  content: "\e6be";
}

.icon-tabs-outline:before {
  content: "\e6bf";
}

.icon-pin-outline:before {
  content: "\e6c0";
}

.icon-message-typing:before {
  content: "\e6c1";
}

.icon-directions:before {
  content: "\e6c2";
}

.icon-battery-full:before {
  content: "\e6c3";
}

.icon-battery-charge:before {
  content: "\e6c4";
}

.icon-pipette:before {
  content: "\e6c5";
}

.icon-pencil:before {
  content: "\e6c6";
}

.icon-folder:before {
  content: "\e6c7";
}

.icon-folder-delete:before {
  content: "\e6c8";
}

.icon-folder-add:before {
  content: "\e6c9";
}

.icon-edit:before {
  content: "\e6ca";
}

.icon-document:before {
  content: "\e6cb";
}

.icon-document-delete:before {
  content: "\e6cc";
}

.icon-document-add:before {
  content: "\e6cd";
}

.icon-brush:before {
  content: "\e6ce";
}

.icon-thumbs-up:before {
  content: "\e6cf";
}

.icon-thumbs-down:before {
  content: "\e6d0";
}

.icon-pen:before {
  content: "\e6d1";
}

.icon-sort-numerically-outline:before {
  content: "\e6d2";
}

.icon-sort-alphabetically-outline:before {
  content: "\e6d3";
}

.icon-social-last-fm-circular:before {
  content: "\e6d4";
}

.icon-social-github-circular:before {
  content: "\e6d5";
}

.icon-compass:before {
  content: "\e6d6";
}

.icon-bookmark:before {
  content: "\e6d7";
}

.icon-input-checked-outline:before {
  content: "\e6d8";
}

.icon-code-outline:before {
  content: "\e6d9";
}

.icon-calender-outline:before {
  content: "\e6da";
}

.icon-business-card:before {
  content: "\e6db";
}

.icon-arrow-up:before {
  content: "\e6dc";
}

.icon-arrow-sync-outline:before {
  content: "\e6dd";
}

.icon-arrow-right:before {
  content: "\e6de";
}

.icon-arrow-repeat-outline:before {
  content: "\e6df";
}

.icon-arrow-loop-outline:before {
  content: "\e6e0";
}

.icon-arrow-left:before {
  content: "\e6e1";
}

.icon-flow-switch:before {
  content: "\e6e2";
}

.icon-flow-parallel:before {
  content: "\e6e3";
}

.icon-flow-merge:before {
  content: "\e6e4";
}

.icon-document-text:before {
  content: "\e6e5";
}

.icon-clipboard:before {
  content: "\e6e6";
}

.icon-calculator:before {
  content: "\e6e7";
}

.icon-arrow-minimise-outline:before {
  content: "\e6e8";
}

.icon-arrow-maximise-outline:before {
  content: "\e6e9";
}

.icon-arrow-down:before {
  content: "\e6ea";
}

.icon-gift:before {
  content: "\e6eb";
}

.icon-film:before {
  content: "\e6ec";
}

.icon-database:before {
  content: "\e6ed";
}

.icon-bell:before {
  content: "\e6ee";
}

.icon-anchor-outline:before {
  content: "\e6ef";
}

.icon-adjust-contrast:before {
  content: "\e6f0";
}

.icon-world-outline:before {
  content: "\e6f1";
}

.icon-shopping-bag:before {
  content: "\e6f2";
}

.icon-power-outline:before {
  content: "\e6f3";
}

.icon-notes-outline:before {
  content: "\e6f4";
}

.icon-device-tablet:before {
  content: "\e6f5";
}

.icon-device-phone:before {
  content: "\e6f6";
}

.icon-device-laptop:before {
  content: "\e6f7";
}

.icon-device-desktop:before {
  content: "\e6f8";
}

.icon-briefcase:before {
  content: "\e6f9";
}

.icon-stopwatch:before {
  content: "\e6fa";
}

.icon-spanner-outline:before {
  content: "\e6fb";
}

.icon-puzzle-outline:before {
  content: "\e6fc";
}

.icon-printer:before {
  content: "\e6fd";
}

.icon-pi-outline:before {
  content: "\e6fe";
}

.icon-lightbulb:before {
  content: "\e6ff";
}

.icon-flag-outline:before {
  content: "\e700";
}

.icon-contacts:before {
  content: "\e701";
}

.icon-archive:before {
  content: "\e702";
}

.icon-weather-stormy:before {
  content: "\e703";
}

.icon-weather-shower:before {
  content: "\e704";
}

.icon-weather-partly-sunny:before {
  content: "\e705";
}

.icon-weather-downpour:before {
  content: "\e706";
}

.icon-weather-cloudy:before {
  content: "\e707";
}

.icon-plane-outline:before {
  content: "\e708";
}

.icon-phone-outline:before {
  content: "\e709";
}

.icon-microphone-outline:before {
  content: "\e70a";
}

.icon-weather-windy:before {
  content: "\e70b";
}

.icon-weather-windy-cloudy:before {
  content: "\e70c";
}

.icon-weather-sunny:before {
  content: "\e70d";
}

.icon-weather-snow:before {
  content: "\e70e";
}

.icon-weather-night:before {
  content: "\e70f";
}

.icon-media-stop-outline:before {
  content: "\e710";
}

.icon-media-rewind-outline:before {
  content: "\e711";
}

.icon-media-record-outline:before {
  content: "\e712";
}

.icon-media-play-outline:before {
  content: "\e713";
}

.icon-media-fast-forward-outline:before {
  content: "\e714";
}

.icon-media-eject-outline:before {
  content: "\e715";
}

.icon-wine:before {
  content: "\e716";
}

.icon-waves-outline:before {
  content: "\e717";
}

.icon-ticket:before {
  content: "\e718";
}

.icon-tags:before {
  content: "\e719";
}

.icon-plug:before {
  content: "\e71a";
}

.icon-headphones:before {
  content: "\e71b";
}

.icon-credit-card:before {
  content: "\e71c";
}

.icon-coffee:before {
  content: "\e71d";
}

.icon-book:before {
  content: "\e71e";
}

.icon-beer:before {
  content: "\e71f";
}

.icon-volume:before {
  content: "\e720";
}

.icon-volume-up:before {
  content: "\e721";
}

.icon-volume-mute:before {
  content: "\e722";
}

.icon-volume-down:before {
  content: "\e723";
}

.icon-social-vimeo-circular:before {
  content: "\e724";
}

.icon-social-twitter-circular:before {
  content: "\e725";
}

.icon-social-pinterest-circular:before {
  content: "\e726";
}

.icon-social-linkedin-circular:before {
  content: "\e727";
}

.icon-social-facebook-circular:before {
  content: "\e728";
}

.icon-social-dribbble-circular:before {
  content: "\e729";
}

.icon-tree:before {
  content: "\e72a";
}

.icon-thermometer:before {
  content: "\e72b";
}

.icon-social-tumbler-circular:before {
  content: "\e72c";
}

.icon-social-skype-outline:before {
  content: "\e72d";
}

.icon-social-flickr-circular:before {
  content: "\e72e";
}

.icon-social-at-circular:before {
  content: "\e72f";
}

.icon-shopping-cart:before {
  content: "\e730";
}

.icon-messages:before {
  content: "\e731";
}

.icon-leaf:before {
  content: "\e732";
}

.icon-feather:before {
  content: "\e733";
}

/*# sourceMappingURL=prototype.css.map */
