// Colors
$primary-color: #39abe2;
$primary-color-light: #39abe2;
$secondary-color: #31bc86;
$text-color: rgba(51,51,51,0.8);

// Search
$search-bar-height: 45px;

// Flex Boxes
$base-border-radius: 3px !default;
$base-background-color: white !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$base-font-color: $dark-gray !default;
$flex-box-border-color: $light-gray;
$flex-box-border: 1px solid $flex-box-border-color;
$flex-box-background: lighten($light-gray, 10%);
$flex-box-gutter: 0.4em;
$flex-box-width: 18em;
$flex-box-color: transparentize($base-font-color, 0.3);
$flex-box-top-colors:
  #ed037c,
  #5db243,
  #f68b1f,
  #00a8e7,
  #CCC,
  #F6C05C;

// Device Background
$base-border-radius: 3px !default;
$action-color: #477DCA !default;
$large-screen: 53.75em !default;
$device-padding-vertical: 5em;
$device-padding-horizontal: 0.4em;
$device-screen-width: 14em;
$device-screen-height: 25em;
$device-background: darken(gray, 40%);
$device-backside-background: darken($device-background, 10%);
$device-text-color: $text-color;
$device-background-top: #162C4C;
$device-background-bottom: #0A120D;
$gradient-angle: 10deg;
$device-screen-image: "../images/app-screenshot.png";



$base-line-height: 1.5em !default;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$base-font-color: $dark-gray !default;
$icon-bullet-size: 3.5em;