/////////////////////////////////////////////////////////////////////
// UX Audit
/////////////////////////////////////////////////////////////////////

* {
  box-sizing: border-box;
  transition: all .25s ease-in-out;
}

body {
  font-family: 'Open+Sans', sans-serif;
  color: $text-color;
  background: white;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  min-width: 1340px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

th, label {
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: .035rem;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
}

h4 {
  font-family: 'Open+Sans', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
}

h1 {
  font-size: 3rem;
  letter-spacing: .15rem;
  color: white;
}

h2, h3 {
  color: rgba(51,51,51,1);
}

h3 {
  font-size: 2rem;
  letter-spacing: .075rem;  
}

h5 {
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: .25em;
}

a {
  cursor: pointer;
  text-decoration: none;
}

hr {
  height: 1px;
  border: none;
  background-color: #000;
}

table {
  border-collapse: collapse;
  margin-bottom: 3em;
  width: 100%;
  background: #fff;
}
td, th {
  padding: 0.75em 1.5em;
  text-align: left;
}

td.err {
  background-color: #e992b9;
  color: #fff;
  font-size: 0.75em;
  text-align: center;
  line-height: 1;
}

th {
  background-color: #00a8e7;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
  
  a {
    color: white;
  }
}

ul {
  padding-left: 1rem;
  margin-left: 2rem;
}

tbody th {
  background-color: #00a8e7;
}

tbody tr:nth-child(2n-1) {
    background-color: #f7f7f7;
    transition: all .125s ease-in-out;
}

tbody tr:hover {
    background-color: rgba(0,168,231,.15);
}

.icon:before {
  cursor: pointer;

  &:hover {
    color: $secondary-color;
  }
}

blockquote {
  padding-left: 1rem;
  margin-left: 2rem;
  margin-top: 3rem;
  font-size: 21px;

}

.inline-input {
  background-color: transparent;
  border: 0;
}

/////////////////////////////////////////////////////////////////////
// Main
/////////////////////////////////////////////////////////////////////

.page {
  .page-inner {
    padding: 5.625rem;  
  }
}

// Elev8ted Logo
.logo {
  text-align: center;
  width: 100%;

  img {
    padding: 2.81rem 0;
  }

  hr {
    margin-bottom: 2.81rem;  
  }

}

// Blue Header
.audit-header {
  background-color: #39abe2;

  .header-inner {
    padding: 2.81rem 5.625rem;
  }
}

// Brunello Footer
.audit-footer {
  vertical-align: middle;

  .badge {
    float: left;
    margin-right: 1em;
    width: 60px;
  }

  a {
    color: $primary-color;
    
    &:hover {
      color: darken($primary-color, 15%);
    }
  }  

  p {
    float: left;
    line-height: 64px;
    margin: 0;
  }
}

// Intro Text
.intro {
  font-family: 'Open+Sans', sans-serif;

  p {
    font-size: 18px;
    font-weight: 400;    
  }

  a {
    color: $primary-color;
    
    &:hover {
      color: darken($primary-color, 15%);
    }
  } 
}

// Graph Section
.resources {
  padding: 2.81rem 0;
  clear: both;
}

// Table Hacks
.item-issue {
  padding-top: 1.75em;
}

.item-appeal {
  margin-bottom: 1em;
  font-size: 14px;
}

.item-focus {
  width: 225px;
}

// Issue Link Block
.linkblock {
  .link {
    display: inline-block;
    padding: 0 1em 1em 0em;
  }  
}


.content-links {
  padding: 2.81rem 0;
  clear: both;
}

/////////////////////////////////////////////////////////////////////
// Suggestions
/////////////////////////////////////////////////////////////////////
.suggestion-list {
  padding: 0;
  margin: 0;
  overflow-y: scroll;

  table {
    tbody {
      a {
        color: $primary-color;
        
        &:hover {
          color: darken($primary-color, 15%);
        }
      }      
    }
  }
}

// Search Bar / Filters
.search-suggestion {
  padding: 0 20px;
  position: relative;
  height: $search-bar-height;

  span {
    float: right;
  }

  label{
    padding: 8px 16px 8px 0;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(51,51,51,1);
    font-weight: bold;
  }

  input {
    padding: 4px;
    width: 250px;
  }
  
  input,
  select {
    font-size: 15px;
    font-weight: 400;
    margin-left: 4px;
  }

  .right {
    float: right;
  }
}


/////////////////////////////////////////////////////////////////////
// Flex-boxes
/////////////////////////////////////////////////////////////////////
.flex-boxes {
  @include clearfix;
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  .flex-box {
    align-self: stretch;
    background: $flex-box-background;
    border-radius: $base-border-radius;
    box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10%);
    display: block;
    flex: 2 2 15em;
    width: 32%;
    margin: $flex-box-gutter;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    @for $i from 1 to 7 { 
      // assign colors from $flex-box-top-colors list
      &:nth-child(#{$i}) {
        $color-from-list: nth($flex-box-top-colors, $i);
        border-top: 6px solid $color-from-list;
      }
    }

    img {
      display: block;
      height: 3em;
      margin: 0 auto 1em;
      opacity: 0.4;
    }

    .flex-title {
      color: $flex-box-color;
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }

    p {
      color: transparentize($flex-box-color, 0.1);
      line-height: 1.5em;
      margin: auto;
    }
  }

  .flex-box-big {
    flex: 1 1 40em;
  }
}

/////////////////////////////////////////////////////////////////////
// Device Background
/////////////////////////////////////////////////////////////////////
.device-background {
  min-height: 20em;
  width: 100%;

  .device-text {

    @media screen and (min-width: $large-screen) {
      float: left;
      max-width: 60%;
    }

    h4 {
      border-bottom: 1px solid transparentize($device-text-color, 0.7);
      color: $device-text-color;
      font-size: 1.5em;
      margin: 0 0 0.5em 0;
      padding-bottom: 0.5em;
    }

    p {
      color: $device-text-color;
      line-height: 1.5em;
      margin-bottom: 1.5em;
    }
  }

  .device {
    display: none;
    position: relative;

    @media screen and (min-width: $large-screen) {
      background: $device-background;
      border-radius: 2em;
      box-shadow:
        1px 0 lighten($device-backside-background, 20%),
        4px 0 lighten($device-backside-background, 2%),
        7px 0 $device-backside-background,
        10px 0 $device-backside-background,
        13px 0 $device-backside-background;
      display: block;
      float: right;
      margin-bottom: -12em;
      margin-right: 5em;
      padding: $device-padding-vertical 0;
      transform:
        perspective(800px)
        translateX(0)
        translateY(50px)
        translateZ(50px)
        rotateX(0)
        rotateY(-20deg)
        rotateZ(0)
      ;
      width: $device-screen-width + (2 * $device-padding-horizontal);
      z-index: 99999;

      .screen {
        width: $device-screen-width;
        height: $device-screen-height;
        background-image: url($device-screen-image);
        background-size: cover;
        border-radius: 0.2em;
        box-shadow: inset 0 1px 8px transparentize(black, 0.5);
        margin: auto;
      }
    }
  }
}


/////////////////////////////////////////////////////////////////////
// Link Bullets
/////////////////////////////////////////////////////////////////////
.bullets {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  margin-bottom: $base-line-height;
  overflow: auto;
  padding: 0;

  .bullet {
    flex-basis: 33%;
  }

  .bullet-icon {
    background: $action-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;

    span {
      color: white;

      &:before {
        font-size: 27px;
      }
    }
  }

  .bullet-icon-1 {
    background: #00a8e7;
  }

  .bullet-icon-2 {
    background: #00a8e7;
  }

  .bullet-icon-3 {
    background: #00a8e7;
  }

  .bullet-icon-4 {
    background: #00a8e7;
  }

  .bullet-icon-5 {
    background: #00a8e7;
  }


  .bullet-content {
    margin-bottom: 2em;
    margin-left: $icon-bullet-size * 1.4;
  }

  h4 {
    display: inline-block;
    margin: 0 0 16px 0;
    padding-top: 12px;
  }

  li {
    list-style: none;
  }

  a {
    color: $primary-color;

    &:hover {
      color: darken($primary-color, 15%);
    }
  }
}



/////////////////////////////////////////////////////////////////////
// line behind text
/////////////////////////////////////////////////////////////////////
.line-behind-text {
    border-bottom: 1px solid #cacaca;
    margin-bottom: 4.5em;
    text-align: center;
}

.line-behind-text h6 {
    background: #fff;
    color: #808080;
    display: inline-block;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1em;
    font-weight: 500;
    padding: 0 10px;
    position: relative;
    margin-top: 0em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    top: 37px;
}

