---
title: Implementation
description: Site Design and Build
last-edit: 5.30.19
back-url: /work/all
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">

        <p>Site Examples</p>

        <div class="specimen">
          <img
            src="../assets/img/projects/paw/screenshot-2.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Design, Drupal Development</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/dam/dam.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Drupal Development</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/citizens/citizens.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Drupal Development</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/esco/esco.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Shopify Development</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/brunello/brunello-inc.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Design, Drupal Development</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/hle/ibx.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Sketch of Idea</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/blink/home.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Site Design and Development</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/enelx/product-map.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Sketch of Idea</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/enelx/calculator.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">This is the Homepage</div>
        </div>

        {{> credits}}

      </article>
    </div>
  </div>
</main>


