---
title: Information Architecture
description: Content and Wayfinding
last-edit: 5.30.19
back-url: /work/all
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/brunello/brunello-sitemap.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Brunello.com Sitemap Diagram</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/cmsb/wireframes-map.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">CMS Builder Visual Sitemap Diagram</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/paw/sitemap_v1.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Princeton Alumni Magazine Sitemap Diagram</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/brm/brm-sitemap_v1.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Bally RIbbon Mills Sitemap Diagram</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/imaginatik/imaginatik-sitemap.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div>Imaginatik Sitemap Diagram</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/bicycling/content-inventory-3.jpg"
            alt="Elephant at sunset"
          />
          <div class="caption">
            Bicycling.com Content Inventory and Content Priority Diagram
          </div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/paw/cpw-04.jpg"
            alt="Elephant at sunset"
          />
          
          <div class="caption">
            Princeton Alumni Magazine Content Priority Diagram
          </div>
        </div>

        <!-- wireframe-rwd-article-page.jpg -->

        {{> credits}}

      </article>
    </div>
  </div>
</main>






