---
title: Page Layout 
description: Wireframing Examples
last-edit: 5.30.19
back-url: /work/all
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">

        <p>Implementation</p>

        <div class="specimen">
          <img
            src="../assets/img/projects/brunello/brunello-components.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Final Homepage Design</div>
        </div>

        <div class="specimen stretch">
          <img 
            src="../assets/img/projects/bicycling/wireframes-bicycling-4.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Final Homepage Design</div>
        </div>

        <div class="specimen stretch">
          <img 
              src="../assets/img/projects/paw/cpw-11.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Final Homepage Design</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/imaginatik/imaginatik_block-types.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Section Wireframe</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/guideposts/gp-subscriptionoffers.png"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Section Wireframe</div>
        </div>

        <div class="fake-browser-ui paper">
          <div class="frame">
              <span style="background-color: #FB625D;"></span>
              <span style="background-color: #FDBD40;"></span>
              <span style="background-color: #35CC4B;"></span>
          </div>

          <div class="scroll-box">
            <img 
              src="../assets/img/projects/paw/wireframe-rwd-article-page.png" 
              alt="A nice description">
          </div>
        </div>

        <p>Wireframes</p>
        <div class="specimen">
          <div class="stack">
            <img
              src="../assets/img/projects/questex/response-wireframe.jpg"
              alt="Elephant at sunset"
            />
            <img
              src="../assets/img/projects/questex/response-mockup.jpg"
              alt="Elephant at sunset"
            />
          </div>
          <div class="caption"></div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/elv8ed/031-buttons.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Section Wireframe</div>
        </div>


        <div class="specimen">
          <img
            src="../assets/img/projects/brm/brm-wires_page_3.png"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Section Wireframe</div>
        </div>


        {{> credits}}

      </article>
    </div>
  </div>
</main>


