---
title: Moodboards
description: Site Deisgn
last-edit: 5.30.19
back-url: /work/all
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/mena/maena-moodboard_v2d.png"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Style Direction</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/hle/plansite-moodboard.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Sketch of Idea</div>
        </div>

      <div class="specimen">
          <img
            src="../assets/img/projects/brm/brm_tile-2.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Style Direction #1</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/brm/brm_tile-1.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Style Direction #2</div>
        </div>

        {{> credits}}

      </article>
    </div>
  </div>
</main>
