<!-- <table class="responsive-enabled" data-striping="1"> -->
<table data-striping="1">
  <thead>
    <tr>
      <th specifier="lineup" aria-sort="ascending" class="is-active">
        <a href="/dashboard/plansites/166/lineups?sort=desc&amp;order=Lineup" title="sort by Lineup">Lineup<span class="tablesort tablesort--desc"><span class="visually-hidden">Sort descending</span></span>
        </a>
      </th>
      <th specifier="date"><a href="/dashboard/plansites/166/lineups?sort=asc&amp;order=Last%20Activity" title="sort by Last Activity">Last Activity</a></th>
      <th specifier="ideas"><a href="/dashboard/plansites/166/lineups?sort=asc&amp;order=Ideas" title="sort by Ideas">Ideas</a></th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>NVI Sprint 1, Batch 1</td>
      <td>09/28/2018 - 10:40</td>
      <td>5</td>
    </tr>
    <tr class="even">
      <td>VIDEO SERIES 1, What it looks like</td>
      <td>10/16/2018 - 21:39</td>
      <td>6</td>
    </tr>
    <tr class="odd">
      <td>VIDEO SERIES 2, Expert Demos</td>
      <td>10/24/2018 - 12:06</td>
      <td>9</td>
    </tr>
    <tr class="even">
      <td>Sprint 1, Batch 2</td>
      <td>10/23/2018 - 17:28</td>
      <td>10</td>
    </tr>
    <tr class="odd">
      <td>VIDEO SERIES 3, Animated</td>
      <td>11/08/2018 - 18:18</td>
      <td>7</td>
    </tr>
    <tr class="even">
      <td>Sprint 2 Lineup</td>
      <td>11/14/2018 - 13:07</td>
      <td>25</td>
    </tr>
    <tr class="odd">
      <td>Sprint 3 Lineup</td>
      <td>12/05/2018 - 04:05</td>
      <td>18</td>
    </tr>
    <tr class="even">
      <td>VIDEO SERIES 4, I Rely on My Eyes</td>
      <td>12/10/2018 - 17:13</td>
      <td>8</td>
    </tr>
    <tr class="odd">
      <td>January 2019 Lineup</td>
      <td>01/24/2019 - 04:58</td>
      <td>15</td>
    </tr>
    <tr class="even">
      <td>February 2019 Lineup</td>
      <td>02/25/2019 - 18:21</td>
      <td>19</td>
    </tr>
  </tbody>
</table>