{{ attach_library('brunello/icons') }}

<div class="kss-icons">
  
  <div class="kss-icons__item">
  	<span class="brand-circle-twitter">&nbsp;</span>
    <p class="kss-icons__name">twitter</p>
  </div>

  <div class="kss-icons__item">
  	<span class="brand-circle-facebook">&nbsp;</span>
    <p class="kss-icons__name">facebook</p>
  </div>

  <div class="kss-icons__item">
		<span class="brand-circle-linkedin">&nbsp;</span>
    <p class="kss-icons__name">linkedin</p>
  </div>

  <div class="kss-icons__item">
		<span class="brand-circle-pinterest">&nbsp;</span>
    <p class="kss-icons__name">pinterest</p>
  </div>

</div>