/* Article Styling

Display Modes

content-full
content-teaser

 */

article {
  width: 100%;
  max-width: 700px;
  margin: 0px auto;
  position: relative;

  @include media($sm-breakpoint) {
    padding: 0;
  }

  // Reserved for page title
  h1 {
    color: #5e6bb8;
  }

  h2 {
    font-size: 3.5em;
    line-height: 1;
    margin-bottom: 0.35em;

    @include media($sm-breakpoint) {
      font-size: 2.75em;
    }

    span {
      color: $secondary-color;
    }
  }

  h3 {
    margin-bottom: 1em;
  }

  h4 {
  }

  h5 {
  }

  p {
    font-family: $sans-serif-2;
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 3em;

    @include media($sm-breakpoint) {
      font-size: 1.5em;
    }
  }
}

.view-teaser {
}
.view-full {
}

// Max Line Length
.content {
  font-size: 16px;
  width: 100%;

  @include media($md-breakpoint) {
    max-width: 756px;
  }
}

.date {
}

.author {
}

footer.credits,
.credits {
  .attribution {
    font-size: 16px;
  }

  .last-edit {
    font-size: 16px;
  }
}
