// Buttons
//
// Your standard button suitable for clicking.
//
// :hover   - Highlights when hovering.
// :focus   - Highlights when hovering.
// :active   - Highlights when hovering.
// :disabled   - Highlights when hovering.
//
// Markup: buttons/buttons.twig
//
// Style guide: Pattern Library.buttons

/* 
 * Button
 * button map - 
 * themable 
 */

$button-padding-default: 9px 24px 10px 24px !default;
$button-padding-small: 4px 24px !default;
$button-background-color: linear-gradient(to bottom, $white, $subtle-gray)  !default;
$button-background-color--hover: linear-gradient(to bottom, $subtle-gray, $white) !default;
$button-background-color--focus: linear-gradient(to bottom, $subtle-gray, $white) !default;
// -webkit-linear-gradient(top, $subtle-gray, $white)
$button-background-color--active: $light-gray !default;
$button-border-color: $medium-gray !default;

// Primary Buttons
$button-primary-background-color: $action-color !default;
$button-primary-background-color--hover: $action-color--hover !default;
$button-primary-background-color--focus: $action-color--focus !default;
$button-primary-background-color--active: $action-color--active !default;


@mixin clickable {
  appearance: none;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-shadow: none;
  font-size: 1rem;
  font-weight: 600;

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    text-decoration: none;
  }

  &:disabled,
  &:disabled:active,
  &.is-disabled,
  &.is-disabled:active {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.button,
.form-submit {
  @include clickable();
  padding: $button-padding-default;
  border-radius: $base-corner-radius;
  border: 1px solid $button-border-color;
  background-color: $white;
  background: $button-background-color;
  // transition: $clickable-traansition;
  color: $text-color;

  &:hover,
  &:focus {
    border-color: $button-border-color;
    background: linear-gradient(to bottom, $subtle-gray, $white);
    color: $text-color;
  }  

  &:active {
    background: $button-background-color--active;
    border-color: $button-border-color;
  }

  &:disabled,
  &:disabled:active,
  &.is-disabled,
  &.is-disabled:active {
    box-shadow: none;
    border-color: #d4d4d4;
    background: #ededed;
    color: #5c5c5c;
    cursor: not-allowed;
    opacity: 0.5;
  }  
}

.button--small {
  font-size: 1rem;
  padding: $button-padding-small;
}

.button--primary,
.form-submit {
  background: $button-primary-background-color;
  border-color: $button-primary-background-color;
  color: $white;

  &:hover,
  &:focus {
    background: $button-primary-background-color--hover;
    border-color: $button-primary-background-color--hover;
    color: $white;
  }

  &:active {
    background: $button-primary-background-color--active;
    border-color: $button-primary-background-color--active;
  }

}

.button--inline {
  display: inline;
  cursor: pointer;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: 400;
  text-decoration: underline;

  .danger {
    color: #c72100;  
  }

  &:hover,
  &:focus,
  &:active {
    color: #ff2a00;
    text-decoration: underline;
    text-shadow: none;
    padding: 0;
    border: 0;
    box-shadow: none;
    background: none;
  }

  &:disabled,
  &.is-disabled {
    color: #737373;
    cursor: default;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    border: 0;
    box-shadow: none;
    background: none;
  }
}

