// Line Behind Text
.line-behind-text {
  // border-bottom: 1px solid $red-eye;
  text-align: center;
  width: 20%;
  min-width: 200px;
  margin: 8em auto 3em;

  h2 {
    background: $red-eye;
    margin-bottom: 0;
    color: $white;
    display: inline-block;
    font-size: 1rem;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    top: 14px;
  }
}
