.mast-head {
  .ingredient {
    fill: $white;
    display: block;
    transform-origin: 50% 50%;
    transition: transform 0.3s ease 0s;
  }
  .bun-top {
    transform: rotate(0deg) translateY(0px);
  }
  .meat-middle {
    transform: scaleX(1);
  }
  .bun-bottom {
    transform: rotate(0deg) translateY(0px);
  }

  &.active {
    .bun-top {
      transform: rotate(-45deg) translateY(10px);
    }
    .meat-middle {
      transform: scaleX(0);
    }
    .bun-bottom {
      transform: rotate(45deg) translateY(-10px);
    }
  }
}

.menu-button {
  background-color: transparent;
  min-height: 25px;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  z-index: layer('top');
}
