// Line Behind Text
.line-behind-text {
  border-bottom: 1px solid $paragraph-font-color;
  text-align: center;
  width: 20%;
  min-width: 200px;
  margin: 8em auto 3em;

  h2 {
    background: #f4f4f4;
    margin-bottom: 0;
    color: $paragraph-font-color;
    display: inline-block;
    font-size: 1rem;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    top: 14px;
  }

  &.purple {
    border-color: $future-yellow;

    h2 {
      background: #5e6bb8;
      color: $future-yellow;
    }
  }
}
