/* Panel 
   Container with a fixed height */

.size-to-window  {
  @include media($md-breakpoint) {
    // Panelize (100vh, 850px);
    width: 100%;
    height: 100vh;
    max-height: 850px;
  }    
}