---
meta_title: Kyle Langford | Personal Site
meta_description: My name is Kyle Langford, and this is my Web Design and Development website.
---

<header class="container intro">
  <div class="row flex flex-align--center flex--justify fill-height">
    <div class="column two-thirds">
      <div class="intro-message">
        <h1 class="page__title">Kyle Langford</h1>
        <h2 class="page__sub-title">
          <br />
          <span class="icon-at-sign"></span>&nbsp;Brunello, Inc.<br />
          <span class="icon-coffee"></span><a href="https://github.com/kylelangford/react-express-basecamp-classic-api">&nbsp;Working on.</a><br />
          <span class="icon-zap"></span><a href="https://learnvanillajs.com/">&nbsp;In my spare time.</a><br />
          <span class="icon-home"></span>&nbsp;Boston, MA
        </h2>
      </div>
    </div>
  </div>
</header>

<section class="container size-to-window event--close-hint">

  <div class="row flex flex-align--center fill-height pad-default">
    <div class="column two-thirds animate fade-in">
      <h2>Creative Technology</h2>
      <p class="text--large">
        My name is Kyle Langford I have over 10 years of professional experience designing and developing online websites. I focus on creating easy to use interfaces and writing clean human-readable code. I am passionate about learning new skills and developing my process. I have a positive attitude and enjoy bringing ideas to life.
      </p>
    </div>
    <figure class="image">
      <!-- <img
        src="assets/img/svg/desk.svg"
        class="icon-image position-bottom-right"
      /> -->
      <lottie-player
        autoplay
        loop
        mode="normal"
        src="assets/lottie/desk.json"
        style="width: 540px"
      >
      </lottie-player>
    </figure>
  </div>
</section>

<section class="container size-to-window relative">
  <!-- User Interface Design  -->
  <header class="row pad-default">
    <div class="column">
      <div class="text--display"><strong>Digital Experience</strong></div>
      <p>Modern. Simple. Human.</p>
    </div>
  </header>
  <!-- Capabilities -->
  <div class="row flex pad-default">
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Interface Design</p>
      <ul class="pretty">
        <li>Mobile First</li>
        <li>Responsive Web Design</li>
        <li>Web Forms</li>
        <li>SVG Animation</li>
        <li>Data Visualization</li>
      </ul>
    </div>
    <div class="column one-fourth animate fade-in">
      <!-- Capabilities  -->
      <p class="list-title">User Experience</p>
      <ul class="pretty">
        <li>Wireframing</li>
        <li><a href="https://www.nngroup.com/articles/ten-usability-heuristics/">User Heuristics</a></li>
        <li><a href="https://www.w3.org/TR/WCAG21/">WAGC2.1 Accessibility</a></li>
      </ul>
    </div>
    <!-- Design Tools -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Process</p>
      <ul class="pretty">
        <li>Information Architecture</li>
        <li>Content Strategy</li>
        <li>Design Systems</li>
      </ul>
    </div>
  </div>
</section>

<section class="container size-to-window relative">
  <!-- Development  -->
  <header class="row flex--inline  pad-default">
    <div class="column">
      <div class="text--display">
        <strong>Web Dev<span class="hide--for-mobile">elopment</span></strong>
      </div>
      <p>Plan. Implement. Iterate.</p>
    </div>
  </header>

  <div class="row flex  pad-default">
    <!-- Capabilities -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Focus</p>
      <ul class="pretty">
        <li>Web Development</li>
        <li>Content Management<li>
        <li>Theming</li>
        <li>Estimating</li>
      </ul>
    </div>
    <!-- Core -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Stack</p>
      <ul class="pretty">
        <li>Javascript</li>
        <li>HTML and CSS</li>
        <li>PHP and MYSQL</li>
        <li>Git: Source Control</li>
        <li>Node / NPM</li>
        <li>Gulp.js</li>
      </ul>
    </div>
    <!-- Technologies -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Technology</p>
      <ul class="pretty">
        <li>Drupal CMS</li>
        <li>ReactJS</li>
        <li>LAMP</li>
      </ul>
    </div>
  </div>
</section>

<section class="container contact size-to-window relative">
  <!-- Contact Info -->
  <header class="row pad-default">
    <div class="column">
      <h2 class="section__title">Find Me.</h2>
    </div>
  </header>

  <div class="row flex pad-double">
    <!-- Get in Touch -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Get in Touch</p>
      <ul class="pretty">
        <li class="list__item">
          <a href="mailto:kyle@raskyl.com"
            ><span class="icon icons-list icon-mail"></span>Email</a
          >
        </li>
        <li class="list__item">
          <a href="https://linkedin.com/in/kylelangford"
            ><span class="icon icons-list icon-linkedin"></span>Linkedin</a
          >
        </li>

      </ul>
    </div>
    <!-- Locations -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Links</p>
      <ul class="pretty">

        <li class="list__item">
          <a href="/work/all"
            ><span class="icons-list icon-lock"></span>Portfolio</a
          >
        </li>
        <li class="list__item">
          <a href="/assets/resume/kylelangford_resume.pdf"
            ><span class="icons-list icon-download-cloud"></span>Resume</a
          >
        </li>
        <li class="list__item">
          <a href="https://github.com/kylelangford"
            ><span class="icon icons-list icon-github"></span>Github</a
          >
        </li>
        <li class="list__item">
          <a href="https://codepen.io/kylelangford"
            ><span class="icon icons-list icon-codepen"></span>Codepen</a
          >
        </li>
      </ul>
    </div>
    <!-- Misc Links -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">More Links</p>
      <ul class="pretty">
        <li class="list__item">
          <a href="/bookmarks"
            ><span class="icons-list icon-bookmark"></span>Bookmarks</a
          >
        </li>
        <li class="list__item">
          <a href="https://github.com/kylelangford/primer-css"
            ><span class="icons-list icon-external-link"></span>Mixin' It</a
          >
        </li>
        <li class="list__item">
          <a href="http://readable-js.com"
            ><span class="icons-list icon-external-link"></span>Readable.js</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>

<footer class="container intro">
  <div class="row flex flex-align--center flex--justify fill-height">
    <div class="column two-thirds">
      <div class="intro-message">
        <h2 class="page__sub-title">
           Life is better when you make <a href="http://swordofdanklin.com"
            >things</a>.
        </h2>
      </div>
    </div>
  </div>
</footer>





