---
meta_title: Web Design and Development | Kyle Langford
meta_description: My name is Kyle Langford, and this is my Web Design and Development portfolio.
---

{{> header}}

<header class="container intro">
  <div class="row flex flex-align--center flex--justify fill-height">
    <div class="column two-thirds">
      <div class="intro-message">
        <h1 class="page__title">Kyle Langford</h1>
        <h2 class="page__sub-title">
          &nbsp;Currently <span class="icon-at-sign"></span>Brunello
          <span class="icon-coffee"></span> working on Drupal websites
          <span class="icon-droplet"></span> web design projects and frontend
          dev <span class="icon-zap"></span> located in Boston, MA<span
            class="icon-home"
          ></span>
        </h2>
      </div>
    </div>
  </div>
</header>

<section class="container size-to-window event--close-hint">
  <div class="row flex flex-align--center fill-height pad-default">
    <div class="column two-thirds animate fade-in">
      <p class="text--large">
        My name is Kyle Langford I have 10 years of professional experience and
        entrepreneurship in creating digital experiences. I focus on designing
        easy to use interfaces and writing clean human-readable code. I am
        passionate about learning new skills and refining my process. I have a
        positive attitude and enjoy bringing ideas to life.
      </p>
    </div>
    <figure class="image">
      <img
        src="assets/img/svg/laptop.svg"
        class="icon-image position-bottom-right"
      />
    </figure>
  </div>
</section>

<section class="container size-to-window relative">
  <!-- User Interface Design  -->
  <header class="row pad-default">
    <div class="column">
      <div class="text--display"><strong>Design</strong></div>
      <p>Modern. Simple. Human.</p>
    </div>
  </header>
  <!-- Capabilities -->
  <div class="row flex pad-default">
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Interface Design</p>
      <ul class="pretty">
        <li>Information Architecture</li>
        <li>Design Systems</li>
        <li>Responsive Web Design</li>
        <li>Page Layout</li>
      </ul>
    </div>
    <div class="column one-fourth animate fade-in">
      <!-- Capabilities  -->
      <p class="list-title">Experience Design</p>
      <ul class="pretty">
        <li>Accessibility</li>
        <li>Usability</li>
        <li>Product Design</li>
      </ul>
    </div>
    <!-- Design Tools -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Design Tools</p>
      <ul class="pretty">
        <li>Adobe Photoshop</li>
        <li>Adobe Illustrator</li>
        <li>Balsamiq</li>
        <li>Browser</li>
        <li>Invision App</li>
        <li>Sketch</li>
      </ul>
    </div>
  </div>
</section>

<section class="container size-to-window relative">
  <!-- Development  -->
  <header class="row flex--inline  pad-default">
    <div class="column">
      <div class="text--display">
        <strong>Dev<span class="hide--for-mobile">elopment</span></strong>
      </div>
      <p>Plan. Implement. Iterate.</p>
    </div>
  </header>

  <div class="row flex  pad-default">
    <!-- Capabilities -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Capabilities</p>
      <ul class="pretty">
        <li>CMS Theming</li>
        <li>Frontend Development</li>
        <li>Prototyping</li>
        <li>Website Development</li>
      </ul>
    </div>
    <!-- Core -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Core</p>
      <ul class="pretty">
        <li>HTML / CSS</li>
        <li>JavaScript</li>
        <li>Gulp.js / NPM</li>
        <li>Git</li>
        <li>PHP</li>
      </ul>
    </div>
    <!-- Technologies -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Technologies</p>
      <ul class="pretty">
        <li>AngularJS / Angular</li>
        <li>Drupal CMS</li>
        <li>Node.js</li>
        <li>Shopify CMS</li>
        <li>Web Hosting</li>
      </ul>
    </div>
  </div>
</section>

<section class="container contact size-to-window relative">
  <!-- Contact Info -->
  <header class="row pad-default">
    <div class="column">
      <h2 class="section__title">Info</h2>
    </div>
  </header>

  <div class="row flex pad-double">
    <!-- Get in Touch -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Get in Touch</p>
      <ul class="pretty">
        <li class="list__item">
          <a href="mailto:kyle@raskyl.com"
            ><span class="icon icons-list icon-mail"></span>kyle@raskyl.com</a
          >
        </li>
        <li class="list__item">
          <a href="https://github.com/kylelangford"
            ><span class="icon icons-list icon-github"></span>Github</a
          >
        </li>
        <li class="list__item">
          <a href="https://linkedin.com/in/kylelangford"
            ><span class="icon icons-list icon-linkedin"></span>Linkedin</a
          >
        </li>
      </ul>
    </div>
    <!-- Locations -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Projects</p>
      <ul class="pretty">
        <li class="list__item">
          <a href="https://github.com/kylelangford/primer-css"
            ><span class="icons-list icon-external-link"></span>Primer CSS</a
          >
        </li>
        <li class="list__item">
          <a href="http://readable-js.com"
            ><span class="icons-list icon-external-link"></span>Readable.js</a
          >
        </li>
        <li class="list__item">
          <a href="http://swordofdanklin.com"
            ><span class="icons-list icon-external-link"></span>Sword of
            Danklin</a
          >
        </li>
      </ul>
    </div>
    <!-- Misc Links -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Links</p>
      <ul class="pretty">
        <li class="list__item">
          <a href="/bookmarks"
            ><span class="icons-list icon-bookmark"></span>Bookmarks</a
          >
        </li>
        <li class="list__item">
          <a href="/work/all"
            ><span class="icons-list icon-lock"></span>Portfolio</a
          >
        </li>
        <li class="list__item">
          <a href="/assets/resume/kylelangford_resume.pdf"
            ><span class="icons-list icon-download-cloud"></span>Resume</a
          >
        </li>
      </ul>
    </div>
    <figure class="image">
      <img
        src="assets/img/svg/sunglasses.svg"
        class="icon-image position-bottom-right"
      />
    </figure>
  </div>
</section>
