---
meta_title: Kyle Langford | Personal Site
meta_description: My name is Kyle Langford, and this is my Web Design and Development website.
---

<header class="container size-to-window bookmarks">
  <div class="row flex flex-align--center flex--justify fill-height">
    <nav class="position-top-left">
      <a href="{{back_url}}" class="button--previous">{{back_text}}</a>
    </nav>

    <div class="column two-thirds">
      <h1 class="page__title">Resume</h1>
      <p class="description">
        Download
      </p>
    </div>
  </div>
</header>

<section class="container relative">
  <!-- Development  -->
  <header class="row flex--inline pad-default">
    <div class="column">
      <div class="text--display">
        <strong>Professional Experience</strong>
      </div>
    </div>
  </header>

  <div class="row pad-default">
    <!-- Capabilities -->
    <div class="column animate fade-in">
      <p class="list-title">Senior Interactive Designer</p>
      <p>Involved in all phases of web projects from strategy to implementation. Specializes in frontend development, user experience, and component based design process. Ensures the interactions, flow, and the overall experience of the interface works as intended. Responsible for technical research and estimating. Work focuses on content heavy websites built in Drupal, Wordpress, and Shopify. </p>
    </div>
    <!-- Core -->
    <div class="animate fade-in">
      <p class="list-title">March 2012 - Current</p>
    </div>
    <!-- Technologies -->
    <div class="animate fade-in">
      <p class="list-title">Brunello, Inc.</p>
    </div>
  </div>

  <div class="row pad-default">
    <!-- Capabilities -->
    <div class="column animate fade-in">
      <p class="list-title">Senior Interactive Designer</p>
      <p>Involved in all phases of web projects from strategy to implementation. Specializes in frontend development, user experience, and component based design process. Ensures the interactions, flow, and the overall experience of the interface works as intended. Responsible for technical research and estimating. Work focuses on content heavy websites built in Drupal, Wordpress, and Shopify. </p>
    </div>
    <!-- Core -->
    <div class="animate fade-in">
      <p class="list-title">March 2012 - Current</p>
    </div>
    <!-- Technologies -->
    <div class="animate fade-in">
      <p class="list-title">Brunello, Inc.</p>
    </div>
  </div>

    <div class="row pad-default">
    <!-- Capabilities -->
    <div class="column animate fade-in">
      <p class="list-title">Senior Interactive Designer</p>
      <p>Involved in all phases of web projects from strategy to implementation. Specializes in frontend development, user experience, and component based design process. Ensures the interactions, flow, and the overall experience of the interface works as intended. Responsible for technical research and estimating. Work focuses on content heavy websites built in Drupal, Wordpress, and Shopify. </p>
    </div>
    <!-- Core -->
    <div class="animate fade-in">
      <p class="list-title">March 2012 - Current</p>
    </div>
    <!-- Technologies -->
    <div class="animate fade-in">
      <p class="list-title">Brunello, Inc.</p>
    </div>
  </div>

</section>

<section class="container relative">
  <!-- Development  -->
  <header class="row flex--inline pad-default">
    <div class="column">
      <div class="text--display">
        <strong>Education</strong>
      </div>
    </div>
  </header>

  <div class="row pad-default">
    <!-- Capabilities -->
    <div class="column animate fade-in">
      <p class="list-title">Senior Interactive Designer</p>
      <p>Involved in all phases of web projects from strategy to implementation. Specializes in frontend development, user experience, and component based design process. Ensures the interactions, flow, and the overall experience of the interface works as intended. Responsible for technical research and estimating. Work focuses on content heavy websites built in Drupal, Wordpress, and Shopify. </p>
    </div>
    <!-- Core -->
    <div class="animate fade-in">
      <p class="list-title">March 2012 - Current</p>
    </div>
    <!-- Technologies -->
    <div class="animate fade-in">
      <p class="list-title">Brunello, Inc.</p>
    </div>
  </div>
</section>

<section class="container relative">
  <!-- Capabilities -->
  <div class="row flex pad-default">
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Proficient At</p>
      <ul class="pretty">
        <li>Responsive Web Design</li>
        <li>IA + Wireframing</li>
        <li>Design Systems</li>
        <li>Animation</li>
      </ul>
    </div>
    <div class="column one-fourth animate fade-in">
      <!-- Capabilities  -->
      <p class="list-title">Technology</p>
      <ul class="pretty">
        <li>UX Design</li>
        <li>Web Accessibility</li>
      </ul>
    </div>
    <!-- Design Tools -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Interests</p>
      <ul class="pretty">
        <li>Solutions Planning</li>
        <li>Estimating</li>
      </ul>
    </div>
  </div>
</section>

<section class="container contact size-to-window relative">
  <!-- Contact Info -->
  <header class="row pad-default">
    <div class="column">
      <h2 class="section__title">Info</h2>
    </div>
  </header>

  <div class="row flex pad-double">
    <!-- Get in Touch -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Get in Touch</p>
      <ul class="pretty">
        <li class="list__item">
          <a href="mailto:kyle@raskyl.com"
            ><span class="icon icons-list icon-mail"></span>kyle@raskyl.com</a
          >
        </li>
        <li class="list__item">
          <a href="https://github.com/kylelangford"
            ><span class="icon icons-list icon-github"></span>Github</a
          >
        </li>
        <li class="list__item">
          <a href="https://linkedin.com/in/kylelangford"
            ><span class="icon icons-list icon-linkedin"></span>Linkedin</a
          >
        </li>
      </ul>
    </div>
    <!-- Locations -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Projects</p>
      <ul class="pretty">
        <li class="list__item">
          <a href="https://github.com/kylelangford/primer-css"
            ><span class="icons-list icon-external-link"></span>Primer CSS</a
          >
        </li>
        <li class="list__item">
          <a href="http://readable-js.com"
            ><span class="icons-list icon-external-link"></span>Readable.js</a
          >
        </li>
        <li class="list__item">
          <a href="http://swordofdanklin.com"
            ><span class="icons-list icon-external-link"></span>Sword of
            Danklin</a
          >
        </li>
      </ul>
    </div>
    <!-- Misc Links -->
    <div class="column one-fourth animate fade-in">
      <p class="list-title">Links</p>
      <ul class="pretty">
        <li class="list__item">
          <a href="/bookmarks"
            ><span class="icons-list icon-bookmark"></span>Bookmarks</a
          >
        </li>
        <li class="list__item">
          <a href="/work/all"
            ><span class="icons-list icon-lock"></span>Portfolio</a
          >
        </li>
        <li class="list__item">
          <a href="/assets/resume/kylelangford_resume.pdf"
            ><span class="icons-list icon-download-cloud"></span>Resume</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
