<form action="javascript:void(0);" id="getintouch" name="getintouch" class="small-text" novalidate="">
  <div class="form-wrapper">
    <div class="form-group">
      <label for="businessArea">Choose Area</label> 
      <select name="businessArea" id="businessArea" class="enelx-selectbox select-validate">
        <option value="" disabled="" selected="">Choose an option</option>
        <option value="E-Home">Home</option>
        <option value="E-City">City</option>
        <option value="E-Mobility">E-mobility</option>
        <option value="E-Industry">Business</option>
      </select>
    </div>
    <div class="form-group" id="open-mobility-option">
      <label for="customerType">Type of customer</label> 
      <select name="customerType" id="customerType" class="enelx-selectbox select-validate">
        <option value="" disabled="" selected="">Choose an option</option>
        <option value="B2B">Business</option>
        <option value="B2C">Private</option>
        <option value="B2G">Government</option>
      </select>
    </div>
    <div class="form-group">
      <label for="companyName"> Company name</label>
      <input name="companyName" id="companyName" type="text" class="form-control" placeholder="Company name">
    </div>
    <div class="form-group">
      <div class="col w1of2">
        <label for="contactFirstName"> First Name</label>
        <input name="contactFirstName" id="contactFirstName" type="text" class="form-control" placeholder="First Name">
      </div>
      <div class="col w1of2">
        <label for="contactLastName"> Last Name</label>
        <input name="contactLastName" id="contactLastName" type="text" class="form-control" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group">
      <label for="phone"> Phone Number</label>
      <div class="col w2of5">
        <div class="form-group">
          <select name="phonePrefix" class="enelx-selectbox">
            <!-- country codes (ISO 3166) and Dial codes. -->
            <option data-countrycode="IT" value="39" selected="">Italy (+39)</option>
            <option data-countrycode="GB" value="44">United Kingdom (+44)</option>
            <option data-countrycode="US" value="1">USA (+1)</option>
            <optgroup label="Other countries">
              <option data-countrycode="DZ" value="213">Algeria (+213)</option>
              <option data-countrycode="AD" value="376">Andorra (+376)</option>
              <option data-countrycode="AO" value="244">Angola (+244)</option>
              <option data-countrycode="AI" value="1264">Anguilla (+1264)</option>
              <option data-countrycode="AG" value="1268">Antigua &amp; Barbuda (+1268)</option>
              <option data-countrycode="AR" value="54">Argentina (+54)</option>
              <option data-countrycode="AM" value="374">Armenia (+374)</option>
              <option data-countrycode="AW" value="297">Aruba (+297)</option>
              <option data-countrycode="AU" value="61">Australia (+61)</option>
              <option data-countrycode="AT" value="43">Austria (+43)</option>
              <option data-countrycode="AZ" value="994">Azerbaijan (+994)</option>
              <option data-countrycode="BS" value="1242">Bahamas (+1242)</option>
              <option data-countrycode="BH" value="973">Bahrain (+973)</option>
              <option data-countrycode="BD" value="880">Bangladesh (+880)</option>
              <option data-countrycode="BB" value="1246">Barbados (+1246)</option>
              <option data-countrycode="BY" value="375">Belarus (+375)</option>
              <option data-countrycode="BE" value="32">Belgium (+32)</option>
              <option data-countrycode="BZ" value="501">Belize (+501)</option>
              <option data-countrycode="BJ" value="229">Benin (+229)</option>
              <option data-countrycode="BM" value="1441">Bermuda (+1441)</option>
              <option data-countrycode="BT" value="975">Bhutan (+975)</option>
              <option data-countrycode="BO" value="591">Bolivia (+591)</option>
              <option data-countrycode="BA" value="387">Bosnia Herzegovina (+387)</option>
              <option data-countrycode="BW" value="267">Botswana (+267)</option>
              <option data-countrycode="BR" value="55">Brazil (+55)</option>
              <option data-countrycode="BN" value="673">Brunei (+673)</option>
              <option data-countrycode="BG" value="359">Bulgaria (+359)</option>
              <option data-countrycode="BF" value="226">Burkina Faso (+226)</option>
              <option data-countrycode="BI" value="257">Burundi (+257)</option>
              <option data-countrycode="KH" value="855">Cambodia (+855)</option>
              <option data-countrycode="CM" value="237">Cameroon (+237)</option>
              <option data-countrycode="CA" value="1">Canada (+1)</option>
              <option data-countrycode="CV" value="238">Cape Verde Islands (+238)</option>
              <option data-countrycode="KY" value="1345">Cayman Islands (+1345)</option>
              <option data-countrycode="CF" value="236">Central African Republic (+236)</option>
              <option data-countrycode="CL" value="56">Chile (+56)</option>
              <option data-countrycode="CN" value="86">China (+86)</option>
              <option data-countrycode="CO" value="57">Colombia (+57)</option>
              <option data-countrycode="KM" value="269">Comoros (+269)</option>
              <option data-countrycode="CG" value="242">Congo (+242)</option>
              <option data-countrycode="CK" value="682">Cook Islands (+682)</option>
              <option data-countrycode="CR" value="506">Costa Rica (+506)</option>
              <option data-countrycode="HR" value="385">Croatia (+385)</option>
              <option data-countrycode="CU" value="53">Cuba (+53)</option>
              <option data-countrycode="CY" value="90392">Cyprus North (+90392)</option>
              <option data-countrycode="CY" value="357">Cyprus South (+357)</option>
              <option data-countrycode="CZ" value="42">Czech Republic (+42)</option>
              <option data-countrycode="DK" value="45">Denmark (+45)</option>
              <option data-countrycode="DJ" value="253">Djibouti (+253)</option>
              <option data-countrycode="DM" value="1809">Dominica (+1809)</option>
              <option data-countrycode="DO" value="1809">Dominican Republic (+1809)</option>
              <option data-countrycode="EC" value="593">Ecuador (+593)</option>
              <option data-countrycode="EG" value="20">Egypt (+20)</option>
              <option data-countrycode="SV" value="503">El Salvador (+503)</option>
              <option data-countrycode="GQ" value="240">Equatorial Guinea (+240)</option>
              <option data-countrycode="ER" value="291">Eritrea (+291)</option>
              <option data-countrycode="EE" value="372">Estonia (+372)</option>
              <option data-countrycode="ET" value="251">Ethiopia (+251)</option>
              <option data-countrycode="FK" value="500">Falkland Islands (+500)</option>
              <option data-countrycode="FO" value="298">Faroe Islands (+298)</option>
              <option data-countrycode="FJ" value="679">Fiji (+679)</option>
              <option data-countrycode="FI" value="358">Finland (+358)</option>
              <option data-countrycode="FR" value="33">France (+33)</option>
              <option data-countrycode="GF" value="594">French Guiana (+594)</option>
              <option data-countrycode="PF" value="689">French Polynesia (+689)</option>
              <option data-countrycode="GA" value="241">Gabon (+241)</option>
              <option data-countrycode="GM" value="220">Gambia (+220)</option>
              <option data-countrycode="GE" value="7880">Georgia (+7880)</option>
              <option data-countrycode="DE" value="49">Germany (+49)</option>
              <option data-countrycode="GH" value="233">Ghana (+233)</option>
              <option data-countrycode="GI" value="350">Gibraltar (+350)</option>
              <option data-countrycode="GR" value="30">Greece (+30)</option>
              <option data-countrycode="GL" value="299">Greenland (+299)</option>
              <option data-countrycode="GD" value="1473">Grenada (+1473)</option>
              <option data-countrycode="GP" value="590">Guadeloupe (+590)</option>
              <option data-countrycode="GU" value="671">Guam (+671)</option>
              <option data-countrycode="GT" value="502">Guatemala (+502)</option>
              <option data-countrycode="GN" value="224">Guinea (+224)</option>
              <option data-countrycode="GW" value="245">Guinea - Bissau (+245)</option>
              <option data-countrycode="GY" value="592">Guyana (+592)</option>
              <option data-countrycode="HT" value="509">Haiti (+509)</option>
              <option data-countrycode="HN" value="504">Honduras (+504)</option>
              <option data-countrycode="HK" value="852">Hong Kong (+852)</option>
              <option data-countrycode="HU" value="36">Hungary (+36)</option>
              <option data-countrycode="IS" value="354">Iceland (+354)</option>
              <option data-countrycode="IN" value="91">India (+91)</option>
              <option data-countrycode="ID" value="62">Indonesia (+62)</option>
              <option data-countrycode="IR" value="98">Iran (+98)</option>
              <option data-countrycode="IQ" value="964">Iraq (+964)</option>
              <option data-countrycode="IE" value="353">Ireland (+353)</option>
              <option data-countrycode="IL" value="972">Israel (+972)</option>
              <option data-countrycode="IT" value="39">Italy (+39)</option>
              <option data-countrycode="JM" value="1876">Jamaica (+1876)</option>
              <option data-countrycode="JP" value="81">Japan (+81)</option>
              <option data-countrycode="JO" value="962">Jordan (+962)</option>
              <option data-countrycode="KZ" value="7">Kazakhstan (+7)</option>
              <option data-countrycode="KE" value="254">Kenya (+254)</option>
              <option data-countrycode="KI" value="686">Kiribati (+686)</option>
              <option data-countrycode="KP" value="850">Korea North (+850)</option>
              <option data-countrycode="KR" value="82">Korea South (+82)</option>
              <option data-countrycode="KW" value="965">Kuwait (+965)</option>
              <option data-countrycode="KG" value="996">Kyrgyzstan (+996)</option>
              <option data-countrycode="LA" value="856">Laos (+856)</option>
              <option data-countrycode="LV" value="371">Latvia (+371)</option>
              <option data-countrycode="LB" value="961">Lebanon (+961)</option>
              <option data-countrycode="LS" value="266">Lesotho (+266)</option>
              <option data-countrycode="LR" value="231">Liberia (+231)</option>
              <option data-countrycode="LY" value="218">Libya (+218)</option>
              <option data-countrycode="LI" value="417">Liechtenstein (+417)</option>
              <option data-countrycode="LT" value="370">Lithuania (+370)</option>
              <option data-countrycode="LU" value="352">Luxembourg (+352)</option>
              <option data-countrycode="MO" value="853">Macao (+853)</option>
              <option data-countrycode="MK" value="389">Macedonia (+389)</option>
              <option data-countrycode="MG" value="261">Madagascar (+261)</option>
              <option data-countrycode="MW" value="265">Malawi (+265)</option>
              <option data-countrycode="MY" value="60">Malaysia (+60)</option>
              <option data-countrycode="MV" value="960">Maldives (+960)</option>
              <option data-countrycode="ML" value="223">Mali (+223)</option>
              <option data-countrycode="MT" value="356">Malta (+356)</option>
              <option data-countrycode="MH" value="692">Marshall Islands (+692)</option>
              <option data-countrycode="MQ" value="596">Martinique (+596)</option>
              <option data-countrycode="MR" value="222">Mauritania (+222)</option>
              <option data-countrycode="YT" value="269">Mayotte (+269)</option>
              <option data-countrycode="MX" value="52">Mexico (+52)</option>
              <option data-countrycode="FM" value="691">Micronesia (+691)</option>
              <option data-countrycode="MD" value="373">Moldova (+373)</option>
              <option data-countrycode="MC" value="377">Monaco (+377)</option>
              <option data-countrycode="MN" value="976">Mongolia (+976)</option>
              <option data-countrycode="MS" value="1664">Montserrat (+1664)</option>
              <option data-countrycode="MA" value="212">Morocco (+212)</option>
              <option data-countrycode="MZ" value="258">Mozambique (+258)</option>
              <option data-countrycode="MN" value="95">Myanmar (+95)</option>
              <option data-countrycode="NA" value="264">Namibia (+264)</option>
              <option data-countrycode="NR" value="674">Nauru (+674)</option>
              <option data-countrycode="NP" value="977">Nepal (+977)</option>
              <option data-countrycode="NL" value="31">Netherlands (+31)</option>
              <option data-countrycode="NC" value="687">New Caledonia (+687)</option>
              <option data-countrycode="NZ" value="64">New Zealand (+64)</option>
              <option data-countrycode="NI" value="505">Nicaragua (+505)</option>
              <option data-countrycode="NE" value="227">Niger (+227)</option>
              <option data-countrycode="NG" value="234">Nigeria (+234)</option>
              <option data-countrycode="NU" value="683">Niue (+683)</option>
              <option data-countrycode="NF" value="672">Norfolk Islands (+672)</option>
              <option data-countrycode="NP" value="670">Northern Marianas (+670)</option>
              <option data-countrycode="NO" value="47">Norway (+47)</option>
              <option data-countrycode="OM" value="968">Oman (+968)</option>
              <option data-countrycode="PW" value="680">Palau (+680)</option>
              <option data-countrycode="PA" value="507">Panama (+507)</option>
              <option data-countrycode="PG" value="675">Papua New Guinea (+675)</option>
              <option data-countrycode="PY" value="595">Paraguay (+595)</option>
              <option data-countrycode="PE" value="51">Peru (+51)</option>
              <option data-countrycode="PH" value="63">Philippines (+63)</option>
              <option data-countrycode="PL" value="48">Poland (+48)</option>
              <option data-countrycode="PT" value="351">Portugal (+351)</option>
              <option data-countrycode="PR" value="1787">Puerto Rico (+1787)</option>
              <option data-countrycode="QA" value="974">Qatar (+974)</option>
              <option data-countrycode="RE" value="262">Reunion (+262)</option>
              <option data-countrycode="RO" value="40">Romania (+40)</option>
              <option data-countrycode="RU" value="7">Russia (+7)</option>
              <option data-countrycode="RW" value="250">Rwanda (+250)</option>
              <option data-countrycode="SM" value="378">San Marino (+378)</option>
              <option data-countrycode="ST" value="239">Sao Tome &amp; Principe (+239)</option>
              <option data-countrycode="SA" value="966">Saudi Arabia (+966)</option>
              <option data-countrycode="SN" value="221">Senegal (+221)</option>
              <option data-countrycode="CS" value="381">Serbia (+381)</option>
              <option data-countrycode="SC" value="248">Seychelles (+248)</option>
              <option data-countrycode="SL" value="232">Sierra Leone (+232)</option>
              <option data-countrycode="SG" value="65">Singapore (+65)</option>
              <option data-countrycode="SK" value="421">Slovak Republic (+421)</option>
              <option data-countrycode="SI" value="386">Slovenia (+386)</option>
              <option data-countrycode="SB" value="677">Solomon Islands (+677)</option>
              <option data-countrycode="SO" value="252">Somalia (+252)</option>
              <option data-countrycode="ZA" value="27">South Africa (+27)</option>
              <option data-countrycode="ES" value="34">Spain (+34)</option>
              <option data-countrycode="LK" value="94">Sri Lanka (+94)</option>
              <option data-countrycode="SH" value="290">St. Helena (+290)</option>
              <option data-countrycode="KN" value="1869">St. Kitts (+1869)</option>
              <option data-countrycode="SC" value="1758">St. Lucia (+1758)</option>
              <option data-countrycode="SD" value="249">Sudan (+249)</option>
              <option data-countrycode="SR" value="597">Suriname (+597)</option>
              <option data-countrycode="SZ" value="268">Swaziland (+268)</option>
              <option data-countrycode="SE" value="46">Sweden (+46)</option>
              <option data-countrycode="CH" value="41">Switzerland (+41)</option>
              <option data-countrycode="SI" value="963">Syria (+963)</option>
              <option data-countrycode="TW" value="886">Taiwan (+886)</option>
              <option data-countrycode="TJ" value="7">Tajikstan (+7)</option>
              <option data-countrycode="TH" value="66">Thailand (+66)</option>
              <option data-countrycode="TG" value="228">Togo (+228)</option>
              <option data-countrycode="TO" value="676">Tonga (+676)</option>
              <option data-countrycode="TT" value="1868">Trinidad &amp; Tobago (+1868)</option>
              <option data-countrycode="TN" value="216">Tunisia (+216)</option>
              <option data-countrycode="TR" value="90">Turkey (+90)</option>
              <option data-countrycode="TM" value="7">Turkmenistan (+7)</option>
              <option data-countrycode="TM" value="993">Turkmenistan (+993)</option>
              <option data-countrycode="TC" value="1649">Turks &amp; Caicos Islands (+1649)</option>
              <option data-countrycode="TV" value="688">Tuvalu (+688)</option>
              <option data-countrycode="UG" value="256">Uganda (+256)</option>
              <!-- <option data-countryCode="GB" value="44">UK (+44)</option> -->
              <option data-countrycode="UA" value="380">Ukraine (+380)</option>
              <option data-countrycode="AE" value="971">United Arab Emirates (+971)</option>
              <option data-countrycode="UY" value="598">Uruguay (+598)</option>
              <!-- <option data-countryCode="US" value="1">USA (+1)</option> -->
              <option data-countrycode="UZ" value="7">Uzbekistan (+7)</option>
              <option data-countrycode="VU" value="678">Vanuatu (+678)</option>
              <option data-countrycode="VA" value="379">Vatican City (+379)</option>
              <option data-countrycode="VE" value="58">Venezuela (+58)</option>
              <option data-countrycode="VN" value="84">Vietnam (+84)</option>
              <option data-countrycode="VG" value="84">Virgin Islands - British (+1284)</option>
              <option data-countrycode="VI" value="84">Virgin Islands - US (+1340)</option>
              <option data-countrycode="WF" value="681">Wallis &amp; Futuna (+681)</option>
              <option data-countrycode="YE" value="969">Yemen (North)(+969)</option>
              <option data-countrycode="YE" value="967">Yemen (South)(+967)</option>
              <option data-countrycode="ZM" value="260">Zambia (+260)</option>
              <option data-countrycode="ZW" value="263">Zimbabwe (+263)</option>
            </optgroup>
          </select>
        </div>
      </div>
      <div class="col w3of5">
        <div class="form-group">
          <input name="phone" id="phone" type="text" class="form-control" placeholder="Phone Number">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email"> Email address</label>
      <input name="email" id="email" type="text" class="form-control" data-rule-required="true" data-rule-email="true" aria-required="true" placeholder="Email address">
    </div>
    <div class="form-group">
      <div class="col w2of3">
        <label for="country">Country</label>
        <select name="country" id="country" data-ubiest="country" class="enelx-selectbox select-validate select-country">
          <option value="choose" disabled="" selected="">Choose an option</option>
          <option class="e-industry" value="Afghanistan">Afghanistan</option>
          <option class="e-industry" value="Albania">Albania</option>
          <option class="e-industry" value="Algeria">Algeria</option>
          <option class="e-industry" value="American Samoa">American Samoa</option>
          <option class="e-industry" value="Andorra">Andorra</option>
          <option class="e-industry" value="Angola">Angola</option>
          <option class="e-industry" value="Anguilla">Anguilla</option>
          <option class="e-industry" value="Antigua and Barbuda">Antigua and Barbuda</option>
          <option class="e-mobility e-home e-industry e-city" value="Argentina">Argentina</option>
          <option class="e-industry" value="Armenia">Armenia</option>
          <option class="e-industry" value="Aruba">Aruba</option>
          <option class="e-industry" value="Australia">Australia</option>
          <option class="e-industry" value="Austria">Austria</option>
          <option class="e-industry" value="Azerbaijan">Azerbaijan</option>
          <option class="e-industry" value="Bahamas">Bahamas</option>
          <option class="e-industry" value="Bahrain">Bahrain</option>
          <option class="e-industry" value="Bangladesh">Bangladesh</option>
          <option class="e-industry" value="Barbados">Barbados</option>
          <option class="e-industry" value="Belarus">Belarus</option>
          <option class="e-industry" value="Belgium">Belgium</option>
          <option class="e-industry" value="Belize">Belize</option>
          <option class="e-industry" value="Benin">Benin</option>
          <option class="e-industry" value="Bermuda">Bermuda</option>
          <option class="e-industry" value="Bhutan">Bhutan</option>
          <option class="e-industry" value="Bolivia">Bolivia</option>
          <option class="e-industry" value="Bonaire">Bonaire</option>
          <option class="e-industry" value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
          <option class="e-industry" value="Botswana">Botswana</option>
          <option class="e-mobility e-home e-industry e-city" value="Brasile">Brazil</option>
          <option class="e-industry" value="British Indian Ocean Ter">British Indian Ocean Ter</option>
          <option class="e-industry" value="Brunei">Brunei</option>
          <option class="e-industry" value="Bulgaria">Bulgaria</option>
          <option class="e-industry" value="Burkina Faso">Burkina Faso</option>
          <option class="e-industry" value="Burundi">Burundi</option>
          <option class="e-industry" value="Cambodia">Cambodia</option>
          <option class="e-industry" value="Cameroon">Cameroon</option>
          <option class="e-industry" value="Canada">Canada</option>
          <option class="e-industry" value="Canary Islands">Canary Islands</option>
          <option class="e-industry" value="Cape Verde">Cape Verde</option>
          <option class="e-industry" value="Cayman">Cayman Islands</option>
          <option class="e-industry" value="Central African Republic">Central African Republic</option>
          <option class="e-industry" value="Chad">Chad</option>
          <option class="e-industry" value="Channel Islands">Channel Islands</option>
          <option class="e-mobility e-home e-industry e-city" value="Chile">Chile</option>
          <option class="e-industry" value="China">China</option>
          <option class="e-industry" value="Christmas Island">Christmas Island</option>
          <option class="e-industry" value="Cocos Island">Cocos Island</option>
          <option class="e-mobility e-home e-industry e-city" value="Colombia">Colombia</option>
          <option class="e-industry" value="Comoros">Comoros</option>
          <option class="e-industry" value="Congo">Congo</option>
          <option class="e-industry" value="Cook Islands">Cook Islands</option>
          <option class="e-industry" value="Costa Rica">Costa Rica</option>
          <option class="e-industry" value="Cote De Ivoire">Cote De Ivoire</option>
          <option class="e-industry" value="Croatia">Croatia</option>
          <option class="e-industry" value="Cuba">Cuba</option>
          <option class="e-industry" value="Curacao">Curacao</option>
          <option class="e-industry" value="Cyprus">Cyprus</option>
          <option class="e-industry" value="Czech Republic">Czech Republic</option>
          <option class="e-industry" value="Denmark">Denmark</option>
          <option class="e-industry" value="Djibouti">Djibouti</option>
          <option class="e-industry" value="Dominica">Dominica</option>
          <option class="e-industry" value="Dominican Republic">Dominican Republic</option>
          <option class="e-industry" value="East Timor">East Timor</option>
          <option class="e-industry" value="Ecuador">Ecuador</option>
          <option class="e-industry" value="Egypt">Egypt</option>
          <option class="e-industry" value="El Salvador">El Salvador</option>
          <option class="e-industry" value="Equatorial Guinea">Equatorial Guinea</option>
          <option class="e-industry" value="Eritrea">Eritrea</option>
          <option class="e-industry" value="Estonia">Estonia</option>
          <option class="e-industry" value="Ethiopia">Ethiopia</option>
          <option class="e-industry" value="Falkland Islands">Falkland Islands</option>
          <option class="e-industry" value="Faroe Islands">Faroe Islands</option>
          <option class="e-industry" value="Fiji">Fiji</option>
          <option class="e-industry" value="Finland">Finland</option>
          <option class="e-industry" value="France">France</option>
          <option class="e-industry" value="French Guiana">French Guiana</option>
          <option class="e-industry" value="French Polynesia">French Polynesia</option>
          <option class="e-industry" value="French Southern Ter">French Southern Ter</option>
          <option class="e-industry" value="Gabon">Gabon</option>
          <option class="e-industry" value="Gambia">Gambia</option>
          <option class="e-industry" value="Georgia">Georgia</option>
          <option class="e-industry" value="Germany">Germany</option>
          <option class="e-industry" value="Ghana">Ghana</option>
          <option class="e-industry" value="Gibraltar">Gibraltar</option>
          <option class="e-industry" value="Greece">Greece</option>
          <option class="e-industry" value="Greenland">Greenland</option>
          <option class="e-industry" value="Grenada">Grenada</option>
          <option class="e-industry" value="Guadeloupe">Guadeloupe</option>
          <option class="e-industry" value="Guam">Guam</option>
          <option class="e-industry" value="Guatemala">Guatemala</option>
          <option class="e-industry" value="Guinea">Guinea</option>
          <option class="e-industry" value="Guyana">Guyana</option>
          <option class="e-industry" value="Haiti">Haiti</option>
          <option class="e-industry" value="Hawaii">Hawaii</option>
          <option class="e-industry" value="Honduras">Honduras</option>
          <option class="e-industry" value="Hong Kong">Hong Kong</option>
          <option class="e-industry" value="Hungary">Hungary</option>
          <option class="e-mobility e-industry e-city" value="Iberia">Iberia</option>
          <option class="e-industry" value="Iceland">Iceland</option>
          <option class="e-industry" value="India">India</option>
          <option class="e-industry" value="Indonesia">Indonesia</option>
          <option class="e-industry" value="Iran">Iran</option>
          <option class="e-industry" value="Iraq">Iraq</option>
          <option class="e-industry" value="Ireland">Ireland</option>
          <option class="e-industry" value="Isle of Man">Isle of Man</option>
          <option class="e-industry" value="Israel">Israel</option>
          <option class="e-city e-home" value="ITA">Italy</option>
          <option class="e-industry" value="Jamaica">Jamaica</option>
          <option class="e-industry" value="Japan">Japan</option>
          <option class="e-industry" value="Jordan">Jordan</option>
          <option class="e-industry" value="Kazakhstan">Kazakhstan</option>
          <option class="e-industry" value="Kenya">Kenya</option>
          <option class="e-industry" value="Kiribati">Kiribati</option>
          <option class="e-industry" value="Korea North">Korea North</option>
          <option class="e-industry" value="Korea South">Korea South</option>
          <option class="e-industry" value="Kuwait">Kuwait</option>
          <option class="e-industry" value="Kyrgyzstan">Kyrgyzstan</option>
          <option class="e-industry" value="Laos">Laos</option>
          <option class="e-industry" value="Latvia">Latvia</option>
          <option class="e-industry" value="Lebanon">Lebanon</option>
          <option class="e-industry" value="Lesotho">Lesotho</option>
          <option class="e-industry" value="Liberia">Liberia</option>
          <option class="e-industry" value="Libya">Libya</option>
          <option class="e-industry" value="Liechtenstein">Liechtenstein</option>
          <option class="e-industry" value="Lithuania">Lithuania</option>
          <option class="e-industry" value="Luxembourg">Luxembourg</option>
          <option class="e-industry" value="Macau">Macau</option>
          <option class="e-industry" value="Macedonia">Macedonia</option>
          <option class="e-industry" value="Madagascar">Madagascar</option>
          <option class="e-industry" value="Malaysia">Malaysia</option>
          <option class="e-industry" value="Malawi">Malawi</option>
          <option class="e-industry" value="Maldives">Maldives</option>
          <option class="e-industry" value="Mali">Mali</option>
          <option class="e-industry" value="Malta">Malta</option>
          <option class="e-industry" value="Marshall Islands">Marshall Islands</option>
          <option class="e-industry" value="Martinique">Martinique</option>
          <option class="e-industry" value="Mauritania">Mauritania</option>
          <option class="e-industry" value="Mauritius">Mauritius</option>
          <option class="e-industry" value="Mayotte">Mayotte</option>
          <option class="e-industry" value="Mexico">Mexico</option>
          <option class="e-industry" value="Midway Islands">Midway Islands</option>
          <option class="e-industry" value="Moldova">Moldova</option>
          <option class="e-industry" value="Monaco">Monaco</option>
          <option class="e-industry" value="Mongolia">Mongolia</option>
          <option class="e-industry" value="Montserrat">Montserrat</option>
          <option class="e-industry" value="Morocco">Morocco</option>
          <option class="e-industry" value="Mozambique">Mozambique</option>
          <option class="e-industry" value="Myanmar">Myanmar</option>
          <option class="e-industry" value="Nambia">Nambia</option>
          <option class="e-industry" value="Nauru">Nauru</option>
          <option class="e-industry" value="Nepal">Nepal</option>
          <option class="e-industry" value="Netherland Antilles">Netherland Antilles</option>
          <option class="e-industry" value="Netherlands (Holland, Europe)">Netherlands (Holland, Europe)</option>
          <option class="e-industry" value="Nevis">Nevis</option>
          <option class="e-industry" value="New Caledonia">New Caledonia</option>
          <option class="e-industry" value="New Zealand">New Zealand</option>
          <option class="e-industry" value="Nicaragua">Nicaragua</option>
          <option class="e-industry" value="Niger">Niger</option>
          <option class="e-industry" value="Nigeria">Nigeria</option>
          <option class="e-industry" value="Niue">Niue</option>
          <option class="e-industry" value="Norfolk Island">Norfolk Island</option>
          <option class="e-industry" value="Norway">Norway</option>
          <option class="e-industry" value="Oman">Oman</option>
          <option class="e-industry" value="Pakistan">Pakistan</option>
          <option class="e-industry" value="Palau Island">Palau Island</option>
          <option class="e-industry" value="Palestine">Palestine</option>
          <option class="e-industry" value="Panama">Panama</option>
          <option class="e-industry" value="Papua New Guinea">Papua New Guinea</option>
          <option class="e-industry" value="Paraguay">Paraguay</option>
          <option class="e-mobility e-home e-industry e-city" value="Perù">Perù</option>
          <option class="e-industry" value="Philippines">Philippines</option>
          <option class="e-industry" value="Pitcairn Island">Pitcairn Island</option>
          <option class="e-industry" value="Poland">Poland</option>
          <option class="e-industry" value="Puerto Rico">Puerto Rico</option>
          <option class="e-industry" value="Qatar">Qatar</option>
          <option class="e-industry" value="Republic of Montenegro">Republic of Montenegro</option>
          <option class="e-industry" value="Republic of Serbia">Republic of Serbia</option>
          <option class="e-industry" value="Reunion">Reunion</option>
          <option class="e-mobility e-home e-industry e-city" value="Romania">Romania</option>
          <option class="e-industry" value="Russia">Russia</option>
          <option class="e-industry" value="Rwanda">Rwanda</option>
          <option class="e-industry" value="St Barthelemy">St Barthelemy</option>
          <option class="e-industry" value="St Eustatius">St Eustatius</option>
          <option class="e-industry" value="St Helena">St Helena</option>
          <option class="e-industry" value="St Kitts-Nevis">St Kitts-Nevis</option>
          <option class="e-industry" value="St Lucia">St Lucia</option>
          <option class="e-industry" value="St Maarten">St Maarten</option>
          <option class="e-industry" value="St Pierre and Miquelon">St Pierre and Miquelon</option>
          <option class="e-industry" value="St Vincent and Grenadines">St Vincent and Grenadines</option>
          <option class="e-industry" value="Saipan">Saipan</option>
          <option class="e-industry" value="Samoa">Samoa</option>
          <option class="e-industry" value="Samoa American">Samoa American</option>
          <option class="e-industry" value="San Marino">San Marino</option>
          <option class="e-industry" value="Sao Tome and Principe">Sao Tome and Principe</option>
          <option class="e-industry" value="Saudi Arabia">Saudi Arabia</option>
          <option class="e-industry" value="Senegal">Senegal</option>
          <option class="e-industry" value="Serbia">Serbia</option>
          <option class="e-industry" value="Seychelles">Seychelles</option>
          <option class="e-industry" value="Sierra Leone">Sierra Leone</option>
          <option class="e-industry" value="Singapore">Singapore</option>
          <option class="e-industry" value="Slovakia">Slovakia</option>
          <option class="e-industry" value="Slovenia">Slovenia</option>
          <option class="e-industry" value="Solomon Islands">Solomon Islands</option>
          <option class="e-industry" value="Somalia">Somalia</option>
          <option class="e-industry e-city" value="South Africa">South Africa</option>
          <option class="e-industry" value="Sri Lanka">Sri Lanka</option>
          <option class="e-industry" value="Sudan">Sudan</option>
          <option class="e-industry" value="Suriname">Suriname</option>
          <option class="e-industry" value="Swaziland">Swaziland</option>
          <option class="e-industry" value="Sweden">Sweden</option>
          <option class="e-industry" value="Switzerland">Switzerland</option>
          <option class="e-industry" value="Syria">Syria</option>
          <option class="e-industry" value="Tahiti">Tahiti</option>
          <option class="e-industry" value="Taiwan">Taiwan</option>
          <option class="e-industry" value="Tajikistan">Tajikistan</option>
          <option class="e-industry" value="Tanzania">Tanzania</option>
          <option class="e-industry" value="Thailand">Thailand</option>
          <option class="e-industry" value="Togo">Togo</option>
          <option class="e-industry" value="Tokelau">Tokelau</option>
          <option class="e-industry" value="Tonga">Tonga</option>
          <option class="e-industry" value="Trinidad and Tobago">Trinidad and Tobago</option>
          <option class="e-industry" value="Tunisia">Tunisia</option>
          <option class="e-industry" value="Turkey">Turkey</option>
          <option class="e-industry" value="Turkmenistan">Turkmenistan</option>
          <option class="e-industry" value="Turks and Caicos Is">Turks and Caicos Is</option>
          <option class="e-industry" value="Tuvalu">Tuvalu</option>
          <option class="e-industry" value="Uganda">Uganda</option>
          <option class="e-industry" value="Ukraine">Ukraine</option>
          <option class="e-industry" value="United Arab Emirates">United Arab Emirates</option>
          <option class="e-industry" value="United Kingdom">United Kingdom</option>
          <option class="e-industry" value="Uruguay">Uruguay</option>
          <option class="e-mobility e-industry e-city" value="USA">USA</option>
          <option class="e-industry" value="Uzbekistan">Uzbekistan</option>
          <option class="e-industry" value="Vanuatu">Vanuatu</option>
          <option class="e-industry" value="Vatican City State">Vatican City State</option>
          <option class="e-industry" value="Venezuela">Venezuela</option>
          <option class="e-industry" value="Vietnam">Vietnam</option>
          <option class="e-industry" value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
          <option class="e-industry" value="Virgin Islands (USA)">Virgin Islands (USA)</option>
          <option class="e-industry" value="Wake Island">Wake Island</option>
          <option class="e-industry" value="Wallis and Futana Is">Wallis and Futana Is</option>
          <option class="e-industry" value="Yemen">Yemen</option>
          <option class="e-industry" value="Zaire">Zaire</option>
          <option class="e-industry" value="Zambia">Zambia</option>
          <option class="e-industry" value="Zimbabwe">Zimbabwe</option>
        </select>
      </div>
      <div class="col w1of3">
        <label for="city"> City</label>
        <input data-ubiest="city" name="city" id="city" type="text" onfocus="setAutoComplete(this)" class="form-control" placeholder="City" autocomplete="off">
      </div>
    </div>
    <div class="form-group">
      <label for="note"> Note</label>
      <textarea name="note" id="note" type="text" class="form-control" placeholder="Note"></textarea>
    </div>
    <!-- #TERMS AND CONDITION -->
    <div class="form-group">
      <!--
        <div class="informative-checkbox-consent" data-sly-test="label_check_privacy">
        	<input type="checkbox" name="privacyCheck" id="privacyCheck" class="checkbox"></input>
        	<label for="privacyCheck"><a href="#">I read and accept privacy policy</a></label>
        </div>
        <div class="informative-checkbox-consent" data-sly-test="label_check_marketing">
        	<input type="checkbox" name="marketingCheck" id="marketingCheck" class="checkbox"></input>
        	<label for="marketingCheck"><a href="#">I give my consent for the processing of my personal data for marketing activities</a></label>
        </div>
        <div class="informative-checkbox-consent" data-sly-test="label_check_thirdparties">
        	<input type="checkbox" name="thirdPartCheck" id="thirdPartCheck" class="checkbox"></input>
        	<label for="thirdPartCheck"><a href="#">I give my consent to Enel X Italia and to third parties authorised by them.</a></label>
        </div>
        <div class="informative-checkbox-consent" data-sly-test="">
        	<input type="checkbox" name="profilingCheck" id="profilingCheck" class="checkbox"></input>
        	<label for="profilingCheck"><a href="#"></a></label>
        </div>
        -->
      <div class="aem-Grid aem-Grid--12 aem-Grid--default--12  ">
        <div class="check-box parbase aem-GridColumn aem-GridColumn--default--12">
          <div class="informative-checkbox-consent">
            <input type="checkbox" name="privacyCheck" id="privacyCheck" class="checkbox" required="true">
            <label for="privacyCheck">
            <a target="_blank" href="/en/legal-statements/privacy">I read and accept the privacy policy</a>
            </label>
          </div>
        </div>
        <div class="check-box parbase aem-GridColumn aem-GridColumn--default--12">
          <div class="informative-checkbox-consent">
            <input type="checkbox" name="marketingCheck" id="marketingCheck" class="checkbox">
            <label for="marketingCheck">
            <a href="/en/legal-statements/consent-for-marketing">I give my consent to Enel X for the processing of my personal data for marketing activities</a>
            </label>
          </div>
        </div>
        <div class="check-box parbase aem-GridColumn aem-GridColumn--default--12">
          <div class="informative-checkbox-consent">
            <input type="checkbox" name="thirdPartCheck" id="thirdPartCheck" class="checkbox">
            <label for="thirdPartCheck">
            <a href="/en/legal-statements/third-party-consent-for-marketing">I give my consent to Enel X and to third parties authorized by it for marketing activities  </a>
            </label>
          </div>
        </div>
        <div class="check-box parbase aem-GridColumn aem-GridColumn--default--12">
          <div class="informative-checkbox-consent">
            <input type="checkbox" name="extEuThirdPartCheck" id="extEuThirdPartCheck" class="checkbox">
            <label for="extEuThirdPartCheck">
            <a href="/en/legal-statements/consent-to-the-transfer-of-data-to-third-countries-outside-the-e">I give my consent to the transfer of my personal data to third countries outside European Union</a>
            </label>
          </div>
        </div>
        <div class="check-box parbase aem-GridColumn aem-GridColumn--default--12">
          <div class="informative-checkbox-consent">
            <input type="checkbox" name="profilingCheck" id="profilingCheck" class="checkbox" required="true">
            <label for="profilingCheck">
            <a href="/en/legal-statements/consent-to-profiling">I give my consent to profiling</a>
            </label>
          </div>
        </div>
        <div class="new section aem-Grid-newComponent">
        </div>
      </div>
    </div>
    <!-- #TERMS AND CONDITION -->
    <div id="recaptcha-container" class="form-group">
      <div class="g-recaptcha" data-sitekey="6LcMoUkUAAAAAIyfkTbonym5oVqC7YI66sC-Z3wR"></div>
    </div>
    <div class="form-group submit textcenter">
      <button type="submit" id="submit-checkOut" class="full-width cta-purple buttonlabel buttonlink">
      SEND REQUEST
      </button>
    </div>
    <div class="clear"></div>
    <!-- /TERMS AND CONDITION -->
  </div>
</form>