// Alignment
//
// Your standard button suitable for clicking.
//
// :hover   - Highlights when hovering.
//
// Markup: align/align.twig
//
// Style guide: Helpers.align

// Inline
.text--left {
	text-align: left;
}

.text--center {
	text-align: center;
}

.text--right {
	text-align: right;
}

// push / pull