.row {
  width: 100%;
  float: left;

  * {
	  box-sizing: border-box; 	
  }

	&:before,
	&:after {
	  @include clearfix();
	}

}

.column {
  padding: 15px;
  margin-bottom: 10px;

  &.outline {
	  border: 1px solid #666;
	  background: #343436;
  }

  // &:last-of-type {
  //   margin-right: 0;
  // }
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.half {
  width: 100%;
}
/* 
* Any styling that should be applied to screen widths larger
* than a mobile device: tablet, laptop, desktop, etc. 
*/

@media only screen and (min-width: 800px) {
  .column {
    float: left;
  }  
  .one {
    width: 100%;
  }
  .half {
    width: calc(100% / 2);
  }
  .one-third {
    width: calc(100% / 3);
  }
  .one-fourth {
    width: calc(100% / 4);
  }
  .two-thirds {
    width: calc(100% / 3 * 2);
  }
}
