// flex grid
.flex-row {
  display: flex;
}

/* With gutters */
.flex-gutters {
  margin: -1em 0 0 -1em;
}
.flex-gutters > .flex-box {
  padding: 1em 0 0 1em;
}

.justify,
.row-justify {
  justify-content: center;
}

.fill-height {
  height: 100%;
}

/* Alignment per row */
.row-align--top {
  align-items: flex-start;
}
.row-align--bottom {
  align-items: flex-end;
}
.align-center,
.row-align--center {
  align-items: center;
  justify-content: space-around;
}

/* Alignment per cell */
.self-align--top {
  align-self: flex-start;
}
.self-align--bottom {
  align-self: flex-end;
}
.self-align--center {
  align-self: center;
}

/* Small to medium screens */
@media (min-width: 24em) {
  .fit.flex-box { 
    flex: 1;
  }
  .full.flex-box { 
    flex: 0 0 100%;
  }
  .one-half.flex-box { 
    flex: 0 0 48%;
  }
  .one-third.flex-box { 
    flex: 0 0 30%;
  }
  .one-fourth.flex-box { 
    flex: 0 0 25%;
  }
}
