.container {
  position: relative;

  &.size-to-window  {
    width: 100%;
    height: 100vh;
  }

  &.animate {
    @include prefix(transition, height 2s ease-in, webkit ms );
    height: 20vh;
  }
}

.centered {
  @include containerize();
}

// .content {
//   &.is-narrow {
//     padding: 4.5rem;
//     max-width: 1024px;
//   }
// }

.clearfix {
  @include clearfix;
}