
// Fluid Container
// .page__container
.container {
  overflow: hidden;

  &.size-to-window  {
    width: 100%;
    height: 100vh;
  }
}

.page__logo {
  margin: 2em auto;
  max-width: 200px;
  display: block;
}
.page__title {
  font-size: 58px;
}
.page__sub-title {
  font-size: 24px;
}


.pad-default {
  padding:  $double-spacing 0;
}
.pad-double {
  padding:  $double-spacing * 2 0;
}



.clearfix {
  @include clearfix;
}