// Page
//
// Your standard button suitable for clicking.
//
// :hover   - Highlights when hovering.
//
// Markup: page/page.twig
//
// Style guide: Primer.Page

$page-margin--desktop: $double-spacing;
$page-margin--tablet: $double-spacing;
$page-margin--mobile: $base-spacing;
$gutter--desktop: $base-spacing;
$gutter--mobile: $base-spacing;

// Fixed Container
.row {

  &.has-background {
    .image {
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      height: 50vh;
    }
  }

  &.parallax {
    .image {
      background-attachment: fixed;
    }
  }

  &.relative {
    position: relative;
  }

  &.center {
    @include containerize();  
  }

  &.left-right {

  }

}