// Inline Grid
//
// Your standard button suitable for clicking.
//
// Markup: grid/inline.twig
//
// Style guide: Primer.Inline

.row--inline {
  vertical-align: top;
  margin: 0 $page-margin--desktop;

	&.align--middle {
	  vertical-align: middle;
	}

	&.align--bottom {
	  vertical-align: bottom;
	}  
	
	&.align--center {
	  text-align: center;
	}
}


// .item-one,
// .item-one-third,
// .item-two-thirds,
// .item-one-fourth,
// .item-half {
//   width: 100%;
// }
/* 
* Any styling that should be applied to screen widths larger
* than a mobile device: tablet, laptop, desktop, etc. 
*/

@media only screen and (min-width: 800px) {

  [class*='item-'] {
    display: inline-block;
    margin-right: $gutter--desktop;

    &:last-of-type {
      margin-right: 0;
    }

  }

  .item-full { 
    width: 100%; // 12
  }
  .item-half {
    width: calc(100% / 2); // 6
  }
  .item-one-third {
    width: calc(100% / 3); // 4
  }
  .item-one-fourth {
    width: calc(100% / 4); // 3
  }
  .item-one-sixth {
    width: calc(100% / 6);  // 2
  }
}