// Tables
//
// Your standard table suitable for tableling.
//
// Markup: tables/tables.twig
//
// Style guide: Primer.tables

table {
  border-collapse: collapse;
  margin: ($base-spacing / 2) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15);
  font-weight: bold;
  padding: ($base-spacing / 2) 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: ($base-spacing / 2) 0;
}

tr,
td,
th {
  vertical-align: middle;
}

table {
  width: 100%;
  max-width: 100%;
  margin: 0 0 $half-spacing;
}

thead th {
  // background: $table-header-bg;
  border: none;
  border-bottom: 2px solid $medium-gray;
  color: $text-color;
  padding: $base-spacing $base-spacing $base-spacing 0;
  text-transform: capitalize;
  text-align: left;

  h4 {
    margin-top: 0;
    margin-bottom: $half-spacing;
  }
}

tr {
  border-top: $base-border;
  padding: $table-row-padding;
  padding: 0;

  &:first-child {
    border-top: none;
  }
}

tbody tr:hover,
tbody tr:focus {
  background: $table-row-bg--hover;
}

/* See colors.css */
tbody tr.color-warning:hover,
tbody tr.color-warning:focus {
  background: $red;
}

tbody tr.color-error:hover,
tbody tr.color-error:focus {
  background:  $red;
}

td {
  padding: $base-spacing $base-spacing $base-spacing $half-spacing / 2;
  // word-break: break-all;
}

th.is-active > a {
  color: $table-link-color;
}

th.is-active > a:after {
  border: none;
}

th > a:hover,
th > a:focus,
th.is-active > a:hover,
th.is-active > a:focus {
  color: $table-link-color--hover;
}

th > a:hover:after,
th > a:focus:after,
th.is-active > a:hover:after,
th.is-active > a:focus:after {
  border: none;
}


.views-field-node-bulk-form {
  padding-left: $base-spacing;
}

/**
 * Captions.
 */
.caption {
  margin-bottom: $base-spacing;
}

.form-item {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: $half-spacing;
  // margin-left: $half-spacing;
}

.field-multiple-drag {
  padding-left: 0;
}

tr {
  .chosen-container-single .chosen-single {
    height: 31px;
    line-height: 31px;
    
    div b:before {
      top: 11px;
    }
  }
  .chosen-container .chosen-results li {
    padding: $half-spacing / 2;
    line-height: 16px;
  }
  select {
    height: 32px;
  }
}


// a {
//   span.tablesort {
//     float: none; /* LTR */
//     margin-top: 0;
//     margin-left: $half-spacing; 
//     width: 10px;
//     height: 10px;

//     &.tablesort--asc {
//       background-image: none;
//       @include icon('icons-admin', '\e901');

//       &:before {
//         font-size: 14px;
//       }
//     }

//     &.tablesort--desc {
//       background-image: none;
//       @include icon('icons-admin', '\e901');
//       transform: scaleX(-1);
      
//       &:before {
//         font-size: 14px;
//       }
//     }
//   }
  
//   &:hover .tablesort.tablesort--asc {
//     background-image: none;
//   }

//   &:hover .tablesort.tablesort--desc {
//     background-image: none;
//   }

// }


