// Visibility
//
// Your standard button suitable for clicking.
//
// Markup: visibility/visibility.twig
//
// Style guide: Primer.Visibility

.hide {
	display: none !important;
}

.hide--visually {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}