// Visibility
//
// Your standard button suitable for clicking.
//
// :hover   - Highlights when hovering.
//
// Markup: visibility/visibility.twig
//
// Style guide: Primer.Visibility

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.hidden {
	display: none !important;
}

// Hide Mixin
@mixin hide($media) {

}

// Hide Mixin
@mixin show($media) {

}

.hidden--desktop {}
.hidden--mobile {}
.hidden--screen-reader {}

.show--desktop {}
.show--mobile {}
.show--screen-reader {}

// screen readers
// show hide
// aria-hidden="true"