// Alignment
//
// Your standard button suitable for clicking.
//
// :hover   - Highlights when hovering.
//
// Markup: button.html
//
// Style guide: components.button


// @mixin align (left, center, grid 11)

.align-overlay {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}


.align--left {
	text-align: left;
}

.align--center {
	text-align: center;
}

.align--right {
	text-align: right;
}


.text-center {
  text-align: center;
}

.text-large {
  font-size: 24px;
  padding-right: 3rem;
}



// @mixin margin(mult, direction) {

// }