// Spacing
//
// Your standard button suitable for clicking.
//
// :hover   - Highlights when hovering.
//
// Markup: button.html
//
// Style guide: components.button

@mixin space($type: margin, $direction: all, $amount: $base-spacing) {

	@if $type == padding {
		@if $direction == all{
			padding: $amount;
		} @else if $direction == top {
			padding-top:$amount
		} @else if $direction == left {
			padding-left:$amount
		} @else if $direction == right {
			padding-right:$amount
		} @else {
			padding-bottom:$amount
		}
	} @else {
		@if $direction == all{
			margin: $amount;
		} @else if $direction == top {
			margin-top:$amount
		} @else if $direction == left {
			margin-left:$amount
		} @else if $direction == right {
			margin-right:$amount
		} @else {
			margin-bottom:$amount
		}
	}
}

//Usage definition
@include padding(top, right, bottom, left);
@include margin(top, right, bottom, left);

// even padding all sides - 
// margin-bottom - headings, p, 
// top / bottom padding
// gutters
// left / right padding 

// $sm
// $md
// $lg

.p-sm {
	padding: $base-spacing;
}
.p-md {
	padding: $base-spacing * 2;
}
.p-lg {
	padding: $base-spacing * 3;
}

.pl-sm {
	padding: $base-spacing;
}
.pl-md {
	padding: $base-spacing * 2;
}
.pl-lg {
	padding: $base-spacing * 3;
}


.m-sm {
	padding: $base-spacing / 2;
}
.m-md {
	padding: $base-spacing;
}
.m-lg {
	padding: $base-spacing * 2;
}


.mb-sm {
	margin-bottom: $base-spacing / 2;
}

.mb-md {
	margin-bottom: $base-spacing;
}

.mb-lg {
	margin-bottom: $base-spacing * 2;
}

// @mixin pad-all(multiple) {
// 	padding: ($base-spacing * multiple);
// }

// @mixin pad(mult, direction) {

// }

// @mixin margin-all(multiple) {

// }