<div class="main" data-ng-controller="suggestionController as ctrl">

  <div class="intro">
    <div class="device-background">
      <div class="device-text">

        <h2>Elev8d Fitness</h2>

        <h5>Introduction</h5>

        <p>Brunello has conducted a detailed examination of the Elev8d Fitness product interface against best practices, user feedback, and our own experience. We examined the platform on desktop, mobile, and native app, and compared it to solutions on Daily Burn and Nike Fitness; both identified as successful competitors. We looked through the lens of a paid subscriber and focused on two primary goals: Is the product easy to use? And, does the product inspire confidence in the brand? We found the main issues are in the workouts section, blog integration (external links), and dashboard. Below is a written summary of our detailed suggestion list below.</p>

        <blockquote>“Design not just what it looks like and feels like. Design is how it works.” – Steve Jobs</blockquote>

        <h5>Findings</h5>
        
        <p>While the purpose of a UX audit is to uncover and report areas that need improvement, we believe the site has many positive attributes that serve as a solid foundation. Among those are:</p>

        <p>The dashboard/home page was underwhelming when first logged in. We found it had very little customized video content. We found the dashboard elements to be too large and provided little functionality. Overall we wanted to be able to click on video content sooner than later and on mobile we found this to be below half way down the page.</p>

        <p>The workouts were especially tough and we struggled to understand the direction until we evaluated Nike Fitness. This is a part of the site where execution and details matter. Many of the design nuances that made Nike's video experience useful were missing from the Elev8d experience.  We also noticed the workouts were not particularly tailored to us but this was hard to confirm with our limited use. Judging by the user feedback this does seem to be an issue. We would be curious to understand how the workouts are selected. If there is one take away from this report it is to redesign this section.</p>

        <ul>
          <li>Clean and modern landing page design and layout. Needs revised copy and stronger branding to tell the story and philosophy of Elev8d Fitness.</li>
          <li>Plenty of calls-to-action to sign up / start free trial.</li>
          <li>Strong testimonials.</li>
          <li>The mantra is a great motivator, especially since you can customize it with a background image.</li>
          <li>Dashboard has opportunity for future growth and can be expanded upon.</li>
          <li>The combination of the visual demo and audio direction make the movements very easy to understand and perform.</li>
          <li>The mobile signup process is smooth. (Better than desktop)</li>
          <li>The interactive tutorial is helpful and informative.</li>
          <li>The Today's Recommendation video is displayed large and prominently.</li>
          <li>Although the video experience on mobile is confusing, all of the elements are there and small UX tweaks will greatly improve the usability.</li>
          <li>Great blog content which explains why Elev8d is unique. (i.e. the <a href="https://blog.elev8dfitness.com/fitness/core-movements-define-elev8d-fitness/" target="_blank">8 movements videos</a>)</li>
          <li>Simple navigation choices. Not a lot for the user to dig through.</li>
          <li>Personalized rather than generic content</li>
        </ul>

        <p>Our initial impression of the product, based on the landing page,  is that it is like many others. As stated above, Elev8d Fitness has a story and philosophy that should be leveraged to set it apart from its competitors. However, the landing page uses rather generic selling points that many other fitness programs use (available anywhere, step-by-step guidance, personalized plan, etc.). There is great content in the about section and on the blog that could be used to sell the product’s uniqueness.</p>

        <p>The signup process is fairly painless, especially on mobile,  but we found a few usability issues in the form process. The interactive tutorial is useful, but during our first run through it appeared many times and became an annoyance. We later found this was triggered by changing our preferences. Ultimately, clear and intuitive navigation will eliminate the need for a guide.</p>

        <p>We believe the homepage / dashboard should be expanded upon. Currently, it lacks personalized video content and the tracking tools are limited. Overall, we want to be able to click on video content sooner rather than later, but the dashboard elements are so large that they pushed the video content far down the page , especially on mobile.</p>

        <p>On the mobile web experience and in the app, navigating the workouts is especially tough and we struggled to understand the flow. This is a part of the site where execution and details matter. Many of the design nuances that make Nike's video experience useful are missing from the Elev8d Fitness experience. We are curious to understand how the workouts are selected. If there is one take away from this report it is to redesign this section.</p>

        <p>The blog has a lot of great content that is not making its way to the app. Many of the videos could be used on the about / sales page. The navigation in the blog and footer presents many issues and we were frequently directed out of the application. Although there are a lot of issues with the current implementation of the blog, we are interested in how this content can be better integrated as much of it is very compelling towards the brand and lifestyle. Seemingly none of the product/blog language translated into the app experience.</p>

        <h5>Conclusion</h5>

        <p>In conclusion, our team has documented 80 UX issues and ranked them based on expected impact and level of effort.</p>

        <p>The workouts have the most potential for improvement. Overall, the experience lacks the level of polish a user expects in a modern application. While independently these blemishes may not seem major, collectively they reduce user confidence and stickiness of the product.</p>

        <p>We recommend prioritizing the issues outlined in this report and addressing the high-impact/low-effort items first. Additionally, we believe conducting small-scale, observation-based usability tests would be beneficial to further validate the findings and gain deeper insights into user behavior. We also suggest utilizing heatmapping and screen recording analytics.</p>

        <p>We appreciate the opportunity to work with your team on this audit and look forward to the next steps.</p>

      </div>
      <div class="device">
        <div class="screen"></div>
      </div>
    </div>
  </div>

  <div class="resources">
  
    <h2>Suggestion Overview</h2>

    <div class="flex-boxes">

      <div class="flex-box">

        <canvas id="doughnut" class="chart chart-doughnut"
          chart-data="ctrl.impactData" chart-options="ctrl.options" chart-labels="ctrl.impactLabels">
        </canvas> 

        <h1 class="flex-title">Site Impact</h1>
        <p>This shows the breakdown of suggestions based on the level of impact on the user experience.</p>
      </div>
      
      <div class="flex-box">

        <canvas id="radar" class="chart chart-radar"
          chart-data="ctrl.focusData" chart-labels="ctrl.focusLabels">
        </canvas> 

        <h1 class="flex-title">Site Focus</h1>
        <p>This shows the breakdown of which areas of the site the suggestions affect.</p>
      </div>

      <div class="flex-box">

        <canvas id="doughnut" class="chart chart-doughnut"
          chart-data="ctrl.effortData" chart-options="ctrl.options" chart-labels="ctrl.effortLabels">
        </canvas>

        <h1 class="flex-title">Effort Level</h1>
        <p>This shows the breakdown of suggestions perceived level of effort to implement the change.</p>
      </div>

      </a>
    </div>

  </div>

  <div class="content-main">

    <h2>Suggestions</h2>

    <div class="edit-suggestion-component">
      <div class="suggestion-list">
        <div class="content">

          <div class="search-suggestion">
            <label>Search
              <input type="text" data-ng-model="filter.issue" />
            </label>
          
            <label class="right">Effort
              <select ng-model="filter.effort">
              <option value="" selected>-All-</option>
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select></label>

            <label class="right">User Impact
              <select ng-model="filter.impact">
              <option value="" selected>-All-</option>
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select></label>

            <label class="right">Site Focus
              <select ng-model="filter.focus">
              <option value="" selected>-All-</option>
              <option value="Account">Account</option>
              <option value="Analytics">Analytics</option>
              <option value="Blog">Blog</option>
              <option value="Dashboard">Dashboard</option>
              <option value="General">General</option>
              <option value="Library">Library</option>
              <option value="Navigation">Navigation</option>
              <option value="Signup Process">Signup Process</option>
              <option value="Workouts">Workouts</option>
            </select></label>

            <label class="right">Appeal
              <select ng-model="filter.appeal">
              <option value="" selected>-All-</option>
              <option value="Opinion and Best Practice">Opinion and Best Practice</option>
              <option value="Opinion and Competition">Opinion and Competition</option>
              <option value="Opinion and Analytics">Opinion and Analytics</option>
              <option value="Best Practice">Best Practice</option>
              <option value="Opinion">Opinion</option>
              <option value="Bug">Bug</option>
            </select></label>
          </div>

          <div class="suggestion-list">
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Issue</th>
                  <th>
                    <a href="#" ng-click="sortType = 'focus'; sortReverse = !sortReverse">Site Focus
                    <span ng-show="sortType == 'focus' && !sortReverse" class="icon-caret-down"></span>
                    <span ng-show="sortType == 'focus' && sortReverse" class="icon-caret-up"></span>
                  </a></th>
                  <th><a href="#" ng-click="sortType = 'impact'; sortReverse = !sortReverse">User Impact
                    <span ng-show="sortType == 'impact' && !sortReverse" class="icon-caret-down"></span>
                    <span ng-show="sortType == 'impact' && sortReverse" class="icon-caret-up"></span>
                  </a></th>
                  <th><a href="#" ng-click="sortType = 'effort'; sortReverse = !sortReverse">Effort
                    <span ng-show="sortType == 'effort' && !sortReverse" class="icon-caret-down"></span>
                    <span ng-show="sortType == 'effort' && sortReverse" class="icon-caret-up"></span>
                  </a></th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="item in ctrl.content | filter:filter:strict | orderBy:sortType:sortReverse " data-ng-click="ctrl.loadSuggestion(item)">
                  <td class="item-id">{{ item.id }}</td>
                  <td class="item-issue">
                    <div class="hidden item-appeal"><em>{{ item.appeal }}</em></div>
                    <strong>{{ item.issue }}</strong>
                    <div class="hidden">{{ item.notes }}</div>
                    <br />
                    <linkblock class="linkblock" content="item"></linkblock>
                  </td>
                  <td class="item-focus">{{ item.focus }}</td>
                  <td class="item-impact">{{ item.impact }}</td>
                  <td class="item-effort">{{ item.effort }}</td>
                </tr>
              </tbody>
            </table>

          <div class="clear"></div>
        </div>

      </div>
    </div>

    <div class="content-links">
       <div class="line-behind-text"><h6>LINKS</h6></div>

      <ul class="bullets">
        <li class="bullet">
          <div class="bullet-icon bullet-icon-1">
            <span class="icon-sitemap"></span>
          </div>
          <div class="bullet-content">
            <h4><a href="http://clients.brunelloinc.com/elev8d/ux-audit/sitemap/index.html" target="_blank">Elev8d Sitemap</a></h4>
            </div>
        </li>  
        <li class="bullet">
          <div class="bullet-icon bullet-icon-2">
             <span class="icon-table"></span>
          </div>
          <div class="bullet-content">
            <h4><a href="http://clients.brunelloinc.com/elev8d/ux-audit/Elev8d_audit_suggestions.xlsx.zip" target="">Download Spreadsheet</a></h4>
          </div>
        </li>
        <li class="bullet">
          <div class="bullet-icon bullet-icon-3">
            <span class="icon-photos"></span>
          </div>
          <div class="bullet-content">
            <h4><a href="http://clients.brunelloinc.com/elev8d/ux-audit/elev8d-screenshots.zip" target="">Download Screenshots</a></h4>
          </div>
        </li> 
        <li class="bullet">
          <div class="bullet-icon bullet-icon-4">
            <span class="icon-layout"></span>
          </div>
          <div class="bullet-content">
            <h4><a href="http://clients.brunelloinc.com/elev8d/ux-audit/wireframes/index.html" target="_blank">Workout Wireframes</a></h4>
          </div>
        </li>
        <li class="bullet">
          <div class="bullet-icon bullet-icon-5">
            <span class="icon-eye"></span>
          </div>
          <div class="bullet-content">
            <h4><a href="http://clients.brunelloinc.com/elev8d/ux-audit/full-length-videos/index.html" target="_blank">Workout Sample Designs</a></h4>
          </div>
        </li> 
      </ul>

    </div>

    <footer class="audit-footer">
      <p><span class="badge"><img src="images/brunello-badge.svg"></span> Brunello Inc. / 127 South St. Boston, MA 02111 / (617) 314-6286 / <a href="http://www.brunelloinc.com">www.brunelloinc.com</a></p>
    </footer>

  </div>

</div>
<!-- Main -->