<nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">

  <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>

  <span class="icon i-admin-breadcrumb-back"></span>

  <ol>
    <li class="breadcrumb__item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb__item">
      <a href="/node">Node</a>
    </li>
    <li class="breadcrumb__item">
      <a href="/article/health/shortage">5 Ways to Cope with the Buspirone Shortage</a>
    </li>
  </ol>
</nav>