---
title: Guideposts
description: Site Design and Build
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <h4>Content is King</h4>

        <p>
          <strong>Paw</strong>
        </p>

        <p>
          <strong>Mena</strong>
        </p>

        <p>
          <strong>Imaginatik</strong>
        </p>

        <div class="credits">
          <p class="attribution">Work done at Brunello, Inc.</p>
          <ul class="team-list">
            <li>Jason Fournier: Designer</li>
            <li>Kyle Langford: Designer, Front-End Developer</li>
            <li>Mike Calebrese: Drupal Developer</li>
            <li>Nicole Baltzer: PM</li>
          </ul>
          <p class="last-edit">Last Edit: 5.30.19</p>
        </div>
      </article>
    </div>
  </div>
</main>
