@mixin clickable {
  appearance: none;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-shadow: none;
  font-size: 1rem;
  font-weight: 600;

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    text-decoration: none;
  }

  &:disabled,
  &:disabled:active,
  &.is-disabled,
  &.is-disabled:active {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.5;
  }
}
