/*
  Container

	A container is an element with a max-width and equal left / right margins
  
*/

@mixin containerize($local-max-width: $max-width, $center: true) {
	// if true
	margin-left: auto;
	margin-right: auto;
	//

	max-width: $local-max-width;
	// overflow: hidden;
	width: 100%;
}
