/*
 * Media Queries
*/

// Media
//
// Media Queries
//
// Markup: media/media.twig
//
// Style guide: Mixins.media

// map?
$phone:        400px  !default;
$phone-wide:   480px  !default;
$phablet:      560px  !default;
$tablet-small: 640px  !default;
$tablet:       768px  !default;
$tablet-wide:  1024px !default;
$desktop:      1248px !default;
$desktop-wide: 1440px !default;

@mixin media($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}