<footer class="footer" aria-labelledby="footer">
	<div class="footer__content footer__content--primary">
		<div class="footer__group">
			<img src="../assets/img/brand/logo.svg" />
		</div>

		<div class="footer__group">
			<div class="footer__group-inner">
				<ul>
					<li>
						<a class="footer__link" href="/services">Services</a>
					</li>
					<li>
						<a class="footer__link" href="/work">Case studies</a>
					</li>
					<li>
						<a class="footer__link" href="/resources">Resources</a>
					</li>
					<li>
						<a class="footer__link--highlight" href="/hire-us">Hire Us</a>
					</li>
				</ul>
				<ul>
					<li>
						<a class="footer__link" href="/locations">Our Team</a>
					</li>
					<li>
						<a class="footer__link" href="/purpose">Purpose</a>
					</li>
					<li>
						<a class="footer__link" href="/blog">Blog</a>
					</li>
					<li>
						<a class="footer__link--highlight" href="/jobs">Join our team</a>
					</li>
				</ul>
				<ul>
					<li>
						<a class="footer__link" href="https://twitter.com/thoughtbot"
							>Twitter</a
						>
					</li>
					<li>
						<a class="footer__link" href="https://github.com/thoughtbot"
							>GitHub</a
						>
					</li>
					<li>
						<a class="footer__link" href="https://dribbble.com/thoughtbot"
							>Dribbble</a
						>
					</li>
					<li>
						<a class="footer__link" href="https://instagram.com/thoughtbot"
							>Instagram</a
						>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer__content footer__content--secondary">
		<div class="footer__group">
			<div class="copyright">
				© 2019 thoughtbot, inc.
				<p>
					The design of a robot and thoughtbot are registered trademarks of
					thoughtbot, inc.
				</p>
			</div>
		</div>

		<div class="footer__group">
			<div>
				<ul>
					<li>
						<a href="tel:+18779762687">US: +1 (877) 9-ROBOTS</a>
					</li>
					<li>
						<a href="tel:+442038070560">UK: +44 (0)20 3807 0560</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="/open-source-code-of-conduct">Code of Conduct</a>
					</li>
					<li>
						<a href="/accessibility-statement">Accessibility Statement</a>
					</li>
					<li>
						<a href="//www.iubenda.com/privacy-policy/7827608"
							>Privacy Policy</a
						>
					</li>
					<li>
						<a href="https://formkeep.com/">FormKeep</a>
					</li>
					<li>
						<a href="https://houndci.com/">Hound</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
