<section class="mast-head">
	<button class="primary-menu-btn">About</button>
	<nav class="primary">
		<div class="container">
			<div class="knockout">
				<div class="row flex flex-align--center flex--justify fill-height">
					<div class="column two-thirds">
						<div class="intro-message">
							<h1 class="page__title">Colophon</h1>
							<ul class="list">
								<li class="list__item animate fade-in">
									<article class="view--teaser">
										<a href="http://www.google.com">
											<span class="label">Primer.css</span>
											<p>
												Lorem Ipsum
											</p>
										</a>
									</article>
								</li>
							</ul>
						</div>

						Site By: Kyle Langford Primmer CSS Primer io
					</div>
				</div>
			</div>
		</div>
	</nav>
</section>
