<!-- Sectioned: Nav / Menu -->
<nav class="primary">
  <div class="container">
    <div class="knockout">
      <div class="row flex flex-align--center flex--justify fill-height">
        <div class="column two-thirds">
          <div class="intro-message">
            <ul class="list">
              <li class="list__item animate fade-in">
                <article class="view--teaser">
                  <a href="http://www.google.com">
                    <span class="label">Primer.css</span>
                    <p>
                      Lorem Ipsum
                    </p>
                  </a>
                </article>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
