// Page
$page-margin--desktop: 15vh;
$page-margin--tablet: 10vh;
$page-margin--mobile: 6vh;

$page-margin--desktop: auto;
// $page-margin--tablet: auto;
// $page-margin--mobile: auto;

$max-width: 1004px; // 125.5 x 8 // g(251)
$page-margin: 20px; // grid(5)

// Fixed Container
.row {
  margin-left: $page-margin--mobile;
  margin-right: $page-margin--mobile; 


  @include media($sm-breakpoint) {
    margin-left: $page-margin--tablet;
    margin-right: $page-margin--tablet;
  }

  @include media($md-breakpoint) {
    margin-left: $page-margin--desktop;
    margin-right: $page-margin--desktop;
    max-width: $max-width;
    width: 100%;
  }

  &.row--collapse {
    margin-left: 0;
    margin-right: 0;
  }
}

.row--grid {
  @include containerize();
}

// Fluid Container
.container {
  overflow: hidden;
  position: relative;
}

.wrap {
  padding: $wrap-padding 0;
  @include containerize;
  @include media(max-width $medium) {
    padding: 6em 0;
  }
  img {
    width:100%;
  }
  .logo {
    width:50%;
    margin-bottom:3em;
  }
}


// Layout Helpers
.relative {
  position: relative;
}
.clearfix {
  @include clearfix;
}
.fill-height {
  height: 100%;
}