// Flex Box
.flex {
  display: flex;
  flex-flow: column nowrap;

  @include media($sm-breakpoint) {
    .column {
      flex: 1 auto;
    }
  }

  @include media($md-breakpoint) {
    display: flex;
    flex-flow: row nowrap;
    .column {
      flex: 0 auto;
    }
  }
}


.flex--justify {
  justify-content: center;
}
.flex-align--top {
  align-items: flex-start;
}
.flex-align--bottom {
  align-items: flex-end;
}
.flex-align--center {
  align-items: center;
  justify-content: space-around;
}