// Autocomplete
//
// Your standard button suitable for clicking.
//
// Markup: input-autocomplete/input-autocomplete.twig
//
// Style guide: Pattern Library.autocomplete

/**
 * @file
 * Visual styles for animated throbber.
 *
 * @see autocomplete.js
 */

.js input.form-autocomplete {
  background-image: url(../../img/svg/circle-thin.svg);
  background-position: 98% center; /* LTR */
  background-repeat: no-repeat;
  // transition: background .15s ease-in .25s;
}

.js input.form-autocomplete.ui-autocomplete-loading {
  background-image:  url(../../img/svg/circle.svg);
  background-position: 98% center; /* LTR */
}

.ui-menu {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
  padding-top: 3px;
  margin-top: -3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.ui-menu.ui-autocomplete {
  border-color: $action-color;
  border-top: none;
}

.ui-menu .ui-menu-item-wrapper {
  display: inline-block;
  padding: 4px 12px;
}

.ui-menu.ui-autocomplete .ui-state-focus, 
.ui-menu.ui-autocomplete .ui-state-active {
	margin: 0;
	color: $action-color--hover;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

// .spinner:before {
//   content: '';
//   box-sizing: border-box;
//   position: absolute;
//   bottom: 10px;
//   right: 12px;
//   width: 20px;
//   height: 20px;
//   margin-top: -10px;
//   margin-left: -10px;
//   border-radius: 50%;
//   border: 1px solid #f6f;
//   border-top-color: #0e0;
//   border-right-color: #0dd;
//   border-bottom-color: #f90;
//   animation: spinner .6s linear infinite;
// }

// .js-form-type-entity-autocomplete {
// 	position: relative;

//   &.typing {
//     label:before {
//       border: 1px solid #f6f;
//       border-top-color: $action-color;
//       border-right-color: $action-color--hover;
//       border-bottom-color: $action-color--active;
//       animation: spinner .6s linear infinite;
//     }
//   }

//   label:before {
// 	  content: '';
// 	  box-sizing: border-box;
// 	  position: absolute;
//     top: 52px;
//     right: 12px;
// 	  width: 20px;
// 	  height: 20px;
// 	  margin-top: -10px;
// 	  margin-left: -10px;
// 	  border-radius: 50%;
// 	  border: 1px solid #333;
// 	  border-top-color: #333;
// 	  border-right-color: #333;
// 	  border-bottom-color: #333;
// 	}
// }
