.messages {
  background: no-repeat 10px 17px;  /* LTR */
  border: 1px solid;
  border-radius: $base-corner-radius;
  padding: 1em $base-spacing; /* LTR */
  word-wrap: break-word;
  margin: 0;
  margin-bottom: $base-spacing;
  overflow-wrap: break-word;
  position: relative;
  display: flex;

  &:before {
    display: block;
    margin-right: $half-spacing;
    top: 2px;
    align-self: flex-start;
    position: relative;
  }

  @include mod('status') {
    color: darken($messages--status, 10%);
    background-color: lighten($messages--status, 50%);
    border-color: $messages--status;
    background-image: none;
    @include iconize('icons-admin', '\e916');
    box-shadow: none;
  }

  @include mod('warning') {
    background-color: $messages--warning;
    background-image: none;
    @include iconize('icons-admin', '\e919');
    border-color: darken($messages--warning, 30%);
    color: darken($messages--warning, 50%);
    box-shadow: none;
  }

  @include mod('error') {
    background-color: lighten($messages--error, 30%);
    color: darken($messages--error, 10%);
    background-image: none;
    @include iconize('icons-admin', '\e903');
    border-color: $messages--error;
    box-shadow: none;
  }

  // Make your own status mixin

}


.messages + .messages {
  margin-top: 1.538em;
}

.messages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.messages__item + .messages__item {
  margin-top: 0.769em;
}

.messages--error p.error {
  color: #a51b00;
}
