// Pager
//
// For paginated content
//
// Markup: pager/pager.twig
//
// Style guide: Pattern Library.pager

// Pager
$pager-select-bg-color: linear-gradient(to bottom, $white, $subtle-gray) !default;
$pager-select-bg-color--hover: linear-gradient(to bottom, $subtle-gray, $white) !default;
$pager-select-bg-color--active: $action-color--active !default;
$pager-in-between-spacing: $half-spacing / 2 !default;
$pager-button-padding: 0 7px 2px !default;

.pager__items {
  clear: both;
  margin: $base-spacing;
  padding: 0;
  text-align: center;

  @include elem('item') {
    color: $text-color;
    display: inline;
    font-size: 1em;
    margin: 0;
    padding: 0 $pager-in-between-spacing;  
    
    a {
      background: $pager-select-bg-color;
      border: $base-border;
      border-radius: $base-corner-radius;
      color: $text-color;
      padding: $pager-button-padding;

      &:hover,
      &:focus {
        background: $pager-select-bg-color--hover;
        border-bottom-color: $line-color;
        color: $action-color;
      }
    }  

    // .pager--is-active
    &.is-active a {
      background: $pager-select-bg-color--active;
      border: 1px solid $pager-select-bg-color--active;
      color: $white;
    }
  }
}

.pager__item--next a,
.pager__item--last a,
.pager__item--first a,
.pager__item--previous a {
  background: transparent;
  border: 0;
  color: $action-color;
}
