/**
 * CTA 
 *
 * Animated SVG Elements and Files
 *
 *
 * Style guide: Components Library.cta
 *
 */

.paragraph--type--cta {

  .field--name-field-cta {
  	display: inline-block;
  	padding-top: $base-padding / 4;
  	padding-bottom: $base-padding / 4;
  }

}

