/**
 * Media Grid
 *
 * Handles inline media content.
 *
 *
 * Style guide: Components Library.Media Grid
 *
 */

.paragraph--type--media-grid {
	@include clearfix;

	// &.grid--1 {
	// 	.field--name-field-attach {
	// 		& > .field__item {
	// 			@include span-columns(12);
	// 		}
	// 	}
	// }
	// &.grid--2 {
	// 	.field--name-field-attach {
	// 		& > .field__item {
	// 			@include span-columns(6);
	// 			@include omega(2n);
	// 	    padding-right: 1em;
	// 	    padding-left: 1em;
	// 		}
	// 	}
	// }
	// &.grid--3 {
	// 	.field--name-field-attach {
	// 		& > .field__item {
	// 			@include span-columns(4);
	// 			@include omega(3n);
	// 		}
	// 	}
	// }
	// &.grid--4 {
	// 	.field--name-field-attach {
	// 		& > .field__item {
	// 			@include span-columns(3);
	// 			@include omega(4n);
	// 		}
	// 	}
	// }	
	// &.grid--6 {
	// 	.field--name-field-attach {
	// 		& > .field__item {
	// 			@include span-columns(2);
	// 			@include omega(6n);
	// 		}
	// 	}
	// }

	.field--name-field-attach-content {
		display: table;
		width: 100%;
		height: 100%;

		article {
			display: table-cell;
			width: 100%;
			height: 100%;
		}
	}

	.media-item {
		width: 352px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #999;
    background-color: white;
    margin-bottom: 24px;
	}

	.media-default {
		height: 228px;
	}

	.media-large {
		height: 480px;
	}

	.media-title {
		font-family: $heading-font-family;
    font-size: 2em;
    line-height: 1.2;
	}


	.overlay-wrapper {
		position: relative;

		.overlay {
			display: none;
		}

		&:hover {
			.overlay {
				display: block;
			}
		}
	}
 
	.overlay {
		position: absolute;
		top: 0;
		width: 100%;
    height: 100%;
    text-align: center;

    .field {
	    display: table;
	    width: 100%;
	    height: 100%;

	    h3 {
	    	color: white;
	    	display: table-cell;
		    vertical-align: middle;
	    }
    }
	}
}

.vert-center {
	display: table;
	width: 100%;
	height: 100%;
	.centered {
		display: table-cell;
		vertical-align: middle;
    padding: 0 1.5em;
	}
}

// Animation
.media-item.animate,
.view-blog .views-row {
  transform: translate(0, 100px);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility 0.8s, opacity 0.8s;
  -moz-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility 0.8s, opacity 0.8s;
  -ms-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility 0.8s, opacity 0.8s;
  -o-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility 0.8s, opacity 0.8s;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility 0.8s, opacity 0.8s;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility 0.8s, opacity 0.8s;

	&.in-view {
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
	}
}




