<div class="panel">
  <h3 class="panel__title">Regional and language</h3>
    <div class="panel__content">  <ul class="admin-list">
      <li><a href="/admin/config/regional/settings">
      	<span class="label">Regional settings</span>
      	<div class="description">Configure the locale and timezone settings.</div>
      </a></li>
      <li><a href="/admin/config/regional/date-time">
      	<span class="label">Date and time formats</span>
      	<div class="description">Configure how dates and times are displayed.</div>
      </a></li>
    </ul>
	</div>
</div>