// 8pt Grid
//
// A container is an element with a max-width and equal left / right margins
//
// Style guide: Mixins.Grid

// https://material.io/design/layout/spacing-methods.html#spacing
// https://builttoadapt.io/intro-to-the-8-point-grid-system-d2573cde8632

// Padding refers to the space between UI elements.
// Vertical spacing refers to the height of a standard element
// The heights of these elements should align to the 8dp grid.

// 8 x 8
$grid: 8px; // 24, 56, 64, 88

@function grid($multiple, $context: $grid) {
  @return $multiple * $context;
}

@function g($multiple, $context: $grid) {
  @return $multiple * $context;
}

@function space($multiple, $context: $grid) {
  @return $multiple * $context;
}

// Keylines enable the consistent placement of elements outside of the layout grid. 
$keyline: 56px; // 24, 56, 64, 88
$keyline-desktop: grid(8); // 24, 56, 64, 88
$keyline: grid(8); // 24, 56, 64, 88
// $offset