/* 
 * Icons
 *
 * Status: Needs Work;
 *
 */

// Icons
//
// A container is an element with a max-width and equal left / right margins
//
// Style guide: Mixins.Icons

@mixin iconize($icon-family, $icon-uni, $side: 'before') {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: normal;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @if $side == 'after' {
    &:after {
      font-family: $icon-family;
      content: $icon-uni;
    }
  } @else {
    &:before {
      font-family: $icon-family;
      content: $icon-uni;
    }
  }
}
