@include font-face("lyon", "../fonts/lyontext-regular",normal, normal );
@include font-face("lyon", "../fonts/lyontext-regularitalic", normal, italic );
@include font-face("lyon", "../fonts/lyontext-bold", bold, normal );
@include font-face("lyon", "../fonts/lyontext-bolditalic", bold, italic );

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?5405f9');
	src:url('../fonts/icomoon.eot?#iefix5405f9') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?5405f9') format('truetype'),
		url('../fonts/icomoon.woff?5405f9') format('woff'),
		url('../fonts/icomoon.svg?5405f9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-feed:before {
	content: "\e639";
}
.icon-search:before {
	content: "\e633";
}
.icon-chevron-left:before {
	content: "\e600";
}
.icon-chevron-right:before {
	content: "\e601";
}
.icon-chevron-thin-left:before {
	content: "\e602";
}
.icon-chevron-thin-right:before {
	content: "\e603";
}
.icon-beamed-note:before {
	content: "\e604";
}
.icon-book:before {
	content: "\e605";
}
.icon-calendar:before {
	content: "\e606";
}
.icon-camera:before {
	content: "\e607";
}
.icon-ccw:before {
	content: "\e608";
}
.icon-chat:before {
	content: "\e609";
}
.icon-circle-with-cross:before {
	content: "\e60a";
}
.icon-circle-with-minus:before {
	content: "\e60b";
}
.icon-cog:before {
	content: "\e60c";
}
.icon-edit:before {
	content: "\e60d";
}
.icon-erase:before {
	content: "\e60e";
}
.icon-graduation-cap:before {
	content: "\e60f";
}
.icon-heart-outlined:before {
	content: "\e610";
}
.icon-heart:before {
	content: "\e611";
}
.icon-image-inverted:before {
	content: "\e612";
}
.icon-image:before {
	content: "\e613";
}
.icon-images:before {
	content: "\e614";
}
.icon-info-with-circle:before {
	content: "\e615";
}
.icon-info:before {
	content: "\e616";
}
.icon-lab-flask:before {
	content: "\e617";
}
.icon-leaf:before {
	content: "\e618";
}
.icon-link:before {
	content: "\e619";
}
.icon-list:before {
	content: "\e61a";
}
.icon-lock-open:before {
	content: "\e61b";
}
.icon-lock:before {
	content: "\e61c";
}
.icon-menu:before {
	content: "\e61d";
}
.icon-message:before {
	content: "\e61e";
}
.icon-plus:before {
	content: "\e61f";
}
.icon-popup:before {
	content: "\e620";
}
.icon-quote:before {
	content: "\e621";
}
.icon-round-brush:before {
	content: "\e622";
}
.icon-share-alternitive:before {
	content: "\e623";
}
.icon-star-outlined:before {
	content: "\e634";
}
.icon-star:before {
	content: "\e635";
}
.icon-text-document-inverted:before {
	content: "\e624";
}
.icon-text-document:before {
	content: "\e625";
}
.icon-text:before {
	content: "\e626";
}
.icon-thermometer:before {
	content: "\e627";
}
.icon-typing:before {
	content: "\e628";
}
.icon-unread:before {
	content: "\e629";
}
.icon-vinyl:before {
	content: "\e62a";
}
.icon-google-hangouts:before {
	content: "\e636";
}
.icon-soundcloud:before {
	content: "\e62b";
}
.icon-facebook-with-circle:before {
	content: "\e62c";
}
.icon-flickr-with-circle:before {
	content: "\e637";
}
.icon-google-with-circle:before {
	content: "\e62d";
}
.icon-instagram-with-circle:before {
	content: "\e638";
}
.icon-pinterest-with-circle:before {
	content: "\e62e";
}
.icon-tumblr-with-circle:before {
	content: "\e62f";
}
.icon-twitter-with-circle:before {
	content: "\e630";
}
.icon-twitter:before {
	content: "\e631";
}
.icon-youtube-with-circle:before {
	content: "\e632";
}
