// Tabs Vertical
//
// Your standard button suitable for clicking.
//
// :hover   - Highlights when hovering.
//
// Markup: tabs-vert/tabs-vert.html
//
// Style guide: Pattern Library.vert

// Tab Navigation / Secondary Nav
@import 'theme-1';

// Vertical Tabs
.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs__tab {
  border-bottom: $tabs-primary-border;
  border-radius: $tabs-border-radius;
  color: $tabs-color;
  display: block;
  @include prefix(transition, border-color 0.2s, background-color 0.2s);
  width: calc(100% - $tabs-margin);

  a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    width: 100%;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

}

/* Primary tabs */
.tabs--primary {

  .tabs__tab {
    background-color: $tabs-primary-bg-color;
    margin: $tabs-margin;
    padding: 0;

    a {
      margin: $tabs-a-margin;
      padding: $tabs-primary-padding-default;
    }

    &:hover,
    &:focus {
      background-color: $tabs-primary-bg-color--hover;
      color: $tabs-primary-color--hover;
    }

    a:focus {
      color: $tabs-primary-color--hover;
      background-color: $tabs-primary-bg-color--hover;
    }

    &.is-active {
      border-color: $medium-gray;
      background-color: #fff;
      color: #004f80;

    }
  }
}

/* Secondary tabs */
.tabs--secondary {
  margin-top: 0;
  margin-bottom: 0;

  .tabs__tab {
    background-color: $tabs-secondary-bg-color;
    color: #0074bd;

    a {
      padding-left: $double-spacing;
    }

    &:hover,
    &:focus {
      color: #008ee6;
    }

    &:first-child {
      border-top: $tabs-secondary-border;
    }

    &:last-child {
      border-bottom: none;
    }

    &.is-active {
      color: #004f80;

      a {
        color: #004f80;
      }
    }
  }
}
