// vert tabs
// Theme 1
$tabs-border: $base-border !default;
$tabs-primary-border: $base-border !default;
$tabs-primary-bg-color: $subtle-gray !default;
$tabs-primary-bg-color--hover: $light-gray !default;
$tabs-primary-bg-color--focus: $white !default;
$tabs-secondary-bg-color: $subtle-gray !default;
$tabs-secondary-bg-color--hover: $light-gray !default;
$tabs-secondary-bg-color--focus: $white !default;
$tabs-color: $action-color !default;
$tabs-color--hover: $action-color--hover !default;
$tabs-primary-padding-default: 16px 0 17px 40px !default;
$tabs-secondary-padding-default: 16px 0 17px 40px !default;
$tabs-margin: 0 !default;
$tabs-a-margin: 0 !default;




// Theme 3
// $tabs-primary-color--hover: white;
// $tabs-primary-bg-color: transparent;
// $tabs-primary-bg-color--hover: rgba(0,0,0,.2);
// $tabs-primary-bg-color--focus: transparent;
// $tabs-secondary-bg-color: transparent;
// $tabs-secondary-bg-color--hover: $light-gray;
// $tabs-secondary-bg-color--focus: transparent;
// $tabs-primary-border: none;
// $tabs-secondary-border: none;
// $tabs-primary-padding-default: $half-spacing 0 $half-spacing 40px;
// $tabs-secondary-padding-default: $half-spacing 0 $half-spacing 40px;
// $tabs-margin: $half-spacing;
// $tabs-margin: 0;
// $tabs-a-margin: 0;
// $tabs-border-radius: $base-corner-radius;
// $tabs-padding-default: 0;


// theme 3
$tabs-primary-color--hover: white;
$tabs-primary-bg-color: transparent;
$tabs-primary-bg-color--hover: transparent;
$tabs-primary-bg-color--focus: transparent;
$tabs-secondary-bg-color: transparent;
$tabs-secondary-bg-color--hover: $light-gray;
$tabs-secondary-bg-color--focus: transparent;
$tabs-primary-border: none;
$tabs-secondary-border: none;
$tabs-primary-padding-default: $half-spacing 0 $half-spacing 40px;
$tabs-secondary-padding-default: $half-spacing 0 $half-spacing 40px;
$tabs-margin: 0 $base-spacing;
$tabs-a-margin: 0;
$tabs-border-radius: $base-corner-radius;
$tabs-padding-default: 0;
