<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="{{description}}"
    />
    <meta name="author" rel="me" content="Kyle Langford" />

    <title>{{title}}</title>

    <!-- Load Resources -->
    <link rel="icon" type="image/png" href="{{root}}/img/brand/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto|Rubik"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{root}}assets/css/styles.css" />

    <!-- Modernizr - Load after CSS -->
    <!-- <script src="js/modernizr-custom.js"></script> -->

    <noscript><style type="text/css">
        body { opacity: 1; }
    </style></noscript>
  </head>

  <body class="page page--{{page}}">

    {{> body}}
    {{> scripts}}  

  </body>
</html>
