<div class="field--type-entity-reference field--name-field-author-ref field--widget-entity-reference-autocomplete-tags js-form-wrapper form-wrapper" data-drupal-selector="edit-field-author-ref-wrapper" id="edit-field-author-ref-wrapper">
  <div class="js-form-item form-item js-form-type-entity-autocomplete form-type-entity-autocomplete js-form-item-field-author-ref-target-id form-item-field-author-ref-target-id">
    <label for="edit-field-author-ref-target-id">Author</label>
    <input data-drupal-selector="edit-field-author-ref-target-id" class="form-autocomplete form-text ui-autocomplete-input" data-autocomplete-path="/entity_reference_autocomplete/taxonomy_term/default%3Ataxonomy_term/whcwpryW3HKLe1PDF_0tW4nqPx8wDLGWj9G1NPstIlw" type="text" id="edit-field-author-ref-target-id" name="field_author_ref[target_id]" value="Nina Lincoff (14341)" size="60" maxlength="1024" placeholder="" autocomplete="off" tabindex="-1">
  </div>
</div>

<ul id="ui-id-3" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="top: 1316px; left: 301px; width: 1073px; display: none;">
  <li class="ui-menu-item"><a id="ui-id-34" tabindex="-1" class="ui-menu-item-wrapper">Amy O'Connor</a></li>
  <li class="ui-menu-item"><a id="ui-id-35" tabindex="-1" class="ui-menu-item-wrapper">Andrew Daniels</a></li>
  <li class="ui-menu-item"><a id="ui-id-36" tabindex="-1" class="ui-menu-item-wrapper">Brittany Risher</a></li>
  <li class="ui-menu-item"><a id="ui-id-37" tabindex="-1" class="ui-menu-item-wrapper">Christine Fennessy</a></li>
  <li class="ui-menu-item"><a id="ui-id-38" tabindex="-1" class="ui-menu-item-wrapper">Denise Schipani</a></li>
  <li class="ui-menu-item"><a id="ui-id-39" tabindex="-1" class="ui-menu-item-wrapper">Dennis Barket</a></li>
  <li class="ui-menu-item"><a id="ui-id-40" tabindex="-1" class="ui-menu-item-wrapper">Doug Donaldson</a></li>
  <li class="ui-menu-item"><a id="ui-id-41" tabindex="-1" class="ui-menu-item-wrapper">Gail Gibson Hunt</a></li>
  <li class="ui-menu-item"><a id="ui-id-42" tabindex="-1" class="ui-menu-item-wrapper">Jackie Gentilesco</a></li>
  <li class="ui-menu-item"><a id="ui-id-43" tabindex="-1" class="ui-menu-item-wrapper">Jackie Veling</a></li>
</ul>