/*
  BEM

	http://getbem.com/naming/

	Modifier names may consist of Latin letters, digits, dashes and 
	underscores. CSS class is formed as block’s or element’s name plus 
	two dashes: .block--mod or .block__elem--mod and .block--color-black 
	with .block--color-red. Spaces in complicated modifiers are replaced by dash.

	.form { }
	.form--theme-xmas { }
	.form--simple { }
	.form__input { }
	.form__submit { }
	.form__submit--disabled { }

*/

// BEM
//
// Your standard button suitable for clicking.
//
// Markup: bem/bem.twig
//
// Style guide: Hood Mixins.bem

/* Block Element */
@mixin elem($element) {
  &__#{$element} {
    @content;
  }
}

/* Block Modifier */
@mixin mod($modifier) {
  &--#{$modifier} {
    @content;
  }
}