@mixin buttonize {
  display: inline-block;
  appearance: none;
  line-height: normal;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: $button-padding-default;
  border-radius: $base-corner-radius;
  border: 1px solid $button-border-color;
  background-color: $white;
  background: $button-background-color;
  color: $text-color;
  text-shadow: none;
  font-size: 1rem;
  font-weight: 600;
  transition: background 0.15s ease-in .1s;

  &:hover,
  &:focus {
    border-color: $button-border-color;
    background: linear-gradient(to bottom, $subtle-gray, $white);
    text-decoration: none;
    color: $text-color;
    box-shadow: none;
  }

  &:active {
    background: $button-background-color--active;
    border-color: $button-border-color;
    box-shadow: none;
  }

  &:disabled,
  &:disabled:active,
  &.is-disabled,
  &.is-disabled:active {
    border-color: #d4d4d4;
    background: #ededed;
    box-shadow: none;
    color: #5c5c5c;
    font-weight: normal;
    cursor: not-allowed;
    text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }

}

@mixin btn-small {
  font-size: 1rem;
  padding: $button-padding-small;
}