// Clearfix
//
// Provides an easy way to clear floats.
//
// Markup: clearfix/clearfix.twig
//
// Style guide: Hood Mixins.clearfix

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}