// @include keyframes(fadeIn) {
//   from {
//     opacity: 0%;
//   }
//   to {
//     opacity: 100%;
//   }
// }
//
//
// @-webkit-keyframes fadeIn {
//   from {
//     opacity: 0%;
//   }
//   to {
//     opacity: 100%;
//   }
// }

// @-moz-keyframes fadeIn {
//   from {
//     opacity: 0%;
//   }
//   to {
//     opacity: 100%;
//   }
// }

// @keyframes fadeIn {
//   from {
//     opacity: 0%;
//   }
//   to {
//     opacity: 100%;
//   }
// }


@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}