// @mixin panel - Slide / presentation
@mixin panel($width, $height: auto) {
  width: $width;
  height: $height;
  padding-left: 5%;
  padding-right: 5%;
  @include clearfix;
}

// Panel = viewport based section
.panel {
  background-color: $panel-even-color;
  @include panel(100vw);
}

.window {
  height: 100vh;
  display: table;
}