/*
 * Vendor Prefix
*/

// Prefix
//
// Creates vendor prefixes.
//
// Markup: prefix/prefix.twig
//
// Style guide: Hood Mixins.prefix

// Map
$prefixes: 'webkit', 'moz', 'ms', 'o' !default;

@mixin prefix($property, $value, $prefixes: $prefixes) {

  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
 
  /* Output standard non-prefixed declaration */
  #{$property}: $value;
}