// Page

/* 
Offset: The space between the sides of the viewport.
*/

$page-margin--desktop: 15vh;
$page-margin--tablet: 10vh;
$page-margin--mobile: 6vh;
$page-margin--desktop: auto;

$max-width: 1004px; // 125.5 x 8 // g(251)
$page-margin: 20px; // grid(5)

// Fluid Container
.container {
  overflow: hidden;
  position: relative;

  &.size-to-window {
    @include media($md-breakpoint) {
      // @include panelize(100vh, 850px);
      width: 100%;
      height: 100vh;
      max-height: 850px;
    }
  }
}

// Row
.row {
  margin-left: $page-margin--mobile;
  margin-right: $page-margin--mobile;

  @include media($sm-breakpoint) {
    margin-left: $page-margin--tablet;
    margin-right: $page-margin--tablet;
  }

  @include media($md-breakpoint) {
    margin-left: $page-margin--desktop;
    margin-right: $page-margin--desktop;
    max-width: $max-width;
    width: 100%;
  }

  &.row--collapse {
    margin-left: 0;
    margin-right: 0;
  }
}

.wrap {
  @include containerize;
  padding: $wrap-padding 0;

  @include media(max-width $medium) {
    padding: 6em 0;
  }

  img {
    width: 100%;
  }

  .logo {
    width: 50%;
    margin-bottom: 3em;
  }
}

/* 
  Flexbox
*/

.flex {
  display: flex;
  flex-flow: column nowrap;

  @include media($md-breakpoint) {
    .column {
      flex: 1 auto;
    }
  }

  @include media($md-breakpoint) {
    display: flex;
    flex-flow: row nowrap;

    .column {
      flex: 0 auto;
    }
  }
}

.flex--justify {
  justify-content: center;
}
.flex-align--top {
  align-items: flex-start;
}
.flex-align--bottom {
  align-items: flex-end;
}
.flex-align--center {
  align-items: center;
}

/* 
  Layout Helpers
*/

.relative {
  position: relative;
}

.clearfix {
  @include clearfix;
}

.fill-height {
  height: 100%;
}
