// Admin List
//
// Your standard button suitable for clicking.
//
// :hover   - Highlights when hovering.
//
// Markup: button.html
//
// Style guide: components.button

.admin-list {
  margin: 0;
  padding: 0;

  li {
    position: relative;
    margin: 0;
    border-bottom: $base-border;
    list-style-type: none;
    list-style-image: none;
    padding: 0;

    &:first-child {
      a {
        padding-top: 0;     
      }
    }

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;
      background: none;
      padding: $base-spacing;

      &:hover {
        text-decoration: none;
      }

      .label {
        font-size: $h3-font-size;
        font-weight: $h3-font-weight;
        line-height: 1;
      }
    }
  }

  .panel & {
    li {
      a {
        padding-left: 0;
        padding-right: 0;
      }

      &:last-child {
        a {
          padding-bottom: 0;        
        }
      }
    }
  }

  &.compact {
    li {
      a {
        padding: 2px 0;
      }
    }
  }
}

.admin-list li a:hover .label,
.admin-list li a:focus .label,
.admin-list li a:active .label {
  text-decoration: underline;
}

.item-list {

  ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    li {
      padding-bottom: $half-spacing / 2;
    } 
  }
}