/*
  Based on: http://cssdeck.com/labs/simple-css3-3d-cube
  Author: http://kushagra.me/
*/

// Cube
@include keyframes(spinningH) {

  from {
    @include prefix(transform,rotateX(0deg) rotateY(0deg), webkit ms );
  }
  
  to {
    @include prefix(transform, rotateX(360deg) rotateY(360deg), webkit ms );
  }

}

.animate {
  @include prefix(animation, spinningH 12s infinite linear, webkit ms );
}


// Cube
.container {
  display: block;
  position: absolute;
  top: 36px;
  left: 1.5em;
  width: auto;
  z-index:9999;

  @include prefix(perspective, 1000px, webkit ms );
  @include prefix(perspective-origin, 50% 50%, webkit ms );

  @include mobile-first($medium) {
     display: inline-block;
  }
}

.cube {
  $cube-translate-z: 240px;
  $cube-border-color: white;
  $cube-border-size: 1px;
  $cube-color-1: #00ffcf;
  $cube-color-2: #cf00ff;
  $cube-color-3: #002fff;

  position: relative;
  height: $cube-translate-z * 2;
  width: $cube-translate-z * 2;
  margin: 0 auto;
  cursor: pointer;

  @include prefix(transition, transform 2s linear, webkit ms );
  @include prefix(transform-style, preserve-3d, webkit ms moz );

  
  &:hover {
    & > div {
      border: $cube-border-size solid $cube-border-color;
    }
  }

  > div {
    position: absolute;
    height: $cube-translate-z * 2;
    width: $cube-translate-z * 2;
    opacity: 1;
    background-position: center center;
    border: $cube-border-size solid $cube-border-color;
    background-color: transparent;
  }
  
  .contact-page & {
    > div {
      border-color:$heading-font-color;
    }
  }

  div:nth-child(1) {
    -webkit-transform: translateZ($cube-translate-z);
    -moz-transform: translateZ($cube-translate-z);
    -o-transform: translateZ($cube-translate-z);
    -ms-transform: translateZ($cube-translate-z);
    transform: translateZ($cube-translate-z);
  }
  div:nth-child(2) {
    -webkit-transform: rotateY(90deg) translateZ($cube-translate-z);
    -moz-transform: rotateY(90deg) translateZ($cube-translate-z);
    -o-transform: rotateY(90deg) translateZ($cube-translate-z);
    -ms-transform: rotateY(90deg) translateZ($cube-translate-z);
    transform: rotateY(90deg) translateZ($cube-translate-z);
  }
  div:nth-child(3) {
    -webkit-transform: rotateY(180deg) translateZ($cube-translate-z);
    -moz-transform: rotateY(180deg) translateZ($cube-translate-z);
    -o-transform: rotateY(180deg) translateZ($cube-translate-z);
    -ms-transform: rotateY(180deg) translateZ($cube-translate-z);
    transform: rotateY(180deg) translateZ($cube-translate-z);
  }
  div:nth-child(4) {
    -webkit-transform: rotateY(-90deg) translateZ($cube-translate-z);
    -moz-transform: rotateY(-90deg) translateZ($cube-translate-z);
    -o-transform: rotateY(-90deg) translateZ($cube-translate-z);
    -ms-transform: rotateY(-90deg) translateZ($cube-translate-z);
    transform: rotateY(-90deg) translateZ($cube-translate-z);
  }
  div:nth-child(5) {
    -webkit-transform: rotateX(-90deg) translateZ($cube-translate-z) rotate(180deg);
    -moz-transform: rotateX(-90deg) translateZ($cube-translate-z) rotate(180deg);
    -o-transform: rotateX(-90deg) translateZ($cube-translate-z) rotate(180deg);
    -ms-transform: rotateX(-90deg) translateZ($cube-translate-z) rotate(180deg);
    transform: rotateX(-90deg) translateZ($cube-translate-z) rotate(180deg);
  }
  div:nth-child(6) {
    -webkit-transform: rotateX(90deg) translateZ($cube-translate-z);
    -moz-transform: rotateX(90deg) translateZ($cube-translate-z);
    -o-transform: rotateX(90deg) translateZ($cube-translate-z);
    -ms-transform: rotateX(90deg) translateZ($cube-translate-z);
    transform: rotateX(90deg) translateZ($cube-translate-z);
  }
}
