// Headroom.js
.headroom {
  @include prefix(transition, all 0.15s ease-in, webkit ms );
  background-color: transparent;
}

.headroom--top {
  background-color: transparent;
}

.headroom--pinned {
  background-color: rgba(21,21,21,.2);

  @include prefix(transform, translateY(0%), webkit ms );

  .site-logo {
    color: white;
  }
  
  .cube > div  {
    background-color:white;
  }
  
  &.headroom--top {
    background-color: transparent;
  
    .site-logo {
      color: $heading-font-color;
    }
    
    .cube > div  {
      background-color:transparent;
    }
  }
}

.headroom--unpinned {
  @include prefix(transform, translateY(-100%), webkit ms );

  &.active {
    @include prefix(transform, translateY(0), webkit ms );
  }
}
