/**
 * Image 
 *
 * Add Image Media
 *
 * Markup: image.twig
 *
 * .width--window           - description
 * .width--page             - description
 *
 * Style guide: Components Library.Image
 *
 */

.paragraph--type--image {
	text-align:center;

	img {
		margin-bottom: .5em;
	}

	&.width--centered {
		.media--image img {
			width: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&.fluid {

	}

	&.width--page {
		@include outer-container($max-width);
	}

	&.width--twotone {
		&:after {
	    content: '';
	    display: block;
	    background: #f4f4f4;
	    width: 100%;
	    height: 300px;
	    margin-top: -300px;
		}
	}
}



// Animation
.media-item.animate,
.view-blog .views-row {
  transform: translate(0, 100px);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility 0.8s, opacity 0.8s;
  -moz-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility 0.8s, opacity 0.8s;
  -ms-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility 0.8s, opacity 0.8s;
  -o-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility 0.8s, opacity 0.8s;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility 0.8s, opacity 0.8s;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), visibility 0.8s, opacity 0.8s;

	&.in-view {
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
	}
}



