
.input {
	position: relative;
	z-index: 1;
	display: block;
  margin: 2em 0;
	width: 100%;
	vertical-align: top;
	
  @include mobile-first($medium) {
    margin: 1em 0;
  }
}
.input-field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: $sans-serif-2;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}
.input-field:focus {
	outline: none;
}
.input-label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}
.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}
.icon {
	color: #ddd;
	font-size: 150%;
}

/* Nao */
.input-nao {
	overflow: hidden;
	padding-top: 1em;
}
.input-field-nao {
	padding: 0.5em 0em 0.25em 3em;
	width: 100%;
	background: transparent;
	color: #9da8b2;
	font-size: 1.25em;
}
.input-label-nao {
	position: absolute;
	top: 0;
	font-size: 1em;
	left: 0;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0em;
	pointer-events: none;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
	transition: transform 0.2s 0.15s, color 1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.graphic-nao {
	stroke: #92989e;
  padding:0px;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
	transition: transform 0.7s, stroke 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
.input-field-nao:focus + .input-label-nao,
.input-filled .input-label-nao {
	color: $heading-font-color;
	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}
.input-field-nao:focus ~ .graphic-nao,
.input-filled .graphic-nao {
	stroke: $heading-font-color;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}

/* Kozakura */
.input-kozakura {
	overflow: hidden;
}
.input-field-kozakura {
	padding: 0 1em;
	width: 100%;
	background: transparent;
	color: #2F3238;
	font-size: 1.55em;
  resize: none;
}
.input-label-kozakura {
	width: 100%;
	text-align: left;
	top: 1em;
	pointer-events: none;
	overflow: hidden;
	padding: 0 0.25em;
	-webkit-transform: translate3d(1em, 2.75em, 0);
	transform: translate3d(1em, 2.75em, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.input-label-content-kozakura {
	color: #444;
	padding: 0.4em 0 0.25em;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.graphic-kozakura {
	fill: #f1f1f1;
	pointer-events: none;
	top: 0;
	bottom: 0px;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.7s, fill 0.7s;
	transition: transform 0.7s, fill 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
.input-field-kozakura:focus,
.input-filled .input-field-kozakura {
	-webkit-transition: opacity 0s 0.35s;
	transition: opacity 0s 0.35s;
	opacity: 1;
}
.input-field-kozakura:focus + .input-label-kozakura,
.input-filled .input-label-kozakura {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.input-field-kozakura:focus + .input-label-kozakura .input-label-content-kozakura,
.input-filled .input-label-content-kozakura {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}
.input-field-kozakura:focus ~ .graphic-kozakura,
.input-filled .graphic-kozakura {
	fill: #fff;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}
