// Line Behind Text
.line-behind-text {
  border-bottom: 1px solid $paragraph-font-color;
  text-align: left;
  width: 30%;
  min-width: 200px;
  margin: 0 0 4.5em;
  h2 {
    background: #f4f4f4;
    color: $paragraph-font-color;
    display: inline-block;
    font-size: 1rem;
    padding: 0 10px 0 0;
    position: relative;
    text-transform: uppercase;
    top: 14px;
  }
}

// Line Behind Icon
.line-behind-icon {
  border-bottom: 1px solid #cdcdcd;
  text-align: left;
  width: 30%;
  min-width: 200px;
  margin: 0 0 4.5em;

  .window.panel & {
    border-color: white;
  
    span.icon-cube {
      background:$secondary-color;
      color:white;
    }
  }
  span {
    background: $panel-odd-color;
    color: #cdcdcd;
    display: inline-block;
    font-size: 2rem;
    padding: 0 12px;
    position: relative;
    top: 19px;
  }
  .panel:nth-child(even) & {
    span {
      background: $panel-even-color;
    }
  }
}