/**
 * Statement
 *
 * Text Componenent, Combines a pre-title/title with a short descriptive text
 *
 * Markup: statement.twig
 *
 * .text--regular           - description
 * .text--large             - description
 * .text--super             - description
 * .align--left             - description
 * .align--right            - description
 * .align--center           - description
 *
 * Style guide: Components Library.Statement
 *
 */

.paragraph--type--statement {

  &.text--regular {

		.title {
			font-size: em(32);
		}
		.dek {
			font-size: em(18);
		}
  }

	&.text--large {

	  // @include media($large-screen) {
			// padding-top: $base-padding * 2;
			// padding-bottom: $base-padding * 2;
	  // }

		.title {
			font-size: em(48);
		}
		.dek {
			font-size: em(24);
		}
	}

	&.text--super {

	  // @include media($large-screen) {
			// padding-top: $base-padding * 3;
			// padding-bottom: $base-padding * 3;
	  // }

		.title {
			font-size: em(64);

			&:after {
				content: '';
				height: 1px;
				background-color: #cdcdcd;
				display: block;
				max-width: 100px;
				margin: 0px auto;
			}
		}
		.dek {
			font-size: em(32);
	  }
	}
}


/**
 * Structure Row
 *
 * Handles Layout Grid
 *
 * .overlay  - Description
 * .parallax  - Description
 *
 * Style guide: Components Library.structure
 *
 */

.paragraph--type--structure-row {

	&.has-background {
		.field-group-background-image {
	    background-size: cover;
	    background-position: top center;
		  background-repeat: no-repeat;
	    height: 50vh;
	  }

	  &.parallax {
			.field-group-background-image {
			  background-attachment: fixed;
			}
		}
	}
}


