// Tabs Horizontal
//
// Your standard button suitable for clicking.
//
// :hover   - Highlights when hovering.
//
// Markup: button.html
//
// Style guide: components.button


// Tab Navigation / Secondary Nav
$tabs-border: $base-border !default;
$tabs-bg-color: $subtle-gray !default;
$tabs-bg-color--hover: $light-gray !default;
$tabs-bg-color--focus: $white !default;
$tabs-color: $action-color !default;
$tabs-color--hover: $action-color--hover !default;
$tabs-padding-default: 16px 0 17px 40px !default;


// Vertical Tabs

// Horizontal Tabs

.tabs {
  list-style: none;
  margin: 0 0 0.5em;
  padding: 0;

  .reset-appearance {
    display: none;
  }

  .tabs__trigger {
    display: none;
  }
}

.tabs__tab {
  background-color: $tabs-bg-color;
  color: $tabs-color;
  display: block;
  padding: 0;
  padding: 0;
  width: 100%;
  border-bottom: $base-border;

  a {
    display: block;
    text-decoration: none;
    padding: $tabs-padding-default; /* LTR */
    font-weight: 600;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &:hover,
  &:focus {
    background-color: $tabs-bg-color--hover;
    color: $tabs-color--hover;
  }
}

/* Primary tabs */
.primary {
  clear: both;
  margin: 0;

  .tabs__tab {

    a:focus {
      color: $tabs-color--hover;
      background-color: $tabs-bg-color--hover;
      width: calc(100% + 1px);
    }

    &.is-active {
      z-index: 15;
      border-color: $medium-gray;
      background-color: #fff;
      width: calc(100% + 1px);
      color: #004f80;

      .tabs__tab {
        width: calc(100% + 1px);
      }
    }
  }

}

/* Secondary tabs */
.secondary {
  display: block;
  margin-top: 0;
  margin-bottom: 0;

  .tabs__tab {
    border-right: $base-border;
    display: block;
    margin-left: -1px; /* LTR */
    color: #0074bd;
    -webkit-transition: border-color 0.2s, background-color 0.2s;
    transition: border-color 0.2s, background-color 0.2s;
    background-color: $white;
    
    &:first-child {
      border-top: $base-border;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover,
    &:focus {
      color: #008ee6;
    }

    &.is-active {
      color: #004f80;
      border-right: $base-border;

      a {
        color: #004f80;
      }
    }

    a {
      padding-left: 56px;
    }
  }

  a {
    background-color: transparent;
    text-decoration: none;

    &:focus {
      text-decoration: underline;
    }
  }
}
