<div class="wrapped-list">
  <div tabindex="0" class="color">
    <div tabindex="0" class="color__example" style="background-color: rgb(231, 29, 50);"><button tabindex="0" class="light-text">Copy HEX</button></div>
    <p>support-01</p>
    <p>#e71d32</p>
  </div>
  <div tabindex="0" class="color">
    <div tabindex="0" class="color__example" style="background-color: rgb(90, 167, 0);"><button tabindex="0" class="light-text">Copy HEX</button></div>
    <p>support-02</p>
    <p>#5aa700</p>
  </div>
  <div tabindex="0" class="color">
    <div tabindex="0" class="color__example" style="background-color: rgb(239, 193, 0);"><button tabindex="0" class="dark-text">Copy HEX</button></div>
    <p>support-03</p>
    <p>#efc100</p>
  </div>
  <div tabindex="0" class="color">
    <div tabindex="0" class="color__example" style="background-color: rgb(90, 170, 250);"><button tabindex="0" class="light-text">Copy HEX</button></div>
    <p>support-04</p>
    <p>#5aaafa</p>
  </div>
  <div tabindex="0" class="color">
    <div tabindex="0" class="color__example" style="background-color: rgb(15, 33, 46);"><button tabindex="0" class="light-text">Copy HEX</button></div>
    <p>nav-01</p>
    <p>#0f212e</p>
  </div>
  <div tabindex="0" class="color">
    <div tabindex="0" class="color__example" style="background-color: rgb(21, 41, 53);"><button tabindex="0" class="light-text">Copy HEX</button></div>
    <p>nav-02</p>
    <p>#152935</p>
  </div>
  <div tabindex="0" class="color">
    <div tabindex="0" class="color__example" style="background-color: rgb(186, 143, 247);"><button tabindex="0" class="light-text">Copy HEX</button></div>
    <p>nav-03</p>
    <p>#ba8ff7</p>
  </div>
  <div tabindex="0" class="color">
    <div tabindex="0" class="color__example" style="background-color: rgb(115, 64, 152);"><button tabindex="0" class="light-text">Copy HEX</button></div>
    <p>nav-04</p>
    <p>#734098</p>
  </div>
  <div tabindex="0" class="color">
    <div tabindex="0" class="color__example" style="background-color: rgb(0, 180, 160);"><button tabindex="0" class="light-text">Copy HEX</button></div>
    <p>nav-05</p>
    <p>#00b4a0</p>
  </div>
  <div tabindex="0" class="color">
    <div tabindex="0" class="color__example" style="background-color: rgb(0, 133, 113);"><button tabindex="0" class="light-text">Copy HEX</button></div>
    <p>nav-06</p>
    <p>#008571</p>
  </div>
  <div tabindex="0" class="color">
    <div tabindex="0" class="color__example" style="background-color: rgb(90, 170, 250);"><button tabindex="0" class="light-text">Copy HEX</button></div>
    <p>nav-07</p>
    <p>#5aaafa</p>
  </div>
  <div tabindex="0" class="color">
    <div tabindex="0" class="color__example" style="background-color: rgb(61, 112, 178);"><button tabindex="0" class="light-text">Copy HEX</button></div>
    <p>nav-08</p>
    <p>#3d70b2</p>
  </div>
</div>