tr.draggable {
  border-bottom: 0;
  padding: 0;

  td {
    padding: $half-spacing 0;

    &:first-child {
      padding-left: .375rem;
    }
  }

  .menu-item__link {
    border-top: $base-border;
    border-bottom: $base-border;
    border-right: $base-border;
  }

  .form-item {
    margin-top: 0;
    margin-bottom: 0;
  } 

  .tabledrag-handle {
    height: 22px;
    width: 22px;
    margin-left: 0;
    padding: 0 3rem 0 0;

    .handle {
      background: none;
      @include icon('icons-admin', '\e905');
      height: 100%;
      margin: 0;
      width: 100%;
      font-size: 22px;
      color: $medium-gray;
      padding: 0;

      &:hover {
        color: $dark-gray;        
      }
    }
  }

  // Only for node edit
  .node-edit-form & {
    .field-multiple-drag {
      width: 40px;
      padding-right: 0;
    }

    .tabledrag-handle {
      height: 40px;
      width: 40px;
      background: $subtle-gray;
      border: $base-border;
      border-right: none;
      border-radius: $base-corner-radius;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 0;

      .handle {
        padding: 8px;

        &:hover {

        }
      }
    }
  }
}
