/**
 * Chosen
 *
 * A library to beautify select inputs
 *
 * Source: https://github.com/harvesthq/chosen
 */

$chosen-sprite: url('../../img/chosen-sprite.png') !default;
$chosen-sprite-retina: url('../../img/chosen-sprite@2x.png') !default;

/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  user-select: none;
  width: 100% !important;
  
  .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    width: 100%;
    border: $base-border;
    border-bottom-right-radius: $base-corner-radius;
    border-bottom-left-radius: $base-corner-radius;
    border-top: 0;
    background: #fff;
    box-shadow: 0 1px 5px rgba(#000,.3);
    clip: rect(0,0,0,0);
    clip-path: inset(100% 100%);
  }

  &.chosen-with-drop .chosen-drop {
    clip: auto;
    clip-path: none;
  }
  
  a {
    cursor: pointer;
  }

  .search-choice, .chosen-single{
    .group-name{
      margin-right: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: normal;
      color: #999999;

      &:after {
        content: ":";
        padding-left: 2px;
        vertical-align: top;
      }
    }
  }
}
/* @end */

/* @group Single Chosen */
.chosen-container-single {
  text-align: left;

  .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: $input-height;
    border: $base-border;
    border-radius: 5px;
    background-color: #fff;
    background: $button-background-color;
    background-clip: padding-box;
    color: $text-color;
    text-decoration: none;
    white-space: nowrap;
    line-height: 38px;
  }

  .chosen-default {
    color: #999;
  }
  
  .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .chosen-single-with-deselect span {
    margin-right: 38px;
  }
  
  .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;

    @include icon('icons-admin', '\e90c');
    
    &:hover {
      // background-position: -42px -10px;
    }
  }

  &.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
  }
  
  .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;

    b {
      display: block;
      width: 100%;
      height: 100%;
      // background: $chosen-sprite no-repeat 0px 2px;
      @include icon('icons-admin', '\e90c');

      &:before {
        display: block;
        position: absolute;
        z-index: 9;
        right: 14px;
        top: 16px;
        font-size: 8px;
      }
    }
  }
  .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    input[type="text"] {
      margin: 0;
      padding: 8px 20px 8px;
      width: 100%;
      height: auto;
      outline: 0;
      border: none;
      border-bottom: $base-border;
      font-size: 1em;
      line-height: normal;
      border-radius: 0;
    }
  }
  .chosen-drop {
    // margin-top: -1px;
    border-radius: 0 0 $base-corner-radius $base-corner-radius;
    background-clip: padding-box;
  }
  &.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    clip: rect(0,0,0,0);
    clip-path: inset(100% 100%);
  }
}
/* @end */

/* @group Results */
.chosen-container .chosen-results {
  color: $text-color;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 0 4px 0;
  padding: 0;
  max-height: 240px;
  text-align: left;
  -webkit-overflow-scrolling: touch;

  li {
    display: none;
    margin: 0;
    padding: $half-spacing;
    list-style: none;
    line-height: 13px;
    word-wrap: break-word;
    -webkit-touch-callout: none;

    &.active-result {
      display: list-item;
      cursor: pointer;
    }
    &.disabled-result {
      display: list-item;
      color: $medium-gray;
      cursor: default;
    }
    &.highlighted {
      background-color: $primary-color;
      // background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
      color: #fff;
    }
    &.no-results {
      color: $text-color;
      display: list-item;
      background: $light-yellow;
    }
    &.group-result {
      display: list-item;
      font-weight: bold;
      cursor: default;
    }
    &.group-option {
      padding-left: 15px;
    }
    em {
      font-style: normal;
      text-decoration: underline;
    }
  }
}
/* @end */

/* @group Multi Chosen */
.chosen-container-multi{

  @include icon('icons-admin', '\e90c');

  &:before {
    display: block;
    position: absolute;
    z-index: 999;
    right: 14px;
    top: 16px;
    font-size: 8px
  }

  .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: $input-height * 2;
    background-color: $white;
    border: $base-border;
    border-radius: $base-corner-radius;    
    cursor: text;
    text-align: left;
    padding-top: $input-height;
  }

  .chosen-choices li {
    // float: left;
    list-style: none;
    position: absolute;
    top: 0;

    &.search-field {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      width: 100%;
      text-align: left;
      background: $subtle-gray;
      background-image: $input-select-bg-color;
      border-bottom: $base-border;
      padding-left:$half-spacing;

      input[type="text"] {
        padding: 0;
        height: $input-height;
        outline: 0;
        border: 0 !important;
        background: transparent !important;
        box-shadow: none;
        color: $text-color;
        font-size: 100%;
        line-height: normal;
        border-radius: 0;
      }
    }

    &.search-choice {
      position: relative;
      margin: 0;
      display: inline-block;
      padding: 2px 20px 2px 10px;
      font-size: 14px;
      max-width: 100%;
      background-color: $white;
      background-size: 100% 19px;
      background-repeat: repeat-x;
      background-clip: padding-box;
      color: $text-color;
      line-height: 32px;
      cursor: default;
      // margin-left: 2px;
      // border-right: $base-border;

      span {
        word-wrap: break-word;
        font-weight: bold;
        border-bottom: 1px solid;
      }

      .search-choice-close {
        position: absolute;
        top: 14px;
        right: 4px;
        display: block;
        width: 12px;
        height: 12px;
        background: $chosen-sprite -42px 1px no-repeat;
        font-size: 1px;
        &:hover {
          background-position: -42px -10px;
        }
      }
    }

    &.search-choice-disabled {
      padding-right: 5px;
      border: 1px solid #ccc;
      background-color: #e4e4e4;
      background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
      color: #666;
    }

    &.search-choice-focus {
      background: #d4d4d4;

      .search-choice-close {
        background-position: -42px -10px;
      }
    }
  }
  .chosen-results {
    margin: 0;
    padding: 0;
  }
  .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
  }
}
/* @end */

/* @group Active  */
.chosen-container.chosen-container-active {

  &.chosen-container-multi {

    &:before {
      transform: rotate(180deg);
    }

    li.search-field {
      background: $input-select-bg-color--hover;
    }
  }

  .chosen-single {
    border: $base-border;
    box-shadow: 0 0 5px rgba(#000,.3);

    b {
      &:before {
        transform: rotate(180deg);
      }      
    }
  }

  &.chosen-with-drop{
    .chosen-single {
      border: $base-border;
      -moz-border-radius-bottomright: 0;
      border-bottom-right-radius: 0;
      -moz-border-radius-bottomleft: 0;
      border-bottom-left-radius: 0;
      background-image: $button-background-color--hover;
      // box-shadow: 0 1px 0 #fff inset;
    }
    .chosen-single div {
      border-left: none;
      background: transparent;
      b {
        background-position: -18px 2px;
      }
    }
  }

  .chosen-choices {
    border: $base-border;
    box-shadow: 0 0 5px rgba(#000,.3);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    li.search-field input[type="text"] {
      color: #222 !important;
    }
  }


}
/* @end */

/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
  .chosen-single {
    cursor: default;
  }
  .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }
}
/* @end */

/* @group Right to Left */
.chosen-rtl {
  text-align: right;
  .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
  }
  .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl;
  }
  .chosen-single-with-deselect span {
    margin-left: 38px;
  }
  .chosen-single div {
    right: auto;
    left: 3px;
  }
  .chosen-single abbr {
    right: auto;
    left: 26px;
  }
  .chosen-choices li {
    float: right;
    &.search-field input[type="text"] {
      direction: rtl;
    }
    &.search-choice {
      margin: 3px 5px 3px 0;
      padding: 3px 5px 3px 19px;
      .search-choice-close {
        right: auto;
        left: 4px;
      }
    }
  }
  &.chosen-container-single .chosen-results {
    margin: 0 0 4px 0;
    padding: 0 4px 0 0;
  }
  .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0;
  }
  &.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
  }
  .chosen-search input[type="text"] {
    padding: 4px 5px 4px 20px;
    background: $chosen-sprite no-repeat -30px -20px;
    direction: rtl;
  }
}

/* @end */

/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    @include icon('icons-admin', '\e90c');
  }
}
/* @end */
