/**
 * @file
 * Tablesort indicator styles.
 */

a {
  span.tablesort {
    float: none; /* LTR */
    margin-top: 0;
    margin-left: $half-spacing; 
    width: 10px;
    height: 10px;

    &.tablesort--asc {
      background-image: none;
      @include icon('icons-admin', '\e901');

      &:before {
        font-size: 14px;
      }
    }

    &.tablesort--desc {
      background-image: none;
      @include icon('icons-admin', '\e901');
      transform: scaleX(-1);
      
      &:before {
        font-size: 14px;
      }
    }
  }
  
  &:hover .tablesort.tablesort--asc {
    background-image: none;
  }

  &:hover .tablesort.tablesort--desc {
    background-image: none;
  }

}