---
meta_title: 'Portfolio | Kyle Langford'
meta_description: 'A list of professional work'
back_url: /
back_text: $ cd ..
work:   
-
  title: Bally Ribbon Mills
  description: Web Design, Logo Design, Drupal Development
  href: /work/brm
-
  title: Cambridge Public Library
  description: Enviromental Signage, Wayfinding.
  href: /work/cpl
-
  title: Drizly
  description: Product Design, AngularJS Development
  href: /work/drizly
-
  title: Elev8d Fitness
  description: UX Design, Angular Development.
  href: /work/fitnessapp
-
  title: Healthy Living Engine
  description: Frontend Development, Drupal Development, UX Design
  href: /work/hle
-
  title: Princeton Alumni Magazine
  description: UX Design, Drupal Development
  href: /work/paw
---

<header class="container size-to-window portfolio">
  <div class="row flex flex-align--center flex--justify fill-height">
    <nav class="position-top-left">
      <a href="{{back_url}}" class="button--previous">{{back_text}}</a>
    </nav>
    <div class="column two-thirds">
      <h1 class="page__title">Po<span class="kern-1">rtf</span>olio</h1>
    </div>
  </div>
</header>

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">

      <h3 class="list-title animate fade-in">Best Work</h3>

      <ul class="list portfolio">
        {{#each work}}
          <li class="list__item animate fade-in">
            <article class="view--teaser">
              <a href="{{ this.href }}">
                <span class="label">{{ this.title }}</span>
                <p>
                  {{ this.description }}
                </p>
              </a>
            </article>
          </li>
        {{/each}}
      </ul>

      <div class="line-behind-text purple">
        <!-- Credits: Copyright -->
        <h2 class="last-edit">THANK YOU</h2>
      </div>
      
    </div>
  </div>
</main>
