---
title: B'link
description: Feature Design
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <h4>Feature Design</h4>

        <p>
          <strong>Ask</strong>
          Needed to display topics over a timeline...
        </p>

        <p>
          <strong>Solution</strong>
          Needed to display topics over a timeline...
        </p>

        <p>
          <strong>Content</strong>
          Needed to display topics over a timeline...
        </p>

        <div class="specimen">
          <img
            src="../assets/img/projects/brm/.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Sketch of Idea</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/brm/.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Design of Idea</div>
        </div>

        <p>
          <strong>Implementation</strong>
          Needed to display topics over a timeline...
        </p>

        <p>
          <strong>Flexbox</strong>
          Needed to display topics over a timeline...
        </p>

        <div class="credits">
          <p class="attribution">Work done at Brunello, Inc.</p>
          <ul class="team-list">
            <li>Adam Hoyle: Partner</li>
            <li>Jason Fournier: UX Designer</li>
            <li>Kyle Langford: UX Developer</li>
          </ul>
          <p class="last-edit">Last Edit: 5.30.19</p>
        </div>
      </article>
    </div>
  </div>
</main>
