---
meta_title: 'BRM Site Design and Drupal Development | Kyle Langford'
meta_description: 'Portfolio example by Kyle Langford for Bally Ribbon Mills site design and Drupal development project, work done at Brunello, Inc.'
title: Bally Ribbon Mills
description: Site Design and Drupal Development
attribution: Work done at Brunello, Inc.
last-edit: 10.31.19
back-url: /work/all
team:
  - name: Adam Hoyle
    title: Project Manager
  - name: Kyle Langford
    title: Designer, Drupal Developer
---

{{> intro}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <div class="specimen stretch">
          <img
            src="../assets/img/projects/brm/device-mockup-feature.png"
            alt="Elephant at sunset"
            loading="eager"
          />

          <div class="caption"></div>
        </div>

        <h4>Drupal site design and development.</h4>

        <p>
          <strong>Ask</strong> Bally Ribbon Mills produces a wide variety of
          narrow woven fabrics, webbing, tapes and custom fabrication. They do
          confidential work for the government but also have public clients like
          NASA. (Sidenote: They made the descent parachute for one of the Mars
          rovers). Bally wanted a Drupal website to manage and showcase their
          product information and capabilities.
        </p>

        <p>
          <strong>Outcome</strong> This was my first time as the design and
          development lead for a web project at Brunello. I worked with Adam
          Hoyle (Owner) to give Bally an authoritative and clearly laid out site
          that made connecting with clients easy compared to competitors. I
          produced the design work which included sitemaps, wireframes,
          moodboards, and full-page mockups. Site development was done by me
          using Drupal 7 CMS.
        </p>

        <h5>IA: Sitemap</h5>
        <div class="specimen stretch">
          <img
            data-src="../assets/img/projects/brm/brm-sitemap_v1.jpg"
            alt="Elephant at sunset"
            class="paper"
            loading="lazy"
          />
        </div>

        <h5>Wireframes</h5>
        <div class="specimen">
          <div class="stack">
            <img
              data-src="../assets/img/projects/brm/brm-wires_page_1.png"
              alt="Elephant at sunset"
              class="paper"
              loading="lazy"
            />
            <img
              data-src="../assets/img/projects/brm/brm-wires_page_3.png"
              alt="Elephant at sunset"
              class="paper"
              loading="lazy"
            />
          </div>
        </div>

        <h5>Moodboards</h5>
        <div class="specimen">
          <img
            data-src="../assets/img/projects/brm/brm_tile-1.jpg"
            alt="Elephant at sunset"
            class="paper"
            loading="lazy"
          />
          <div class="caption"></div>
        </div>

        <div class="specimen">
          <img
            data-src="../assets/img/projects/brm/brm_tile-2.jpg"
            alt="Elephant at sunset"
            class="paper"
            loading="lazy"
          />
          <div class="caption"></div>
        </div>

        <h5 style="text-align:center;">Logo Design</h5>
        <div class="split">
          <div class="specimen text--center">
            <img
              data-src="../assets/img/projects/brm/square-2.jpg"
              alt="Elephant at sunset"
              class="paper"
              loading="lazy"
            />
            <img
              data-src="../assets/img/projects/brm/square-3.jpg"
              alt="Elephant at sunset"
              class="paper"
              loading="lazy"
            />
          </div>
        </div>

        {{> credits}}
      </article>
    </div>
  </div>
</main>

<section class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <h3 class="list-title animate fade-in">Best Stuff</h3>

      {{> project-list}}
    </div>
  </div>
</section>
