---
meta_title: 'BRM Site Design and Drupal Development | Kyle Langford'
meta_description: 'Portfolio example by Kyle Langford for Bally Ribbon Mills site design and Drupal development project, work done at Brunello, Inc.'
title: Bally Ribbon Mills
description: Site Design and Drupal Development
attribution: Work done at Brunello, Inc.
last-edit: 10.31.19
back-url: /work/all
team:
  - name: Adam Hoyle
    title: Project Manager
  - name: Kyle Langford
    title: Designer and Developer
related:
  - title: Enel X Wind Journey
    description: Branding, Design, Drupal Development
    href: /work/wind-journey
    abbv: wind
  - title: Demand Response Calculator
    description: Enviromental Signage and Wayfinding.
    href: /work/calculator
    abbv: calculator
---

{{> intro}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <div class="specimen stretch">
          {{picture "projects/brm/device-mockup-feature.png" "" "eager"}}
          <div class="caption"></div>
        </div>

        <h4>Drupal Site Design and Development.</h4>

        <p>
          <strong>Ask</strong> Bally Ribbon Mills produces a wide variety of
          narrow woven fabrics, webbing, tapes and custom fabrication. They do
          confidential work for the government but also have public clients like
          NASA. (Sidenote: They made the descent parachute for one of the Mars
          rovers). Bally wanted a Drupal website to manage and showcase their
          product information and capabilities.
        </p>

        <p>
          <strong>Contribution</strong> I was initialy hired by Brunello to do soup to nuts web sites. I did several of these but the those most successful was Bally Ribbon Mills. I worked with Adam Hoyle (Project Manager) to give Bally an authoritative and clearly laid out site that made connecting with clients easy compared to competitors. I produced the design work which included sitemaps, wireframes, moodboards, and full-page mockups. Site development was done by me using Drupal 7 CMS.
        </p>

        <h5>Sitemap</h5>
        <div class="specimen stretch">
          {{picture "projects/brm/brm-sitemap_v1.jpg"}}
        </div>

        <h5>Wireframes</h5>
        <div class="specimen">
          <div class="stack">
          {{picture "projects/brm/brm-wires_page_1.png"}}
          {{picture "projects/brm/brm-wires_page_3.png"}}
          </div>
        </div>

        <h5>Moodboards</h5>
        <div class="specimen">
          {{picture "projects/brm/brm_tile-1.png"}}
          <div class="caption"></div>
        </div>

        <div class="specimen">
           {{picture "projects/brm/brm_tile-2.png"}}
          <div class="caption"></div>
        </div>

        <div class="specimen">
           {{picture "projects/brm/design-homepage_v1.jpg"}}
          <div class="caption"></div>
        </div>

        <h5 style="text-align:center;">Logo Design</h5>
        <div class="split">
          <div class="specimen flex flex-align--center">
           <div class="paper">{{picture "projects/brm/square-2.jpg"}}</div>
           <div class="paper">{{picture "projects/brm/square-3.jpg"}}</div>
          </div>
        </div>

        {{> credits}}
      </article>
    </div>
  </div>
</main>

<section class="container">
  <div class="row flex is--collapsed is--full-width">
    {{> projects-two}}
  </div>
</section>
