---
title: Bally Ribbon Mills
description: Site Design and Drupal Development
attribution: Work done at Brunello, Inc.
last-edit: 10.31.19
back-url: /work/all
team:   
-
  name: Adam Hoyle
  title: Project Manager
- 
  name: Kyle Langford
  title: Designer, Drupal Developer
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/brm/device-mockup-feature.png"
            alt="Elephant at sunset"
          />

          <div class="caption"></div>
        </div> 

        <h4>Drupal site design and development.</h4>

        <p>
          Bally Ribbon Mills needed an authoritive and modern site that resonated with its niche market. The website needed to be customizable and easy to update. Drupal was a perfect solution for this content managed website. The design process used sitemaps, wireframes, style-tiles, and full-page mockups. Site was created with Druapl 7.
        </p>

        <h5>Sitemap</h5>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/brm/brm-sitemap_v1.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
        </div>

        <h5>Wireframes</h5>

        <div class="specimen">
          <div class="stack">

          <img
            src="../assets/img/projects/brm/brm-wires_page_1.png"
            alt="Elephant at sunset"
            class="paper"

          />
          <img
            src="../assets/img/projects/brm/brm-wires_page_3.png"
            alt="Elephant at sunset"
            class="paper"
          />
          </div>
        </div>

        <h5>Moodboards</h5>

        <div class="specimen">
          <img
            src="../assets/img/projects/brm/brm_tile-1.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption"></div> 
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/brm/brm_tile-2.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption"></div>
        </div>

        <h5 style="text-align:center;">Logo Design</h5>

        <div class="split">

          <div class="specimen text--center">
            <img
              src="../assets/img/projects/brm/square-2.jpg"
              alt="Elephant at sunset"
              class="paper"
            />
            <img
              src="../assets/img/projects/brm/square-3.jpg"
              alt="Elephant at sunset"
              class="paper"
            />
          </div>
        </div>

        {{> credits}}

      </article>
    </div>
  </div>
</main>
