---
title: Brunello.com
description: Component Based Site-building
attribution: Work done at Brunello, Inc.
last-edit: 5.30.19
team:   
-
  name: Adam Hoyle
  title: Partner
-
  name: Kyle Langford
  title: Designer / Developer
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <h4>Component Based Sitebuilding</h4>

        <p>
          One of my first design projects at Brunello was for a company that
          produced narrow fabric and advanced composites for
          industrial/military application. It was important for Bally to be
          Modern and Authoritive. This design for Bally Ribbon Mills has
          held up well over the years, even longer than the site itself!
          This project used sitemaps, wireframes, style-tiles, and full-page
          mockups. I built the site in Drupal 7.
        </p>

        <div class="specimen">
          <img
            src="../assets/img/projects/brm/design-homepage_v3c.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Final Homepage Design</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/brm/brm-sitemap_v1.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Final Sitemap</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/brm/brm-wires_page_1.png"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Homepage Wireframe</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/brm/brm-wires_page_3.png"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Section Wireframe</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/brm/brm_tile-2.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Style Direction #1</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/brm/brm_tile-1.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Style Direction #2</div>
        </div>

        <div class="specimen text--center">
          <img
            src="../assets/img/projects/brm/square-2.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <img
            src="../assets/img/projects/brm/square-3.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Final Logo</div>
        </div>

        {{> credits}}

      </article>
    </div>
  </div>
</main>
