---
meta_title: 'Demand Response Calculator | Kyle Langford'
meta_description: 'Portfolio example by Kyle Langford for Demand Response Calculator, work done at Brunello Inc.'
title: Enelx Demand Response Calculator
description: Lottie Animation and Javascript Development
attribution: Work done at Brunello, Inc.
last-edit: 12.12.22
back-url: /work/all
---

{{> intro}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        
        <!-- Calc -->
        <div class="specimen stretch paper">
          <picture>
            <source srcset="../assets/webp/projects/enelx/tool.webp" type="image/webp">
            <source srcset="../assets/img/projects/enelx/tool.jpg" type="image/jpeg"> 
            <img src="../assets/img/projects/enelx/tool.jpg" alt="Alt Text!" loading="eager">
          </picture>
        </div>

        <div class="specimen stretch paper">
          <picture>
            <source srcset="../assets/webp/projects/enelx/results-debug.webp" type="image/webp">
            <source srcset="../assets/img/projects/enelx/results-debug.jpg" type="image/jpeg"> 
            <img src="../assets/img/projects/enelx/dresults-debug.jpg" alt="Alt Text!" loading="lazy">
          </picture>
        </div>


        <div class="text--center button-group">
          <a href="https://www.enelxnorthamerica.com/dr-calculator" class="button button--primary"
            >View Calculator</a
          >
        </div>

        {{> credits}}
      </article>
    </div>
  </div>
</main>
<section class="container">
  <div class="row flex is--collapsed is--full-width">
    {{> projects-two}}
  </div>
</section>

