---
meta_title: 'Cambridge Public Library wayfinding and signage | Kyle Langford'
meta_description: 'Portfolio example by Kyle Langford for the Cambridge Public Library wayfinding and signage project, work done at Wojciechowski Design.'
title: Cambridge Public Library
description: Wayfinding and Signage
attribution: Work done at Wojciechowski Design
last-edit: 10.31.19
back-url: /work/all
team:
  - name: Tom Wojciechowski
    title: Principal
  - name: Kyle Langford
    title: Designer
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <div class="specimen stretch">
          <img
            src="../assets/img/projects/cpl/p-cpl.jpg"
            style="width: 100%;"
            alt="Elephant at sunset"
            class="paper"
            loading="eager"
          />
          <div class="caption">Reverse channel letters on canopy.</div>
        </div>

        <h4>Enviromental Signage.</h4>

        <p>
          <strong>Ask</strong> The Cambridge Public Library wanted to create a
          new interior and exterior signage system for the newly renovated
          building and new building section.
        </p>

        <p>
          <strong>Outcome</strong> I worked as the Project Designer with the
          Principal Designer (Tom) to conceptualize and design the signage and
          wayfinding of the building using architectural drawings and virtual
          walkthroughs as references. This included everything from welcome
          signs, floor maps, restroom signs, even the numbers on the elevator
          jams. I choose the typography, photography, and visual styles used for
          the project. I drafted production ready artwork to send to
          fabrication, this included designing mounts, selecting materials, and
          demonstrating exact sign placement. I also created 3D/2D
          visualizations to present design work to the client for review.
        </p>

        <div class="specimen">
          <img
            src="../assets/img/projects/cpl/p-cpl-diagram.jpg"
            style="width: 100%;"
            alt="Elephant at sunset"
            class="paper"
            loading="lazy"
          />
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/cpl/exterior-night.jpg"
            style="width: 100%;"
            alt="Elephant at sunset"
            class="paper"
            loading="lazy"
          />
          <div class="caption">
            Photocredit
          </div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/cpl/156.jpg"
            alt="Elephant at sunset"
            class="paper"
            loading="lazy"
          />
          <div class="caption">
            Large hanging signs in the hallway that separates the original
            library and the modern section.
          </div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/cpl/182.jpg"
            alt="Elephant at sunset"
            style="width: 100%;"
            class="paper"
            loading="lazy"
          />
          <div class="caption">Large sign going up stairway.</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/cpl/signs.jpg"
            style="width: 100%;"
            alt="Elephant at sunset"
            class="paper"
            loading="lazy"
          />
          <div class="caption">Elevation.</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/cpl/180.jpg"
            alt="Elephant at sunset"
            class="paper"
            loading="lazy"
          />
          <div class="caption">
            Medium hanging signs on the second floor, top of main stairs.
          </div>
        </div>
        <div class="specimen stretch">
          <img
            src="../assets/img/projects/cpl/profile.jpg"
            style="width: 100%;"
            alt="Elephant at sunset"
            class="paper"
            loading="lazy"
          />
          <div class="caption">Lorem Ipsum</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/cpl/190.jpg"
            alt="Elephant at sunset"
            class="paper"
            loading="lazy"
          />
          <div class="caption">First floor directory.</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/cpl/171.jpg"
            alt="Elephant at sunset"
            class="paper"
            loading="lazy"
          />
          <div class="caption">Restroom Sign.</div>
        </div>

        <p>
          <strong>Exterior Signs</strong>
        </p>

        <div class="stretch">
          <video
            controls
            width="100%"
            class="video-player"
            poster="../assets/img/projects/cpl/exterior-signs-3.jpg"
          >
            <source
              src="../assets/video/exterior-signs-spin.webm"
              type="video/webm"
            />
            <!--             <source
              src="../assets/video/video-player-workout.mp4"
              type="video/mp4"
            /> -->

            Sorry, your browser doesn't support embedded videos.
          </video>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/cpl/outside.jpg"
            style="width: 100%;"
            alt="Elephant at sunset"
            class="paper"
            loading="lazy"
          />
          <div class="caption">Reverse channel letters on canopy.</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/cpl/garage.jpg"
            alt="Elephant at sunset"
            class="paper"
            style="width: 100%;"
            loading="lazy"
          />
          <div class="caption">Garage entrance</div>
        </div>

        {{> credits}}
      </article>
    </div>
  </div>
</main>
