---
title: Cambridge Public Library
description: Wayfinding and Signage
attribution: Work done at Wojciechowski Design
last-edit: 5.30.19
team:   
-
  name: Tom Wojciechowski
  title: Principal designer
-
  name: Kyle Langford
  title: Project Designer
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <p>
          This project was for the Cambridge Public Library with the
          addition of the modern wing. I worked as a project designer with
          the principal designer to create designs and draft the artwork
          sent to the fabricators. This work included all signage for the
          interior and exterior of the building.
        </p>

        <div class="specimen">
          <img
            src="../assets/img/projects/cpl/p-cpl.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Reverse channel letters on canopy.</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/cpl/156.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">
            Large hanging signs in the hallway that separates the original
            library and the recently created modern section.
          </div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/cpl/180.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">
            Medium hanging signs on the second floor, top of main stairs.
          </div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/cpl/182.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Large sign going up stairway.</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/cpl/190.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">First floor directory</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/cpl/171.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Bathroom Sign</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/cpl/209.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Garage entrance</div>
        </div>

        {{> credits}}

      </article>
    </div>
  </div>
</main>
