---
meta_title: 'Drizly Email Building Application | Kyle Langford'
meta_description: 'Portfolio example by Kyle Langford for Drizly Email Building Web App, work done at Raskyl.'
title: Drizly
description: Email Building Web App
attribution: Work done at Raskyl
last-edit: 10.31.19
back-url: /work/all
team:
  - name: Kyle Langford
    title: UI Designer, Angular Developer
  - name: Rachel Sorkin
    title: UI Designer
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <div class="specimen stretch">
          <img
            src="../assets/img/projects/drizly/device-mockup-default.png"
            alt="Elephant at sunset"
          />
        </div>

        <h4>Design and Generate HTML Emails</h4>

        <p>
          <strong>Ask </strong> Drizly needed help designing and producing
          emails in order to drive continuous traffic to their alcohol ordering
          web service. My partner and I consulted with them for some time,
          designing a reoccurring email and also helping code emails.
        </p>

        <p>
          <strong>Outcome</strong> There was a lot of commonalities in the
          emails we built. I proposed that we design a library of reusable
          templates based on their existing email designs. We boiled the emails
          down to a dozen or so components. I designed and built a UI for
          arranging these templates and populating them with content. This app
          would render the HTML in a preview panel and also allows you to export
          the generated HTML, which we would place into Litmus and eventually
          into ExactTarget.
        </p>

        <h5>Drag and Drag, Updates in Real Time</h5>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/drizly/device-mockup-project.png"
            alt="Elephant at sunset"
          />
        </div>

        <h5 style="text-align: center;">Example Email</h5>

        <div class="specimen">
          <img
            src="../assets/img/projects/drizly/email-drizly-CincoDeMayo-v1.jpg"
            alt="Elephant at sunset"
            style="width: 80%;"
            class="paper"
          />
        </div>

        {{> credits}}
      </article>
    </div>
  </div>
</main>
