---
title: Drizly 
description: Email Building Web App
attribution: Work done at Raskyl
last-edit: 5.30.19
back-url: /work/all
team:
-
  name: Kyle Langford
  title: Designer, Drupal Developer
-
  name: Rachel Sorkin
  title: Designer
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/drizly/device-mockup-default.png"
            alt="Elephant at sunset"
          />
        </div>

        <h4>Design and Generate HTML Emails</h4>

        <p>I proposed that we design a library of blocks based on their existing emails. I boiled the emails down to 10 or so components. I designed a UI for arranging the blocks and populating them with content. This app would render the HTML in a preview panel and also allow you to export the generated HTML.</p>

        <h5>Drag and Drag, Updates in Real Time</h5>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/drizly/device-mockup-project.png"
            alt="Elephant at sunset"
          />
        </div>

        <h5 style="text-align: center;">Example Email</h5>

        <div class="specimen">
          <img
            src="../assets/img/projects/drizly/email-drizly-CincoDeMayo-v1.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
        </div>

        {{> credits}}

      </article>
    </div>
  </div>
</main>
