---
meta_title: 'Drizly Email Building Application | Kyle Langford'
meta_description: 'Portfolio example by Kyle Langford for Drizly Email Building Web App, work done at Raskyl.'
title: Drizly
description: Application Design and Development
attribution: Work done at Raskyl
last-edit: 1.19.22
back-url: /work/all
team:
  - name: Kyle Langford
    title: Designer and Developer
  - name: Rachel Sorkin
    title: Designer
related:
  - title: Demand Response Calculator
    description: Enviromental Signage and Wayfinding.
    href: /work/calculator
    abbv: calculator
  - title: Cambridge Public Library
    description: Enviromental Signage and Wayfinding.
    href: /work/environmental-design
    abbv: cpl
---

{{> intro}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <div class="specimen stretch">
          {{picture "projects/drizly/device-mockup-default.png" "" "eager"}}
        </div>

        <h4>Standardizing Visual Language</h4>

        <p>
          <strong>Ask </strong> We had been coding emails for Drizly for several months. I designed a monthly calendar email and regularly built and designed HTML emails with the help of my partner Rachel Sorkin. In order to help them lower cost and streamline the email design process we proposed a component based design system and application to build, store and generate the HTML. 
        </p>

        <div class="specimen stretch">
          {{picture "projects/drizly/email-spread.jpg"}}
          <div class="caption">Email designs produced by: Kyle Langford and Rachel Sorkin</div>
        </div>

        <p>
          <strong>Outcome</strong> There were a lot of commonalities in the
          emails we built. Rachel and I consolidated their emails into a library of a dozen or so reusable templates. I coded and tested the components before integrating them with our system. I designed and built a UI for arranging these templates and populating them with content. This app would render the HTML in a preview panel in real time and also allow you to export the generated HTML, which we would place into Litmus and eventually into ExactTarget.
        </p>

        <h5>Drag and Drag Components, Updates in Real Time</h5>

        <div class="specimen stretch">
          {{picture "projects/drizly/device-mockup-project.png"}}
          <div class="caption">UI designed and built by: Kyle Langford</div>
        </div>

        <h5 style="text-align: center;">Example Email</h5>

        <div class="specimen">
          <div class="paper" style="width: 80%; margin: 0 auto;">
            {{picture "projects/drizly/email-drizly-CincoDeMayo-v1.jpg"}}
          </div>
        </div>

        <div class="text--center button-group">
          <a href="http://drizly-app.kylelangford.com" class="button button--primary"
            >View Demo</a
          >
        </div>

        {{> credits}}
      </article>
    </div>
  </div>
</main>
<section class="container">
  <div class="row flex is--collapsed is--full-width">
    {{> projects-two}}
  </div>
</section>

