---
title: Elev8d Fitness
attribution: Work done at Brunello, Inc.
description: Angular Video Component and Playlist
last-edit: 5.30.19
back-url: /work/all
team:   
-
  name: Nicole Baltzer
  title: Partner
-
  name: Jason Fournier
  title: UI Designer
-
  name: Kyle Langford
  title: UX Designer, Front-End Developer
-
  name: Christian Gonzalez
  title: Developer
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <h4>HTML5 Video Magic</h4>

        <p>
          Elev8d Fitness app provided users with full-length video workouts
          as well as guided video playlists. The original Angular build was
          riddled with bugs and had a very confusing design. This was a
          webview app so that presented a lot of challenges with video
          playback. We were able to design a player that simplified the UI
          and allowed seamless playing. I focused on transitions and
          animation to give a more native app feel. This project was the
          first time I had worked with Angular v5 and typescript which made
          this challanging.
        </p>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/elev8d/video-player.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Redesigned Player.</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/elev8d/060-screenshot.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Original Player.</div>
        </div>

        <div class="stretch">

        <video controls width="100%" class="video-player">
          <source
            src="../assets/video/video-player-workout.webm"
            type="video/webm"
          />
          <source
            src="../assets/video/video-player-workout.mp4"
            type="video/mp4"
          />

          Sorry, your browser doesn't support embedded videos.
        </video>
      </div>

        {{> credits}}

      </article>
    </div>
  </div>
</main>
