---
title: Elev8d Fitness
attribution: Work done at Brunello, Inc.
description: Angular Video Component and Playlist
last-edit: 5.30.19
back-url: /work/all
team:   
-
  name: Nicole Baltzer
  title: Partner
-
  name: Jason Fournier
  title: UI Designer
-
  name: Kyle Langford
  title: UX Designer, Front-End Developer
-
  name: Christian Gonzalez
  title: Developer
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/elev8d/device-mockup-feature.png"
            alt="Elephant at sunset"
          />
          <!-- <div class="caption">Elev8ed App Player.</div> -->
        </div>

        <h4>Angular Video Player</h4>

        <p>
          Elev8d Fitness app provided users with guided workout playlists
          as well as full-length video workouts. This was a
          webview app so that presented a lot of challenges with video
          playback. We were able to design a player that simplified the UI
          and allowed seamless playing. I focused on transitions and
          animation to give a more native app feel. 
        </p>

        <div class="specimen">
          <img
            src="../assets/img/projects/elev8d/device-mockup-playlist.png"
            alt="Elephant at sunset"
          />
        </div>

        <h5>Video Player Demo</h5>

        <div class="stretch">

        <video controls width="100%" class="video-player">
          <source
            src="../assets/video/video-player-workout.webm"
            type="video/webm"
          />
          <source
            src="../assets/video/video-player-workout.mp4"
            type="video/mp4"
          />

          Sorry, your browser doesn't support embedded videos.
        </video>
      </div>

        {{> credits}}

      </article>
    </div>
  </div>
</main>
