---
meta_title: 'HLE Design and Frontend Development | Kyle Langford'
meta_description: 'Portfolio example by Kyle Langford on Healthly Living Engine application design and development while at Brunello, inc'
title: Healthly Living Engine
description: Drupal 7/8 and Product Design
attribution: Work done at Brunello, Inc for Linkwell Health.
last-edit: 10.31.19
back-url: /work/all
team:
  - name: Adam Hoyle
    title: Partner
  - name: Jason Fournier
    title: Designer
  - name: Kyle Langford
    title: UX Developer
  - name: Jed
    title: Drupal Developer
  - name: Mike Calebrese
    title: Drupal Developer
related:
  - title: Elev8d Fitness
    description: Experience Design, Angular Development.
    href: /work/fitnessapp
    abbv: elev8d
  - title: Princeton Alumni Magazine
    description: Design, Drupal Development
    href: /work/paw
    abbv: paw
---

{{> intro}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <span style="text-align: center;">
          <h5>Healthy Content Hub</h5>
        </span>

        <div class="specimen stretch">
          {{picture "projects/hle/device-mockup-feature.png" "" "eager"}}
          <div class="caption">Plansite 2.0 Design By: Kyle Langford</div>
        </div>

        <p>
          <strong>Ask</strong> A centralized content publishing platform for
          recipes, healthy articles, and coupons. The content api feeds
          microsites that can be customized in look and content. The Platform 
          also provides a suite of content creation tools, such as lineups, reporting,
          workflows, and project tracking. Originally called LMS this platform was built in Drupal 7. 
          A major aspect of this project was to migrate to Drupal 8.
        </p>

        <p>
          <strong>Outcome</strong> We designed a flexible theme that is
          easily customizable and updatable. Content can be packaged and sent to
          microsites and controlled from a centralized point. We designed and built 
          backend themes and worflow tools to create content and reports. We
          continue to develop features and push the product into the future.
        </p>

        <h5>Content Publishing Platform</h5>

        <div class="specimen stretch">
          {{picture "projects/hle/hle_diagram.jpg"}}
          <div class="caption">Design By: Kyle Langford</div>
        </div>

        <div class="specimen">
          {{picture "projects/hle/optum-mobile.png"}}
        </div>

        <div class="specimen">
          <div class="split">
            <div class="specimen" style="text-align: center;">
              {{picture "projects/hle/device-mockup-recipe.png"}}
            </div>
            <div class="specimen">
              {{picture "projects/hle/device-mockup-shoppinglist.png"}}
            </div>
          </div>
          <div class="caption"></div>
        </div>

        <h5>Customizable Base Themes "Kale" - Plansite 3.0</h5>

        <div class="specimen stretch">
          {{picture "projects/hle/colors.png"}}
          <div class="caption"></div>  
        </div>

        <div class="specimen stretch">
          {{picture "projects/hle/getgoodliving-screen.png"}}
           <div class="caption">Kyle Langford - Theme Development and Design, Jason Fournier - Design</div>    
        </div>

        <div class="specimen stretch">
          {{picture "projects/hle/mmm-screen.png"}}
           <div class="caption">Kyle Langford - Theme Development and Design, Jason Fournier - Design</div>    
        </div>

        <h5>A New Customizable Base Theme "Quinoa"</h5>

        <div class="specimen stretch">
          {{picture "projects/hle/renew.png"}}
           <div class="caption">Kyle Langford - Theme Development, Jason Fournier - Design</div>    
        </div>

        <h5>Fully Custom Theme with Imported React Components</h5>

        <div class="specimen stretch">
          {{picture "projects/hle/optum-store-blog.png"}}
           <div class="caption">Kyle Langford - Theme Development</div>
        </div>

        <h5>Custom Backend</h5>

        <div class="specimen stretch">
          {{picture "projects/hle/device-mockup-reports.png"}}
        </div>

        <div class="specimen stretch">
          {{picture "projects/hle/device-mockup-content.png"}}
          <div class="caption">Kyle Langford - Theme Development and Design</div>
        </div>

        {{> credits}}
      </article>
    </div>
  </div>
</main>
<section class="container">
  <div class="row flex is--collapsed is--full-width">
    {{> projects-two}}
  </div>
</section>
