---
title: Healthly Living Engine
description: Multisite Theming
attribution: Work done at Brunello, Inc.
last-edit: 5.30.19
back-url: /work/all
team:   
-
  name: Adam Hoyle
  title: Partner
-
  name: Jason Fournier
  title: UI Designer
-
  name: Kyle Langford
  title: UX Designer, Front-End Developer
-
  name: Mike Calebrese
  title: Drupal Developer
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <h4>Content Hub</h4>


        <div class="specimen stretch">
          <img
            src="../assets/img/projects/hle/hle_diagram.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Infographic - Kyle Langford</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/hle/hw-devices.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Sketch of Idea</div>
        </div>
        <div class="specimen stretch">
          <img
            src="../assets/img/projects/hle/content.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Sketch of Idea</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/hle/shopping-list.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Sketch of Idea</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/hle/ibx.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Sketch of Idea</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/hle/chle-menu.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Sketch of Idea</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/hle/coupon.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Sketch of Idea</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/hle/projects.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Sketch of Idea</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/hle/lineups.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Sketch of Idea</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/hle/menu-side.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Sketch of Idea</div>
        </div>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/hle/wtd-intro-screen.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Sketch of Idea</div>
        </div>

        <div class="specimen stretch">
          <div class="stack">
            <img
              src="../assets/img/projects/hle/content-inventory-plansites_V4-1.jpg"
              alt="Elephant at sunset"
            />
            <img
              src="../assets/img/projects/hle/content-inventory-plansites_V4-2.jpg"
              alt="Elephant at sunset"
            />
            <img
              src="../assets/img/projects/hle/content-inventory-plansites_V4-3.jpg"
              alt="Elephant at sunset"
            />
            <img
              src="../assets/img/projects/hle/content-inventory-plansites_V4-4.jpg"
              alt="Elephant at sunset"
            />
            <img
              src="../assets/img/projects/hle/content-inventory-plansites_V4-5.jpg"
              alt="Elephant at sunset"
            />
            <img
              src="../assets/img/projects/hle/content-inventory-plansites_V4-6.jpg"
              alt="Elephant at sunset"
            />
          </div>
          <div class="caption">
            I created this Content Inventory &mdash; to show at a block
            level the heirarchy of information for the page. We created a
            list of all possible blocks and used that to scaffold out all
            the page types. Types were assigned to blocks of similar
            functionality to display placements.
          </div>
        </div>


<pre class="markup"><code class="language-css"> 
// BCBS GS
$primary-color: #003975;
$primary-color-medium: darken($primary-color, 15%);
$primary-color-dark: darken($primary-color, 25%);
$secondary-color: #003975;
// $font-1-url: 'https://fonts.googleapis.com/css?family=Lato:400,700';
// $font-2-url: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700';
$heading-font-family: Arial, Helvetica, Sans-Serif;
$base-font-family: Arial, Helvetica, Sans-Serif;
$base-font-size: 15px;
</code></pre>

        {{> credits}}

      </article>
    </div>
  </div>
</main>
