---
title: HLE <wbr />Theming
description: CSS Architecture
---

{{> header }}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <h4>12k lines of css</h4>

        <p>Lorem Ipsum</p>

        <!-- <div class="specimen">
        <img src="../assets/img/projects/brm/design-homepage_v3c.jpg"
             alt="Elephant at sunset" class="paper">
        <div class="caption">Final Homepage Design</div>
      </div> -->

        <div class="credits">
          <p class="attribution">Work done at Brunello, Inc.</p>
          <ul class="team-list">
            <!-- <li>Adam Hoyle: Project Manager</li> -->
            <li>Kyle Langford: Designer, Drupal Developer</li>
            <!-- <li>Kyle Langford: Designer, Drupal Developer</li> -->
          </ul>
          <p class="last-edit">Last Edit: 5.30.19</p>
        </div>
      </article>
    </div>
  </div>
</main>
