---
title: Imaginatik
description: Site Design and Build
attribution: Work done at Brunello, Inc.
last-edit: 5.30.19
team:   
-
  name: Adam Hoyle
  title: Partner
-
  name: Kyle Langford
  title: Designer / Developer
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <h4>Idea Management</h4>

        <div class="specimen stretch">
          <img
            src="../assets/img/projects/imaginatik/imaginatik-spread.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Final Homepage Design</div>
        </div>

        <p>
          One of my first design projects at Brunello was for a company that
          produced narrow fabric and advanced composites for
          industrial/military application. It was important for Bally to be
          Modern and Authoritive. This design for Bally Ribbon Mills has
          held up well over the years, even longer than the site itself!
          This project used sitemaps, wireframes, style-tiles, and full-page
          mockups. I built the site in Drupal 7.
        </p>

        {{> credits}}

      </article>
    </div>
  </div>
</main>
