---
title: Mass. Emergency Nurse Association
description: Site Design and Build
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <h4>Labor of Love</h4>

        <p>
          The Mass. Emergency Nurse Association is the state chapter of the
          national organization. They needed a website to post information
          and organize events. There was a knowledge gap in this project so
          I decided the best way to show design was to build it. I utilized
          mood-boards to show look and feel then implemented the remaining
          features based on that.
        </p>

        <div class="specimen">
          <img
            src="../assets/img/projects/mena/maena-moodboard_v2d.png"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Style Direction</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/mena/article.png"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Style Direction</div>
        </div>

        <div class="specimen">
          <img
            src="../assets/img/projects/mena/chapter-page.png"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Style Direction</div>
        </div>

        <div class="card">
          <p>Design Prototype</p>

          <div class="button-group">
            <a
              href="/demo/mena.wires/index.php"
              class="button button--primary"
              >View Prototype</a
            >
          </div>

          <div class="credits">
            <p class="attribution">Work done at Raskyl</p>
            <ul class="team-list">
              <li>Kyle Langford: Designer, Developer</li>
              <li>Rachel Sorkin: Project Manager</li>
            </ul>
            <p class="last-edit">Last Edit: 5.30.19</p>
          </div>  
        </div>
      </article>
    </div>
  </div>
</main>
