---
meta_title: 'PennStater Magazine | Kyle Langford'
meta_description: 'Portfolio example by Kyle Langford for PennStater Magazine, work done at Brunello Inc.'
title: PennStater Magazine
description: Drupal 8 Development
attribution: Work done at Brunello, Inc.
last-edit: 1.19.22
back-url: /work/all
team:
  - name: Nicole Baltzer
    title: Project Manager
  - name: Jason Fournier
    title: Designer
  - name: Kyle Langford
    title: Lead Developer
  - name: Christian Gonzalez
    title: Drupal Developer
related:
  - title: Princeton Alumni Magazine
    description: Design, Drupal Development
    href: /work/paw
    abbv: paw
  - title: Enel X Wind Journey
    description: Branding, Design, Drupal Development
    href: /work/wind-journey
    abbv: wind
---

{{> intro}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
      
        <div class="specimen stretch">
          {{picture "projects/penn/penn-screen.png" "" "eager"}}
        </div>

        <h4>A bridge between Design and Development</h4>

        <p>
          <strong>Ask</strong> Looking for a fresh new design and website PennStater contracted us to make it happen. 
        </p>

        <p>
          <strong>Contribution</strong> Having consulted in the research and design phases moving to development was a smooth process. For this project I took the development lead and worked with our backend developer Christian to delegate and build out the site. My main contribution was the frontend theme and site building. I worked with our project lead, designer and developer to ensure our vision was brought to life on time and on budget which had been a big challenge for us on full site projects. 
        </p>

        <div class="text--center button-group">
          <a href="https://pennstatermag.com" class="button button--primary"
            >View Page</a
          >
        </div>

        {{> credits}}
      </article>
    </div>
  </div>
</main>
<section class="container">
  <div class="row flex is--collapsed is--full-width">
    {{> projects-two}}
  </div>
</section>

