---
meta_title: 'Wind Journey Landing Page | Kyle Langford'
meta_description: 'Portfolio example by Kyle Langford for Wind Journey Landing Page , work done at Brunello Inc.'
title: PennStater
description: Alumni Magazine
attribution: Work done at Brunello, Inc.
last-edit: 12.12.22
back-url: /work/all
team:
  - name: Nicole Baltzer
    title: Project Manager
  - name: Jason Fournier
    title: Project Designer
  - name: Kyle Langford
    title: UX Developer
  - name: Christian Gonzalez
    title: Drupal Developer
related:
  - title: Healthy Living Engine
    description: Design, Drupal Development
    href: /work/hle
    abbv: hle
  - title: Bally Ribbon Mills
    description: Branding, Design, Drupal Development
    href: /work/brm
    abbv: brm
---

{{> intro}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
      
        <div class="specimen stretch">
          <picture>
            <source srcset="../assets/webp/projects/penn/penn-screen.webp" type="image/webp">
            <source srcset="../assets/img/projects/penn/penn-screen.png" type="image/jpeg"> 
            <img src="../assets/img/projects/penn/penn-screen.png" alt="Alt Text!" loading="eager">
          </picture>
        </div>

        <h4>Alumni Magazine</h4>

        <p>
          <strong>Ask </strong> Enel Green Power had a scrolling flash animation that they wanted to convert into a landing page. This included updating the branding to match their current design system.
        </p>

        <p>
          <strong>Outcome</strong> Follow the path and see how Enel Green Power develops, builds and operates every project with extensive expertise, while respecting the environment, communities and landowners.
        </p>

        <div class="text--center button-group">
          <a href="https://pennstatermag.com" class="button button--primary"
            >View Page</a
          >
        </div>

        {{> credits}}
      </article>
    </div>
  </div>
</main>
<section class="container">
  <div class="row flex is--collapsed is--full-width">
    {{> projects-two}}
  </div>
</section>

