---
meta_title: 'Wind Journey Landing Page | Kyle Langford'
meta_description: 'Portfolio example by Kyle Langford for Wind Journey Landing Page , work done at Brunello Inc.'
title: Wind Journey
description: Storyboarding and Javascript Development
attribution: Work done at Brunello, Inc.
last-edit: 12.23.21
back-url: /work/all
team:
  - name: Adam Hoyle
    title: Project Manager
  - name: Kyle Langford
    title: Project Designer, Developer
related:
  - title: PennStater Alumni Magazine
    description: Design, Drupal Development
    href: /work/pennstater
    abbv: pennstater
  - title: Bally Ribbon Mills
    description: Branding, Design, Drupal Development
    href: /work/brm
    abbv: brm
---

{{> intro}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
      
        <div class="specimen">
            <lottie-player
            autoplay
            loop
            mode="normal"
            src="../assets/lottie/wind-journey.json"
            style="width: 700px"
          >
          </lottie-player>
        </div>

        <h4>SVG Animation (lottiefiles)</h4>

        <p>
          <strong>Ask </strong> Enel Green Power had an old scrolling animation that they wanted to update. The script was verbose and the style no longer matched the modern brand. This project was open ended but ultimatly the end result would go on a landing page and link out to other sections. 
        </p>

        <p>
          <strong>Outcome</strong> The content needed a major adaptation in order to fit the layout I envisioned. Adam and I worked with Enel to restructure and boil down the content in sections we defined in our content strategy. From there we storyboarded the scenes and animations. The animated SVG were contracted by a lottie artist. Major contributions were creative direction, animation direction, and implementation. 
        </p>

        <div class="specimen">
          {{picture "projects/egp/screen-top.png" "" "eager"}}
        </div>

        <div class="specimen">
          {{picture "projects/egp/scene-3.png"}}
        </div>

        <div class="specimen">
          {{picture "projects/egp/scene-2.png"}}
        </div>

        <p>
          Follow the path and see how Enel Green Power develops, builds and operates every project with extensive expertise, while respecting the environment, communities and landowners.
        </p>

        <h5>Storyboarding and Art Direction</h5>

        <div class="specimen stretch paper">
          {{picture "projects/egp/design-comp.jpg"}}
        </div>

        <div class="specimen stretch paper">
          {{picture "projects/egp/research.jpg"}}
        </div>

        <div class="specimen stretch paper">
          {{picture "projects/egp/scene-1.png"}}
        </div>

        <div class="specimen stretch paper">
          {{picture "projects/egp/transitions.jpg"}}
        </div>

        <div class="text--center button-group">
          <a href="https://www.enelgreenpower.com/countries/north-america/wind-journey" class="button button--primary"
            >View Page</a
          >
        </div>

        {{> credits}}

      </article>
    </div>
  </div>
</main>
<section class="container">
  <div class="row flex is--collapsed is--full-width">
    {{> projects-two}}
  </div>
</section>

