---
meta_title: 'Wind Journey Landing Page | Kyle Langford'
meta_description: 'Portfolio example by Kyle Langford for Wind Journey Landing Page , work done at Brunello Inc.'
title: Wind Journey
description: Storyboarding and Javascript Development
attribution: Work done at Brunello, Inc.
last-edit: 12.12.22
back-url: /work/all
team:
  - name: Adam Hoyle
    title: Project Manager
  - name: Kyle Langford
    title: Project Designer, JS Developer
related:
  - title: Princeton Alumni Magazine
    description: Design, Drupal Development
    href: /work/paw
    abbv: paw
  - title: Cambridge Public Library
    description: Enviromental Signage and Wayfinding.
    href: /work/cpl
    abbv: cpl

---

{{> intro}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
      
        <div class="specimen">
            <lottie-player
            autoplay
            loop
            mode="normal"
            src="../assets/lottie/wind-journey.json"
            style="width: 700px"
          >
          </lottie-player>
        </div>

        <h4>Enel Green Power’s Wind Journey in the US and Canada</h4>

        <p>
          <strong>Ask </strong> Enel Green Power had a scrolling flash animation that they wanted to convert into a landing page. This included updating the branding to match their current design system.
        </p>

        <p>
          <strong>Outcome</strong> Follow the path and see how Enel Green Power develops, builds and operates every project with extensive expertise, while respecting the environment, communities and landowners.
        </p>

        <div class="specimen">
          <picture>
            <source srcset="../assets/webp/projects/egp/screen-top.webp" type="image/webp">
            <source srcset="../assets/img/projects/egp/screen-top.png" type="image/jpeg"> 
            <img src="../assets/img/projects/egp/screen-top.png" alt="Alt Text!" loading="eager">
          </picture>
        </div>

        <div class="specimen">
          <picture>
            <source srcset="../assets/webp/projects/egp/scene-3.webp" type="image/webp">
            <source srcset="../assets/img/projects/egp/scene-3.png" type="image/jpeg"> 
            <img src="../assets/img/projects/egp/scene-3.png" alt="Alt Text!" loading="eager">
          </picture>
        </div>

        <div class="specimen">
          <picture>
            <source srcset="../assets/webp/projects/egp/scene-2.webp" type="image/webp">
            <source srcset="../assets/img/projects/egp/scene-2.png" type="image/jpeg"> 
            <img src="../assets/img/projects/egp/scene-2.png" alt="Alt Text!" loading="eager">
          </picture>
        </div>

        <p>
          <strong>Contribution</strong> Follow the path and see how Enel Green Power develops, builds and operates every project with extensive expertise, while respecting the environment, communities and landowners.
        </p>

        <h5>Storyboarding and Art Direction</h5>

        <div class="specimen stretch paper">
          <picture>
            <source srcset="../assets/webp/projects/egp/design-comp.webp" type="image/webp">
            <source srcset="../assets/img/projects/egp/design-comp.jpg" type="image/jpeg"> 
            <img src="../assets/img/projects/egp/design-comp.jpg" alt="Alt Text!" loading="eager">
          </picture>
        </div>

        <div class="specimen stretch paper">
          <picture>
            <source srcset="../assets/webp/projects/egp/research.webp" type="image/webp">
            <source srcset="../assets/img/projects/egp/research.jpg" type="image/jpeg"> 
            <img src="../assets/img/projects/egp/research.jpg" alt="Alt Text!" loading="eager">
          </picture>
        </div>

        <div class="specimen stretch paper">
          <picture>
            <source srcset="../assets/webp/projects/egp/scene-1.webp" type="image/webp">
            <source srcset="../assets/img/projects/egp/scene-1.jpg" type="image/jpeg"> 
            <img src="../assets/img/projects/egp/scene-1.jpg" alt="Alt Text!" loading="eager">
          </picture>
        </div>

        <div class="specimen stretch paper">
          <picture>
            <source srcset="../assets/webp/projects/egp/transitions.webp" type="image/webp">
            <source srcset="../assets/img/projects/egp/transitions.jpg" type="image/jpeg"> 
            <img src="../assets/img/projects/egp/transitions.jpg" alt="Alt Text!" loading="eager">
          </picture>
        </div>

        <div class="text--center button-group">
          <a href="https://www.enelgreenpower.com/countries/north-america/wind-journey" class="button button--primary"
            >View Page</a
          >
        </div>

        {{> credits}}

      </article>
    </div>
  </div>
</main>
<section class="container">
  <div class="row flex is--collapsed is--full-width">
    {{> projects-two}}
  </div>
</section>

