
.container {
  @include zebra(); 
}

.page__logo {
  margin: 2em auto;
  max-width: 200px;
  display: block;
}

.page__title {
  font-size: 58px;
}

.page__sub-title {
  font-size: 24px;
}

.text--large {
  font-size: 24px;
}

.section__title {

}


// Room
.room-desk {
  max-width: 600px;
  margin-left: -130px;
  margin-top: 3rem;
}

.position-top-left {
  position: absolute;
  top: 4em;
  left: 2em;
  max-width: 180px;
}

.position-top-right {
  position: absolute;
  top: 2em;
  right: 2em;
  max-width: 240px;
}

.position-bottom-right {
  position: absolute;
  bottom: 4em;
  right: 4em;
  max-width: 220px;
}


.list-title {
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bold;
}


.skill-img {
  max-width: 360px;
  width: 100%;
}

// Credits
.credits {
  padding: 2em;
}
