// Headroom.js
.headroom {
  @include transition(all 0.15s ease-in);
  background-color: transparent;
}

.headroom--top {
  background-color: transparent;
}

.headroom--pinned {
  background-color: rgba(21,21,21,.2);
  transform: translateY(0%);
  .site-logo {
    color: white;
  }
  .cube > div  {
    background-color:white;
  }
  &.headroom--top {
    background-color: transparent;
    .site-logo {
      color: $heading-font-color;

    }
    .cube > div  {
      background-color:transparent;
    }
  }
}

.headroom--unpinned {
  transform: translateY(-100%);
  &.active {
    transform: translateY(0);
  }
}
