
/* grid */
.grid {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
  margin-top: -3em;
  margin-bottom:3em;
}
.grid div {
	position: relative;
	font-size: 18em;
	line-height: 1;
	max-height: 190px;
	text-align: center;
	width: auto;
  display: inline-block;
  @include media(max-width $medium) {
    font-size: 8em;
  }
}
/* Common styles for the letters */
.grid div span {
	display: inline-block;
	font-weight: 900;
	line-height: 1;
	position: relative;
	color: #f1f1f1;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index: 2;
  &:hover {
    cursor:pointer;
  }
}
.grid div span:before {
	position: absolute;
	content: attr(data-letter);
	line-height: inherit;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.break-apart.grid div span:before {
  position: relative;
}
.grid div span:after {
	text-shadow: none;
	color: hsla(0, 0%, 0%, 0.1);
  z-index: -1;
}
.grid div span:before {
  color: $heading-font-color;
}

/* Down */
.ot-letter-bottom span:before {
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
}
.ot-letter-bottom span:before {
	// text-shadow: 0px -1px 0px hsla(360, 100%, 100%, 0.1), 0px 3px 1px hsla(0, 0%, 0%, 0.4);
	-webkit-transform: rotateX(20deg);
	-ms-transform: rotateX(20deg);
	transform: rotateX(20deg);
}
.wp-rotate {
  display: inline-block;
  @include transform(rotate(135deg))
}