  /* BREAKPOINTS SETTINGS
 ----------------------------------------------------------------------------------
 - comments
 ---------------------------------------------------------------------------------- */
$small: 640px;
$medium: 769px;
$large: 1024px;

// sass map

$phone:        400px;
$phone-wide:   480px;
$phablet:      560px;
$tablet-small: 640px;
$tablet:       768px;
$tablet-wide:  1024px;
$desktop:      1248px;
$desktop-wide: 1440px;


 /* COLOR SETTINGS
 ----------------------------------------------------------------------------------
 - comments
 ---------------------------------------------------------------------------------- */
$primary-color: #6DA6A0;
$primary-color-medium: darken($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 25%) !default;

$secondary-color: #ffcc2f;

$white: #FFFFFF !default;
$off-white-color: #f4f4f4;
$subtle-gray: #F6F6F6 !default;
$light-gray: #F2F0F0 !default;
$gray: #D9D9D9 !default;
$medium-gray: #CACACA !default;
$dark-gray: #AAAAAA !default;

// Secondary Colors
$light-yellow: #FFFBED !default;
$red: #FF5050 !default;
$charcoal: #333333 !default;

// Theme Colors
$background-color: $subtle-gray !default;
$text-color: $charcoal !default;
$text-description-color: #555555 !default;

// 'Link' Color
$action-color: $primary-color !default;
$action-color--hover: $primary-color-medium !default;
$action-color--focus: $primary-color-medium !default;
$action-color--active: $primary-color-dark !default;

/* Font Colors */
$base-font-color: #555;
$base-link-color: $action-color;
$base-accent-color: $action-color;

$panel-odd-color: $off-white-color;
$panel-even-color: white;



$base-font-size: 16px;

 /* VERTICAL SPACING
 ----------------------------------------------------------------------------------
 - comments
 ---------------------------------------------------------------------------------- */
$base-line-height: 1.6;
$header-line-height: 1.25;
$base-spacing: $base-line-height * 1em;
$base-padding: 1.5rem;
$wrap-padding: 1.5rem;

 /* SPACING
 ----------------------------------------------------------------------------------
 - comments
 ---------------------------------------------------------------------------------- */
$base-gutter: 2.5rem !default;
$base-spacing: 1.5rem !default;
$base-line-height: 1.5em !default;
$half-spacing: $base-spacing / 2 !default;
$max-width: em(1088) !default;



 /* DIVIDERS AND LINES
 ----------------------------------------------------------------------------------
 - comments
 ---------------------------------------------------------------------------------- */
$base-border-color: $medium-gray;
$base-border: 1px solid $base-border-color;
$form-border: $base-border;
$line-color: $medium-gray !default;
$base-border: 1px solid $line-color !default;
$base-corner-radius: 4px !default;
$base-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1) !default;


 /* Prefixes
 ----------------------------------------------------------------------------------
 - comments
 ---------------------------------------------------------------------------------- */
$prefixes: 'webkit', 'moz', 'ms', 'o' !default;


 /* BUTTONS
 ----------------------------------------------------------------------------------
 - comments
 ---------------------------------------------------------------------------------- */
$button-padding-default: 9px 24px 10px 24px !default;
$button-padding-small: 4px 24px !default;
$button-background-color: linear-gradient(to bottom, $white, $subtle-gray)  !default;
$button-background-color--hover: linear-gradient(to bottom, $subtle-gray, $white) !default;
$button-background-color--focus: linear-gradient(to bottom, $subtle-gray, $white) !default;
// -webkit-linear-gradient(top, $subtle-gray, $white)
$button-background-color--active: $light-gray !default;
$button-border-color: $medium-gray !default;

// Primary Buttons
$button-primary-background-color: $action-color !default;
$button-primary-background-color--hover: $action-color--hover !default;
$button-primary-background-color--focus: $action-color--focus !default;
$button-primary-background-color--active: $action-color--active !default;
