<header class="container size-to-window intro">
  <div class="row flex flex-align--center flex--justify fill-height">
    <nav class="position-top-left">
      <a href="/" class="button--previous"
        ><span class="icons-skip-back"></span>Back</a
      >
    </nav>

    <div class="column half text--center">
      <h1 class="page__title">Introduction</h1>
      <p class="description">
        A curated list of links that helped me a long the way.
      </p>
    </div>
  </div>
</header>

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">
        <p>
          My name is Kyle Langford. As an Interactive Designer I am an essential
          part of any project or product team. I combine a strong front end
          development skillset with a talent for crafting great UI designs. I
          have an aspiring interest in understanding more about the User
          Experiences. I am involved in the strategic / research aspects of
          projects and provide quick prototyping and wireframing capabilities.
          This helps teams move from sketches direct to code – good code –
          efficiently.
        </p>

        <p>
          I work well sketching with team members and building prototypes and
          proofs of concepts. I like to focus on whether the interactions,
          process, flow, and the overall experience of the product working well
          for the end user.
        </p>

        <p>
          <strong>As a leader and mentor</strong> I have experience managing
          expectations, communicating ideas and developing team strategies. I
          make sure to ask the right questions: is the product intuitive, easy
          to use and, ultimately, does it meet the user’s goals and
          expectations?
        </p>

        <p>
          <strong>As a designer</strong> I want to share ownership of the UX, I
          enjoy working on defining the product, the audience, and conducting
          research. Being involved early allows me to understand the rationale
          behind the product and design approach and helps me to make good,
          consistent, UX decisions without needing every piece of UI defined.
        </p>

        <p>
          <strong>As a developer</strong> I produce standards driven, production
          quality code. I have experience on building content heavy websites and
          theming Drupal and Shopify themes.
        </p>
      </article>
    </div>
  </div>
</main>
