---
page_title: Blog
header_url: '/'
header_link_text: "$ cd .."
catergoy: blog
---

{{> section}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <ul class="list blog">
        <li class="list__item">
          <article>
            <a href="/articles/alt-text.html">
              <h2 class="label">Putting Accessiblity in the Users hands</h2>
            </a>
            <small
              >March 25, 2019<!-- -->
              • ☕️ 4 min read</small
            >
            <p>A change starts with a story.</p>
          </article>
        </li>

        <li class="list__item">
          <article>
            <a href="/articles/article.html">
              <h2 class="label">Putting Accessiblity in the Users hands</h2>
            </a>
            <small
              >March 25, 2019<!-- -->
              • ☕️ 4 min read</small
            >
            <p>A change starts with a story.</p>
          </article>
        </li>
        <li class="list__item">
          <article>
            <a href="/articles/article.html">
              <h2 class="label">Putting Accessiblity in the Users hands</h2>
            </a>
            <small
              >March 25, 2019<!-- -->
              • ☕️ 4 min read</small
            >
            <p>A change starts with a story.</p>
          </article>
        </li>
      </ul>
    </div>
  </div>
</main>
