---
title: Responsive Design Process 
description: Content Driven Design
last-edit: 5.30.19
back-url: /work/all
---

{{> header}}

<main class="container">
  <div class="row flex flex--justify pad-default">
    <div class="column two-thirds">
      <article class="content">

        <p>Process</p>

        <div class="specimen">
          <img
            src="../assets/img/projects/brunello/brunello-components.jpg"
            alt="Elephant at sunset"
            class="paper"
          />
          <div class="caption">Final Homepage Design</div>
        </div>

        Content First
        Data Driven
        Design Sutems not pages
        Iterate
        Increase Value not cost

        <h3>Project Brief</h3>
        <h3>Sitemap Audit</h3>
        <h3>Content Audit</h3>
        <h3>Design by Goals</h3>
        <h3>New Sitemap</h3>
        <h3>Mobile Priority</h3>
        <h3>Moodboard</h3>
        <h3>Wireframing</h3>
        <h3>Design Patterns</h3>
        <h3>Prototype</h3>
        <h3>Test</h3>
        <h3>Production</h3>

        {{> credits}}

      </article>
    </div>
  </div>
</main>


