<code> <span class="nc">.element</span> <span class="p">{</span>
   <span class="k">@include</span> <span class="nd">span-columns</span><span class="p">(</span><span class="m">6</span><span class="p">);</span>

  <span class="nc">.nested-element</span> <span class="p">{</span>
    <span class="k">@include</span> <span class="nd">span-columns</span><span class="p">(</span><span class="m">2</span> <span class="n">of</span> <span class="m">6</span><span class="p">);</span>
  <span class="p">}</span>
<span class="p">}</span></code>


<div class="row collapse visible-grid">
	<div class="col-full"><div class="cell"></div></div>
</div>

<div class="row collapse visible-grid">
	<div class="col-half"><div class="cell"></div></div>
	<div class="col-half"><div class="cell"></div></div>
</div>

<div class="row collapse visible-grid">
	<div class="col-one-third"><div class="cell"></div></div>
	<div class="col-one-third"><div class="cell"></div></div>
	<div class="col-one-third"><div class="cell"></div></div>
</div>

<div class="row collapse visible-grid">
	<div class="col-one-fourth"><div class="cell"></div></div>
	<div class="col-one-fourth"><div class="cell"></div></div>
	<div class="col-one-fourth"><div class="cell"></div></div>
	<div class="col-one-fourth"><div class="cell"></div></div>
</div>

<div class="row collapse visible-grid">
	<div class="col-one-sixth"><div class="cell"></div></div>
	<div class="col-one-sixth"><div class="cell"></div></div>
	<div class="col-one-sixth"><div class="cell"></div></div>
	<div class="col-one-sixth"><div class="cell"></div></div>
	<div class="col-one-sixth"><div class="cell"></div></div>
	<div class="col-one-sixth"><div class="cell"></div></div>
</div>