  /* BREAKPOINTS SETTINGS
 ----------------------------------------------------------------------------------
 - comments
 ---------------------------------------------------------------------------------- */
$sm-breakpoint: 800px;
$md-breakpoint: 1100px;
$lg-breakpoint: 1300px;
