  /* BREAKPOINTS SETTINGS
 ----------------------------------------------------------------------------------
 - comments
 ---------------------------------------------------------------------------------- */
$sm-breakpoint: 640px;
$md-breakpoint: 960px;
$lg-breakpoint: 1200px;
