/* COLOR SETTINGS
 ----------------------------------------------------------------------------------
 ---------------------------------------------------------------------------------- */
$primary-color: #6da6a0;
$primary-color-medium: darken($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 25%) !default;
$secondary-color: #ffcc2f;
$white: #ffffff !default;
$black: #212121 !default;
$off-white-color: #f4f4f4;
$subtle-gray: #f6f6f6 !default;
$light-gray: #f2f0f0 !default;
$gray: #d9d9d9 !default;
$medium-gray: #cacaca !default;
$dark-gray: #aaaaaa !default;

$scrap-green: #40a880;
$cyber-green: #52dfb4;
$twilight: #273269;
$burnt-sunset: #e58b44;
$red-eye: #e33c42;
$robot-salmon: #e53b56;
$concrete: #718078;
$future-yellow: #fde803;
$grease: #202020;
$robo-sludge: #323e43;
$shark-skin: #8aa8b8;
$pink: #f27181;

$paw: #f37021;
$elev8d: #f1bf9c;
$hle: #028bcc;
$brm: #184082;
$drizly: #e12c2c;
$cpl: #c21f2f;
$enelx: #461E7D;
$egp: #008556;
$penn: #006FBA;

// Secondary Colors
$light-yellow: #fffbed !default;
$red: #ff5050 !default;
$charcoal: #333333 !default;
$charcoal: #323e43;

// Theme Colors
$background-color: $subtle-gray !default;
$text-color: $charcoal !default;
$text-description-color: #555555 !default;
