body {
  background-color:$nav-bg-color;
  opacity:0;
  margin: 0;

  .panel {
    @include prefix(transform, translateY(50vh), webkit ms );
  }
  
  &.tween {
    opacity:1;

    @include prefix(transition, all .7s ease-in, webkit ms );

    .panel {
      @include prefix(transition, all .7s ease-in, webkit ms );
      @include prefix(trasnform, translateY(0px), webkit ms );
    }
  }
}

a {
  @include prefix(transition, color 0.1s linear, webkit ms );
}

@-webkit-keyframes slide_in { 
  0% {
    left:-1000px;
  }
  100% {
    left:0px;
  }
}


//Layout
.panel {
  background-color: $panel-even-color;

  // Reversed
  .front & {
    background-color: $panel-odd-color;

    &:nth-child(odd) {
      background-color: $panel-even-color;
    }
  }

  &.animate {
    @include prefix(transition, height 2s ease-in, webkit ms );
    height: 20vh;
  }

  &.grey {
    background-color: #cdcdcd !important;
  }

  &:nth-child(odd) {
    background-color: $panel-odd-color;
  }

  &.welcome {

    h2 {
      font-size: 6em;
      text-align: center;
      line-height: .85;
    }
    
    @include desktop-first($medium) {
      h2 {
        font-size: 12em;
        margin-bottom: 0;
        text-align: right;
        line-height: .95;
        .kern {
          letter-spacing:-12px;
        }
      }
    }
  }
}

.wrap {
  padding: $wrap-padding 0;
  @include outer-container;

  @include mobile-first($medium) {
    padding: 6em 0;
  }
  
  .head & {
    padding: 16em 0 8em;
  }
  
  .contact & {
    padding: 10em 0;

    @include mobile-first($medium) {
      padding: 6em 0;
    }
  }
  
  .credits & {
    padding: 3em 0;
  }
  
  .welcome & {
    padding:0;
  }
  
  article & {
    padding: 8em 0;
  }
  
  .left,
  .right {
    width:100%;

    @include desktop-first($medium) {
      // @include span-columns(6);
    }
  }
  
  .window & {
    display: table-cell;
    vertical-align: middle;
    
    p {
      color:$heading-font-color;
    }
  }
  
  &.collapse {
    padding: 0;
  }
}

.squeeze {
  // @include span-columns(8);
  // @include shift(2);

  @include mobile-first($medium) {
    // @include span-columns(10);
    // @include shift(1);
  }
}

.left,
.right {
  width: 50%;
  float: left;

  .split-panel & {
    padding: 7em 10%;
  }
}


.room-logo {
  margin: 2em auto;
  max-width: 240px;
  display: block;
}

.room-desk {
  max-width: 600px;
  margin-left: -60px;
}

.room-top-left {
  position: absolute;
  top: 4em;
  left: 2em;
  max-width: 180px;
}

.room-top-right {
  position: absolute;
  top: 2em;
  right: 2em;
  max-width: 240px;
}

.room-bottom-right {
  position: absolute;
  bottom: 4em;
  right: 4em;
  max-width: 220px;
}

// Footer
footer {
  .icon {
    color: $paragraph-font-color;
    font-size: 1.5em;
  }

  .icon-copyright {
    font-size: 15px;
    position: relative;
    top: 1px;
  }

  p.copy {
    color: $paragraph-font-color;
    font-family: $sans-serif;
    font-weight: 100;
    font-size: 1em;
  }
}

// Message
.contact {

  h2 {
    text-align: center;
  }

  form {
    max-width: 460px;
    width: 100%;
    margin: 0px auto;
    padding: 0 1.5em;
  }
}

#form-messages {
  padding: 0 0 5% 0;
  text-align: center;
}

// Message
.message {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  height: 100%;
  width: 100vw;
  padding: 0 5%;

  a {
    text-align: center;
  }
  
  .welcome & {
    text-align: center;
    p {
      max-width:920px;
      margin-left:auto;
      margin-right:auto;
    }
  }
  
  .collapse & {
    padding-top: $wrap-padding;
    max-width: none;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 5.65em;
    line-height: 1;
    margin-bottom: 0.35em;
    @include mobile-first($medium) {
      font-size: 2.75em;
    }
    span {
      color: $secondary-color;
    }
  }
  
  h3 {
    margin-bottom: 1em;
  }
  
  p {
    font-family: $sans-serif-2;
    font-weight: 400;
    font-size: 1.75rem;
    @include mobile-first($medium) {
      font-size: 1.25em;
    }
  }
}


/* Wapasha */
.btn {
  font-weight: bold;
}

[class^="cta-"], [class*=" cta-"] {
  margin-top:2em;
  background: $primary-color;
  border-radius:$border-radius;
	color: #fff;
  display:inline-block;
  padding:1.2em 6em;
  min-width: 260px;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
  @include mobile-first($medium) {
    display:block;
  }
  &:hover {
    background-color: transparent;
    color: $heading-font-color;

    span {
      border-bottom: 3px solid $primary-color;
    }
  }
}


// Credits
.credits {
  padding: 2em;

  a {
    color: $paragraph-font-color;
    &:hover {
      color: shade($paragraph-font-color, 60%);
    }
  }
}



