html {
  background-color: darken($twilight, 5%);
}

body {
  background-color: $white;
  // opacity: 0;

  // article {
  //   transform: translateY(35vh);
  // }

  &.tween {
    // on load
    // opacity: 1;
    // transition: all 0.7s ease-in;

    // article {
    //   transition: all 0.7s ease-in;
    //   transform: translateY(0px);
    // }
  }

  &.page--all {
    .container {
      background-color: $twilight;
    }
  }
}

// Custom Layout
.container {
  $height: 70vh;

  &.intro {
    background-color: $twilight;
    color: $white;
    height: 100vh;

    .page__title {
      color: $white;
      letter-spacing: 0.05rem;
      display: block;

      font-size: 32px;

      @include media($sm-breakpoint) {
        font-size: 58px;
      }
    }

    .page__sub-title {
      color: $cyber-green;
      font-size: 24px;

      @include media($sm-breakpoint) {
        font-size: 58px;
      }
    }
  }

  &.blog {
    height: $height;
    text-align: left;

    .page__title {
      color: $cyber-green;
    }

    .button--previous {
      color: $cyber-green;
    }
  }

  &.bookmarks {
    background-color: $twilight;
    color: white;
    height: $height;

    .page__title {
      color: $cyber-green;
    }
  }

  &.portfolio {
    background-color: $twilight;
    color: $white;
    height: $height;
    text-align: left;

    .page__title,
    .button--previous {
      color: $white;
    }
  }

  &.brm {
    background-color: $brm;
    color: $white;
    height: $height;

    .page__title,
    .button--previous {
      color: $white;
    }
  }

  &.environmental-design {
    background-color: $cpl;
    color: $white;
    height: $height;

    .page__title,
    .button--previous {
      color: $white;
    }
  }

  &.paw {
    background-color: $paw;
    color: $white;
    height: $height;

    .page__title,
    .button--previous {
      color: $white;
    }
  }

  &.fitnessapp {
    background-color: $elev8d;
    color: $white;
    height: $height;

    .page__title,
    .button--previous {
      color: $white;
    }
  }

  &.hle {
    background-color: $hle;
    color: $white;
    height: $height;

    .page__title,
    .button--previous {
      color: $white;
    }
  }

  &.drizly {
    background-color: $drizly;
    color: $white;
    height: $height;

    .page__title,
    .button--previous {
      color: $white;
    }
  }

  &.wind-journey {
    background-color: $egp;
    color: $white;;
    height: $height;

    .page__title,
    .button--previous {
      color: $white;;
    }
  }

  &.calculator {
    background-color: $enelx;
    color: $white;
    height: $height;

    .page__title,
    .button--previous {
      color: $white;
    }
  }
  &.pennstater {
    background-color: $penn;
    color: $white;
    height: $height;

    .page__title,
    .button--previous {
      color: $white;
    }
  }

}

ul.bookmarks {
  margin-bottom: g(2);

  .list__item {
    margin-bottom: $half-spacing;

    a {
      color: $twilight;
      position: relative;

      &:focus {
        text-decoration: underline;
      }

      &:hover {
        color: $cyber-green;
        text-decoration: underline;
      }
    }
  }
}

ul.portfolio {
  margin-bottom: g(2);

  .list__item {
    border: none;
    margin-bottom: 24px;

    .label {
      font-size: 32px;
    }

    a {
      color: $cyber-green;

      &:hover {
        color: $scrap-green;

        p {
          color: $scrap-green;
        }
      }
    }

    p,
    small {
      @include prefix(transition, color 0.15s linear, webkit ms);
      color: $cyber-green;
      font-size: 1em;
      font-weight: 600;
      margin: 0;
    }
  }
}

.button--previous {
  font-size: 17px;
  font-weight: 600;
  color: white;

  padding: 4px;
  border: 3px solid transparent;
  letter-spacing: .025em;

  &:focus {
    padding: 4px;
    border: 3px solid;
  }

  span {
    font-size: 19px;
    font-weight: 800;
    padding: 0 4px;
    // color: $red-eye;

    span {
      color: $white;
      padding: 0 2px;
    }
  }
}

/* Custom Positioning Classes */
.position-bottom-right {
  position: absolute;
  bottom: 0;
  right: 5vh;
  pointer-events: none;
}

.position-top-left {
  position: absolute;
  top: 2em;
  left: $page-margin--mobile;

  @include media($sm-breakpoint) {
    top: 4em;
    left: $page-margin--tablet;
  }
}

.position-top-right {
  position: absolute;
  top: 2em;
  right: $page-margin--mobile;

  @include media($sm-breakpoint) {
    top: 4em;
    right: $page-margin--tablet;
  }
}

/* Custom Styling for Contact Container */
.contact {
  a {
    color: $cyber-green;
    color: $robo-sludge;

    &:focus {
      text-decoration: underline;
    }

    &:hover {
      color: darken($cyber-green, 15%);
    }
  }
}

// Custom Page
.page__logo {
  margin: 2em auto;
  max-width: 200px;
  display: block;
}

.intro-message {
  h1,
  h2 {
    display: inline;
  }
  span {
    padding: 12px;
    font-size: 30px;
    vertical-align: middle;
    top: -3px;
    color: white;
    position: relative;
  }
}

.section__title {
  font-size: em(40);
  margin-bottom: g(3);

  color: $future-yellow;
  color: $pink;

  &.text--display {
    color: $future-yellow;
  }
}

.text--display {
  font-family: $sans-serif-2;
  font-size: em(48);
  color: $pink;
  line-height: 1.2;

  @include media($md-breakpoint) {
    font-size: em(48);
  }

  strong {
    margin-left: -6px;
    position: relative;
    display: block;
  }
}

.text--center {
  text-align: center;
}

.text--large {
  font-size: em(20);

  @include media($sm-breakpoint) {
    font-size: em(24);
  }
}

ul.pretty {
  font-size: em(20);
}

.title-image {
  max-width: 260px;
  width: 100%;
  margin-top: 3em;
}

.icon-image {
  max-width: 50%;
  width: 100%;
  opacity: 0.15;
}

.copy {
  text-align: center;
  font-size: 14px;
}

.kern-1 {
  letter-spacing: 1px;
}

.credits {
  // text-align: center;
}

.mast-head {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  z-index: layer('header');
  margin: 0px auto;
}

.square {
  @include responsive-ratio(2, 1);
  width: 100%;
  position: relative; /* If you want text inside of it */
}

.team-list {}

// .blend--multiply {
//   mix-blend-mode: multiply;
// }

// Media Content
.specimen {
  margin-bottom: g(6);
  text-align: center;
}

.stretch {
  @include media($md-breakpoint) {
    margin-left: -10vw;
    margin-right: -10vw;
  }
}

/* Carousel Styling */
.stack {
  background: #fff;
  border: 1px solid #eee;
  box-shadow:
    /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 10px 0 -5px #eee,
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ 0 20px 0 -10px #eee,
    /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: g(2);
}

/* Image Styling */
.paper {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  padding: 8px;
  border: 1px solid #eee;
  // width: 100%;
}

.fake-browser-ui {
  padding: 20px 0 0;
  border-radius: 3px;
  background: #ddd;
  display: inline-block;
  position: relative;
  line-height: 0;

  .scroll-box {
    overflow: scroll;
    height: 500px;
  }
}

.fake-browser-ui .frame {
  display: block;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 1px;
}

.fake-browser-ui span {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #eee;
  border: 1px solid #dadada;
  float: left;
  margin: 0 0 0 4px;
}
