// Custom Layout
.container {
  @include zebra(); 

  &.intro {
    background-color: #34427b;
    color: white;
    height: 90vh;
  }

  &.portfolio {
    background-color: $scrap-green;
    color: white;
    height: 90vh;
    
    .page__title {
      color: $future-yellow;
    }
  }

  &.brm {
    background-color: #1d4d9c;
    color: $white;
    height: 90vh;
    
    .page__title {
      color: $white;
    }
  }

  &.mena {
    background-color: #7d4c92;
    color: $white;
    height: 90vh;
    
    .page__title {
      color: $white;
    }
  }

  &.cpl {
    background-color: $white;
    color: #c21f2f;
    height: 90vh;

    .page__title {
      color: #c21f2f;
    }

    .button--previous {
      color: $text-color;
    }
  }

  &.paw {
    background-color: $white;
    height: 90vh;

    .page__title {
      color: $paw;
    }

    .description {
      color: $black;
    }

    .button--previous {
      color: $paw;
    }
  }

  &.bookmarks {
    background-color: $red-eye;
    color: white;
    height: 90vh;

    .page__title {
      color: $future-yellow;
    }
  }
}

// Custom Page
.page__logo {
  margin: 2em auto;
  max-width: 200px;
  display: block;
}

.page__title {
  font-size: 58px;
  color: #50e3c2;
  margin-bottom: 8px;
  letter-spacing: .025em;
}

.page__sub-title {
  font-size: 24px;
}

.section__title {
  font-size: em(40);
  margin-bottom: $half-spacing;

  &.text--display {
    color: $base-font-color;
  }
}

.text--display {
  font-family: $sans-serif-2;
  font-size: em(88);
  color: #e33c42;
  line-height: 1.2;
}

.list-title {
  color: $charcoal;
  font-size: 80%;
  text-transform: uppercase;
  font-weight: bold;
}

// Special Classes
.position-bottom-right {
  position: absolute;
  bottom: 2em;
  right: 0;

}

.position-top-left {
  position: absolute;
  top: 4em;
  left: $page-margin--mobile;

  @include media($sm-breakpoint) {
    left: $page-margin--tablet;
  }
}

.title-image {
  max-width: 260px;
  width: 100%;
}

.icon-image {
  max-width: 50%;
  width: 100%;
  opacity: .15;
}

// Special Colors
.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

.card {
  // padding: $base-spacing;
  // border-radius: 4px;
  height: 100%;
  // color: white;
  border-width: 16px;
  border-bottom-color: #3333;
  border-right-color: #3333;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-style: solid;
  border-top: none;
  // box-shadow: 2px 2px 6px;
  border-left: none;

  &:hover {
    box-shadow: 0 8px 24px rgba(0,0,0,0.35);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
  }

  a {
    // color: white;
  }
}

ul.bookmarks {
  margin-bottom: $base-spacing * 2;

  li {
    margin-bottom: $half-spacing;

    a {
      color: $robot-salmon;
    }
  }
}

ul.portfolio {
  a {
    color: $scrap-green;
  }
}

.button--previous {
  font-size: 20px;
  color: white;

  span {
    font-size: 17px;
    padding-right: 4px;
  }
}

.button-group {
  margin-bottom: g(6);
}

.contact {
  a {
    color: #e33c42;
  }
}

.list__item {
  position: relative;
}

.icon-list {
  position: absolute;
  left: -20px;
  padding-top: 4px;
}

.gold-star {
  color: #FFD700;
}

.blue-drupal {
  color: #0678BE;
}

.text--center {
  text-align: center;
}

.content {
  font-size: 16px;
  width: 100%;

  @include media($md-breakpoint) {
    font-size: 18px;
    max-width: 756px;
  }
}

.specimen {
  margin-bottom: g(6);
}

.caption {
  font-size: 16px;
  margin: 8px 0;
}

.stack {
  background: #fff;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
    /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
  padding: g(2);
}

.paper {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);  
  padding: 8px;  
}