html {
  background-color: darken(#5e6bb8, 30%);
}

body {
  background-color: #f4f4f4;
  opacity: 0;

  article {
    transform: translateY(50vh);
  }

  &.tween {
    // on load
    opacity: 1;
    transition: all 0.7s ease-in;

    .mast-head {
      h1 {
        transition: all 0.45s ease 0.7s;
        left: 0px;
        opacity: 1;
      }
    }

    article {
      transition: all 0.7s ease-in;
      transform: translateY(0px);
    }
  }

  &.page--index,
  &.page--all {
    .container {
      background-color: #5e6bb8;
    }
  }

  &.page--articles {
    .container {
      background-color: $twilight;
    }
  }

  &.page--work {
    .container {
      background-color: #8aa8b8;
    }
  }
  &.page--bookmarks {
    background-color: #5e6bb8;
  }
}

// .mast-head {
//   position: fixed;
//   width: 100%;
//   height: 6.5em;
//   font-family: $sans-serif;
//   z-index: 9999;

//   h1 {
//     display: inline;
//     margin: 0;
//     position: relative;
//     left: -200px;
//   }
// }

// .site-logo {
//   position: absolute;
//   top: 1.25em;
//   left: 1.25em;
//   color: #999;
//   font-size: 1.6rem;
//   z-index: 9999;
//   padding-left: 1.2em;
//   width: 300px;
// }

// Custom Colors
.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

// Custom Layout
.container {
  $height: 60vh;

  &.intro {
    background-color: $twilight;
    background-color: #5e6bb8;
    color: $white;
    height: $height;

    .page__title {
      color: $cyber-green;
    }
  }

  &.blog {
    // background-color: $twilight;
    height: $height;
    text-align: left;

    .page__title {
      color: $cyber-green;
    }

    .button--previous {
      color: $cyber-green;
    }
  }

  &.portfolio {
    background-color: #5e6bb8;
    color: $cyber-green;
    height: $height;
    text-align: left;

    .page__title {
      color: $cyber-green;
      color: #262d57;
      font-size: 17vw;
      opacity: 0.65;
    }

    .button--previous {
      color: $cyber-green;
    }
  }

  &.brm {
    background-color: $white;
    color: #1d4d9c;
    height: $height;

    .page__title,
    .button--previous {
      color: #1d4d9c;
    }
  }

  &.mena {
    background-color: $white;
    color: #7d4c92;
    height: $height;

    .page__title,
    .button--previous {
      color: #7d4c92;
    }
  }

  &.cpl {
    background-color: $white;
    color: #c21f2f;
    height: $height;

    .page__title,
    .button--previous {
      color: #c21f2f;
    }
  }

  &.paw {
    background-color: $white;
    height: $height;

    .page__title {
      color: $paw;
    }

    .description {
      color: $black;
    }

    .button--previous {
      color: $paw;
    }
  }

  &.fitnessapp {
    background-color: #f1bf9c;
    color: $white;
    height: $height;

    .page__title {
      color: $white;
    }

    .button--previous {
      color: $white;
    }
  }

  &.hle {
  }

  &.blink {
    background-color: $white;

    color: #337ab7;

    .page__title {
      color: #337ab7;
    }

    .button--previous {
      color: #337ab7;
    }
  }

  &.drizly {
    color: white;

    background-color: #e02b2d;
    .page__title {
      color: $white;
    }
  }

  &.bookmarks {
    // background-color: $red-eye;
    color: white;
    height: $height;

    .page__title {
      color: $future-yellow;
    }
  }
}

ul.bookmarks {
  margin-bottom: $base-spacing * 2;

  li {
    margin-bottom: $half-spacing;

    a {
      color: $white;

      &:focus {
        text-decoration: underline;
      }

      &:hover {
        color: darken($white, 15%);
      }
    }
  }
}

ul.portfolio {
  .list__item {
    border: none;
    margin-bottom: 24px;

    .label {
      font-size: 32px;
    }

    a {
      color: $cyber-green;
      color: #262d57;

      &:hover {
        color: darken($cyber-green, 15%);

        p {
          color: darken($cyber-green, 15%);
        }
      }
    }

    p,
    small {
      @include prefix(transition, color 0.15s linear, webkit ms);
      color: $white;
      color: #262d57;
      font-size: 1em;
      font-weight: 600;
      margin: 0;
    }
  }
}

ul.blog {
  .list__item {
    border: none;
    margin-bottom: 24px;

    article {
      padding: 3em 2em;
      background-color: #4d3b7e;
      border-radius: 8px;
    }

    p,
    small {
      color: $white;
      margin: 0;
    }

    a {
      color: $cyber-green;
      padding: 16px 0;

      &:hover {
        color: darken($cyber-green, 15%);
      }
    }
  }
}

.button--previous {
  font-size: 20px;
  font-weight: 600;
  color: white;

  padding: 4px;
  border: 3px solid transparent;

  &:focus {
    padding: 4px;
    border: 3px solid;
  }

  span {
    font-size: 17px;
    padding-right: 4px;
  }
}

/* Custom Positioning Classes */
.position-bottom-right {
  position: absolute;
  bottom: 2em;
  right: 0;
  pointer-events: none;
}

.position-top-left {
  position: absolute;
  top: 2em;
  left: $page-margin--mobile;

  @include media($sm-breakpoint) {
    top: 4em;
    left: $page-margin--tablet;
  }
}

/* Custom Styling for Contact Container */
.contact {
  a {
    color: $cyber-green;

    &:focus {
      text-decoration: underline;
    }

    &:hover {
      color: darken($cyber-green, 15%);
    }
  }
}

// Custom Page
.page__logo {
  margin: 2em auto;
  max-width: 200px;
  display: block;
}

.page__title {
  font-size: 58px;
  color: #50e3c2;
  margin-bottom: 8px;
  letter-spacing: 0.05rem;
}

.page__sub-title {
  font-size: 24px;
}

.section__title {
  font-size: em(40);
  margin-bottom: g(3);

  color: $future-yellow;

  &.text--display {
    color: $future-yellow;
  }
}

.text--display {
  font-family: $sans-serif-2;
  font-size: em(88);
  color: $pink;
  line-height: 1.2;

  strong {
    margin-left: -6px;
    position: relative;
    display: block;
  }
}

.text--center {
  text-align: center;
}

.text--large {
  font-size: em(16);

  @include media($sm-breakpoint) {
    font-size: em(24);
  }
}

.title-image {
  max-width: 260px;
  width: 100%;
  margin-top: 3em;
}

.icon-image {
  max-width: 50%;
  width: 100%;
  opacity: 0.15;
}

.copy {
  text-align: center;
  font-size: 14px;
}

.kern-1 {
  letter-spacing: 6px;
}

canvas {
  transform: rotate(45deg) scale(2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0.25;
}
