/* Everhood 0.1.0
 * http://everhood.com
 * Copyright 2014–2015 Kyle Langford
 * MIT License */
// Global Variables
$sans-serif: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$sans-serif-2: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$serif: 'Palatino Linotype', 'Book Book Antiqua', 'Palatino' , serif;
$primary-color: #09f;
$secondary-color: #ffcc2f;
$off-white-color: #f4f4f4;
$grey-color: #cdcdcd;
$heading-font-color: #444;
$paragraph-font-color: #555;
$panel-odd-color: $off-white-color;
$panel-even-color: white;
$button-edge: shade( $primary-color, 50%);
$wrap-padding: 14em;
$small: 640px;
$medium: 769px;
$large: 1024px;
$nav-bg-color: $primary-color;
$border-radius:2px;

body {
  background-color:$nav-bg-color;
  opacity:0;
  .mast-head {
    h1 {
     position:relative;
     left:-200px;
   }
  }
  .panel {
    @include transform(translateY(50vh));
  }
  &.tween {
    opacity:1;
    @include transition(all .7s ease-in);
    .mast-head {
      .cube {
        @include transition(all 1s ease-in 1s);
        opacity:1;
      }
      h1 {
        @include transition(all .45s ease .7s);
        left:0px;
        opacity:1;
      }
    }
    .panel {
      @include transition(all .7s ease-in);
      @include transform(translateY(0px));
    }
  }
}
.content_div {
    box-shadow:0 0 10px;
    border:10px solid black;
    height:800px;
    left:-1000px;
    width:100%;
    -webkit-animation:slide_in 800ms ease-out forwards;
    position:absolute;
    box-sizing:border-box;
}
@-webkit-keyframes slide_in{
    0% {
        left:-1000px;
    }
    100% {
        left:0px;
    }
}

// Typography
p {
  font-family: $serif;
  font-size: 1.15em;
  line-height: 1.5;
  color: $paragraph-font-color;
}
h1,
h2 {
  font-family: $sans-serif;
  font-weight: 800;
}
h3 {
  font-family: $sans-serif-2;
  font-weight: 800;
}
h4,
h5 {
  font-family: $sans-serif-2;
  font-weight: 400;
}
p .icon {
  font-size: 0.875em;
}
textarea {
  width: 100%;
  overflow: auto;
  background-color: #f4f4f4;
  border: none;
}
//Layout
.window {
  height: 100vh;
  display: table;
}
.panel {
  width: 100vw;
  background-color: $panel-even-color;
  @include clearfix;
  &.animate {
    @include transition(height 2s ease-in);
    height:20vh;
  }
  &.grey {
    background-color:#cdcdcd !important;
  }
  &:nth-child(odd) {
    background-color: $panel-odd-color;
  }
  &.welcome {
    background: $secondary-color;
    h2 {
      font-size: 6em;
      text-align: center;
      line-height: .85;
    }
    @include media(min-width $medium) {
      h2 {
        font-size: 12em;
        margin-bottom: 0;
        text-align: right;
        line-height: .95;
        .kern {
          letter-spacing:-12px;
        }
      }
    }
  }
}
.head {
  background: rgb(205,205,205); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(205,205,205,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,205,205,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(205,205,205,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(205,205,205,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(205,205,205,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(205,205,205,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.wrap {
  padding: $wrap-padding 0;
  @include outer-container;
  @include media(max-width $medium) {
    padding: 6em 0;
  }
  .head & {
    padding: 16em 0 8em;
  }
  .contact & {
    padding: 10em 0;
  }
  article & {
    padding: 8em 0;
  }
  .left,
  .right {
    width:100%;
    @include media(min-width $medium) {
      @include span-columns(6);
    }
  }
  .window & {
    display: table-cell;
    vertical-align: middle;
  }
  &.collapse {
    padding: 0;
  }
}
.squeeze {
  @include span-columns(8);
  @include shift(2);
  @include media(max-width $medium) {
    @include span-columns(10);
    @include shift(1);
  }
}
.left,
.right {
  width: 50%;
  float: left;
  .split-panel & {
    padding: 7em 10%;
  }
}
// Page Header
.mast-head {
  position: fixed;
  width: 100%;
  height: 6.5em;
  font-family: $sans-serif;
  z-index:9999;
  h1 {
    display: inline;
    margin: 0;
  }
}
.site-logo {
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  color: $heading-font-color;
  font-size: 1.6rem;
  z-index: 9999;
  padding-left: 1.2em;
  width:300px;
  &.active {
    color:white;
  }
}
//Footer
footer {
  .icon {
    color: $paragraph-font-color;
    font-size: 1.5em;
  }
  .icon-copyright {
    font-size: 1.2em;
  }
}
p.copy {
  color: $paragraph-font-color;
  font-family: $sans-serif;
  font-weight: 100;
  font-size: 1em;
}
// Headroom.js
.headroom {
  @include transition(all 0.15s ease-in);
  background-color: transparent;
}
.headroom--top {
  background-color: transparent;
}
.headroom--pinned {
  background-color: rgba(21,21,21,.2);
  transform: translateY(0%);
  .site-logo {
    color: white;
  }
  .cube > div  {
    background-color:white;
  }
  &.headroom--top {
    background-color: transparent;
    .site-logo {
      color: $heading-font-color;

    }
    .cube > div  {
      background-color:transparent;
    }
  }
}
.headroom--unpinned {
  transform: translateY(-100%);
  &.active {
    transform: translateY(0);
  }
}

// Navigation
nav {
  &.primary {
    background: $nav-bg-color;
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    padding-right: 0.6em;
    z-index: -1;
    display: none;
    // Overlay
    &.overlay {
      @include transition(opacity .5s ease-in);
      display: table;
      opacity: 1;
      z-index: 999;
      .wrap {
        display: table-cell;
        padding: 0;
        vertical-align: middle;
      }
    }
    ul {
      width: 100vw;
      text-align: center;
      font-size: 3em;
      a {
        color: white;
      }
    }
  }
}
// Hint
.hint {
  display: block;
  position: fixed;
  text-align: center;
  width: 100vw;
  left: 0;
  bottom: 20px;
}
// Message
.contact {
  h2 {
    text-align: center;
  }
  form {
    max-width: 460px;
    width: 100%;
    margin: 0px auto;
  }
}
// Message
.message {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100vw;
  padding: 0 5%;
  .collapse & {
    padding-top: $wrap-padding;
    max-width: none;
    margin: 0 auto;
  }
  h2 {
    font-size: 5.65em;
    line-height: 1;
    margin-bottom: 0.35em;
    @include media(max-width $medium) {
      font-size: 2.75em;
    }
    span {
      color: $secondary-color;
    }
  }
  h3 {
    margin-bottom: 1em;
  }
  p {
    font-family: $sans-serif-2;
    font-weight: 400;
    font-size: 1.75rem;
    @include media(max-width $medium) {
      font-size: 1.25em;
    }
  }
}
// Browser
.browser {
  background:transparent;
  border-top-right-radius:4px;
  border-top-left-radius:4px;
  box-shadow: 0 .25em 1em #b9b9b9;
  border-bottom:1px solid rgba(160,160,160,.4);
  border-right:1px solid rgba(160,160,160,.4);
  border-left:1px solid rgba(160,160,160,.4);
  position:relative;
  margin: 0 auto;
  height:800px;
  overflow:hidden;
  margin-bottom:6em;
  img {
    width:100%;
  }
  &:before {
    background-color:#f6f6f6;
    color:#555;
    height:2em;
    display:block;
    content:'Site Title Here';
    line-height:2em;
    font-size:.75em;
    text-align:center;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    border-bottom:1px solid rgba(160,160,160,.3);
    text-shadow: 0 0 1px #b9b9b9;
  }
  // &:hover:after {
  &:after {
    background-color:#f6f6f6;
    color:#555;
    display:inline-block;
    content:'Work done at Brunello | ma-ena.org';
    line-height:1em;
    font-size:.65em;
    text-align:left;
    border-top-right-radius:4px;
    position:absolute;
    padding:4px 10px;
    bottom:0px;
    left:0px;
    border-right:1px solid rgba(160,160,160,.4);
    border-top:1px solid rgba(160,160,160,.4);
  }
  span {
    background-color:#fc5857;
    border-radius:50%;
    box-shadow: inset 0 0 2px #b9b9b9;
    border:1px solid shade(#fc5857, 10%);
    height:11px;
    width:11px;
    position:absolute;
    top:6px;
    left:6px;
    content:'';
    z-index:999;
    display:block;
    &:after {
      background-color:#35cd41;
      border-radius:50%;
      box-shadow: inset 0 0 2px #b9b9b9;
      border:1px solid shade(#35cd41, 10%);
      height:11px;
      width:11px;
      content:'';
      z-index:999;
      display:block;
      position:relative;
      top: -12px;
      left: 27px;
    }
    &:before {
      background-color:#febe2f;
      border-radius:50%;
      box-shadow: inset 0 0 2px #b9b9b9;
      border:1px solid shade(#febe2f, 10%);
      height:11px;
      width:11px;
      content:'';
      z-index:999;
      display:block;
      position:relative;
      left: 13px;
      top: -1px;
    }

  }

}
// Split Panel
.split-panel {
  text-align: center;
  background-color: #555;
}
// Bullets
.bullets {
  $base-line-height: 1.5em !default;
  $base-link-color: $action-color !default;
  $dark-gray: $base-font-color !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 3.5em;
  margin-bottom: $base-line-height;
  overflow: auto;
  padding: 0;
  @include span-columns(8);
  @include shift(2);
  @include media(max-width $medium) {
    @include span-columns(10);
    @include shift(1);
  }

  .bullet {
    @include flex-basis(20em);
    @include flex-grow(1);
  }
  .bullet-icon {
    background: $secondary-color;
    border-radius: 50%;
    float: left;
    height: 72px;
    width: 72px;
    font-size: 42px;
    text-align: center;
    line-height: 75px;
    color: white;
    @include media(max-width $medium) {
      float: none;
      margin:0px auto;
    }
  }
  .bullet-content {
    margin-left: 6em;
    margin-top: 2em;
    margin-bottom: 2em;
    @include media(max-width $medium) {
      margin-left: 0;
    }
  }
  h3 {
    display: inline-block;
    font-weight: 800;
    margin: 0;
    padding: 0.35em 0 0.25em 0;
  }
  li {
    list-style: none;
  }
  img {
    max-width: 100%;
  }
}
// Button
button {
  // Default
  border-radius: $border-radius;
  line-height: 1.6;
  padding: 0.6em 1em;
  font-size: 1rem;
  outline: none;
  border: 0;
  &.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 1px;
  }
  &.primary-menu-btn {
    background-color: $primary-color;
    color: white;
    position: absolute;
    padding: 0.35em 1em;
    top: 2em;
    right: 2em;
    z-index: 99999;
    &:before {
      content: '';
      position: absolute;
      top:5px;
      left:1px;
      background-color: rgba(0, 0, 0, .12);
      -webkit-transform: scale(1, 1.05) skew(4deg, 0deg);
      -ms-transform: scale(1, 1.05) skew(4deg, 0deg);
      transform: scale(1, 1.05) skew(4deg, 0deg);
      display: block;
      width: 88px;
      height: 40px;
      border-radius:$border-radius;
      .active & {
        -webkit-transform: scale(.95) skew(4deg, 0deg);
        -ms-transform: scale(.95) skew(4deg, 0deg);
        transform: scale(.95) skew(4deg, 0deg);
      }
    }
    &:after {
      position: absolute;
      width:inherit;
      display:block;
      content: 'MENU';
      padding: 0.35em 1em;
      background-color: $primary-color;
      top:0px;
      left:0px;
      border-radius: $border-radius;
      border-bottom: 3px solid $button-edge;
      -webkit-box-shadow: inset 0 -2px $button-edge;
      box-shadow: inset 0 -4px $button-edge;
      .active & {
        background-color: white;
        color: $primary-color;
        box-shadow: inset 0 -2px $button-edge;
      }
    }
  }
}


/* Wapasha */
.btn {
  font-weight:bold;
}
[class^="cta-"], [class*=" cta-"] {
  background: $primary-color;
  border-radius:$border-radius;
	color: #fff;
  display:inline-block;
  padding:1em 3em;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $primary-color;
    border-radius:0px;
    z-index: -1;
    border-radius: inherit;
    opacity: 0;
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  &:hover {
    background-color: transparent;
    color: $heading-font-color;
    &:before {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
    span {
      border-bottom: 3px solid $primary-color;
    }
  }

}
.cta-process::before {
  // background:url('../../img/preview.jpg');
}
.cta-work::before {
  // background:url('../../img/preview.jpg');
}

// Credits
.credits {
  text-align: center;
  padding: 2em;
  a {
    color: $paragraph-font-color;
    &:hover {
      color: shade($paragraph-font-color, 60%);
    }
  }
}
// Line Behind Text
.line-behind-text {
  border-bottom: 1px solid $paragraph-font-color;
  text-align: center;
  width: 30%;
  min-width: 200px;
  margin: 0 auto 4.5em;
  h2 {
    background: #f4f4f4;
    color: $paragraph-font-color;
    display: inline-block;
    font-size: 1rem;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    top: 14px;
  }
}
// Line Behind Icon
.line-behind-icon {
  border-bottom: 1px solid #cdcdcd;
  text-align: center;
  width: 30%;
  min-width: 200px;
  margin: 0 auto 4.5em;
  span {
    background: $panel-odd-color;
    color: #cdcdcd;
    display: inline-block;
    font-size: 2rem;
    padding: 0 12px;
    position: relative;
    top: 19px;
  }
  .panel:nth-child(even) & {
    span {
      background: $panel-even-color;
    }
  }
}
// Article Page
.article {
  @include media(max-width $medium) {
    h3 {
      font-size: 1.35em;
    }
  }
  h4 {
    margin: 3em 0 0.5em;
  }
  h5 {
    margin: 1em 0 0.5em;
  }
}
p.type {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  margin-bottom: 2em;
  padding: 0.1em 0;
  text-align: left;
  text-transform: uppercase;
}
p.date {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: transparentize($heading-font-color, 0.6);
  margin: 0.5em 0;
  font-weight: 400;
  font-size: 1em;
}
code {
  background: $off-white-color;
  border-radius: $base-border-radius * 1.5;
  border: 1px solid $grey-color;
  font-size: 0.8em;
  font-style: normal;
  padding: 0.1em 0.4em;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  &.box {
    display: block;
  }
}
p.author {
  font-family: $serif;
  font-size: 0.875em;
}
/*
  Based on: http://cssdeck.com/labs/simple-css3-3d-cube
  Author: http://kushagra.me/
*/
// Cube
.container {
  display: block;
  position: absolute;
  top: 36px;
  left: 1.5em;
  width: auto;
  z-index:9999;
  @include perspective(1000px);
  @include perspective-origin(50% 50%);
  @include media($medium) {
     display: inline-block;
  }
}
.cube {
  $cube-translate-z: 11px;
  $cube-border-color: white;
  $cube-border-size: 2px;
  $cube-color-1: #00ffcf;
  $cube-color-2: #cf00ff;
  $cube-color-3: #002fff;

  opacity:0;
  position: relative;
  height: $cube-translate-z * 2;
  width: $cube-translate-z * 2;
  margin: 0 auto;
  cursor: pointer;
  @include transition(transform 2s linear);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  &:hover {
    & > div {
      border: $cube-border-size solid $cube-border-color;
    }
  }
  > div {
    position: absolute;
    height: $cube-translate-z * 2;
    width: $cube-translate-z * 2;
    opacity: 1;
    background-position: center center;
    border: $cube-border-size solid $cube-border-color;
    background-color: transparent;
  }
  div:nth-child(1) {
    -webkit-transform: translateZ($cube-translate-z);
    -moz-transform: translateZ($cube-translate-z);
    -o-transform: translateZ($cube-translate-z);
    -ms-transform: translateZ($cube-translate-z);
    transform: translateZ($cube-translate-z);
  }
  div:nth-child(2) {
    -webkit-transform: rotateY(90deg) translateZ($cube-translate-z);
    -moz-transform: rotateY(90deg) translateZ($cube-translate-z);
    -o-transform: rotateY(90deg) translateZ($cube-translate-z);
    -ms-transform: rotateY(90deg) translateZ($cube-translate-z);
    transform: rotateY(90deg) translateZ($cube-translate-z);
  }
  div:nth-child(3) {
    -webkit-transform: rotateY(180deg) translateZ($cube-translate-z);
    -moz-transform: rotateY(180deg) translateZ($cube-translate-z);
    -o-transform: rotateY(180deg) translateZ($cube-translate-z);
    -ms-transform: rotateY(180deg) translateZ($cube-translate-z);
    transform: rotateY(180deg) translateZ($cube-translate-z);
  }
  div:nth-child(4) {
    -webkit-transform: rotateY(-90deg) translateZ($cube-translate-z);
    -moz-transform: rotateY(-90deg) translateZ($cube-translate-z);
    -o-transform: rotateY(-90deg) translateZ($cube-translate-z);
    -ms-transform: rotateY(-90deg) translateZ($cube-translate-z);
    transform: rotateY(-90deg) translateZ($cube-translate-z);
  }
  div:nth-child(5) {
    -webkit-transform: rotateX(-90deg) translateZ($cube-translate-z) rotate(180deg);
    -moz-transform: rotateX(-90deg) translateZ($cube-translate-z) rotate(180deg);
    -o-transform: rotateX(-90deg) translateZ($cube-translate-z) rotate(180deg);
    -ms-transform: rotateX(-90deg) translateZ($cube-translate-z) rotate(180deg);
    transform: rotateX(-90deg) translateZ($cube-translate-z) rotate(180deg);
  }
  div:nth-child(6) {
    -webkit-transform: rotateX(90deg) translateZ($cube-translate-z);
    -moz-transform: rotateX(90deg) translateZ($cube-translate-z);
    -o-transform: rotateX(90deg) translateZ($cube-translate-z);
    -ms-transform: rotateX(90deg) translateZ($cube-translate-z);
    transform: rotateX(90deg) translateZ($cube-translate-z);
  }
}


.input {
	position: relative;
	z-index: 1;
	display: block;
  margin: 2em 0;
	width: 100%;
	vertical-align: top;
}
.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}
.input__field:focus {
	outline: none;
}
.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}
.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}
.icon {
	color: #ddd;
	font-size: 150%;
}
/* Nao */
.input--nao {
	overflow: hidden;
	padding-top: 1em;
}

.input__field--nao {
	padding: 0.5em 0em 0.25em 3em;
	width: 100%;
	background: transparent;
	color: #9da8b2;
	font-size: 1.25em;
}
.input__label--nao {
	position: absolute;
	top: 0;
	font-size: 1em;
	left: 0;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0em;
	pointer-events: none;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
	transition: transform 0.2s 0.15s, color 1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.graphic--nao {
	stroke: #92989e;
  padding:0px;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
	transition: transform 0.7s, stroke 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
	color: $heading-font-color;
	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}
.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
	stroke: $heading-font-color;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}
/* Kozakura */
.input--kozakura {
	overflow: hidden;
}

.input__field--kozakura {
	padding: 0 1em;
	width: 100%;
	background: transparent;
	color: #2F3238;
	font-size: 1.55em;
}

.input__label--kozakura {
	width: 100%;
	text-align: left;
	top: 1em;
	pointer-events: none;
	overflow: hidden;
	padding: 0 0.25em;
	-webkit-transform: translate3d(1em, 2.75em, 0);
	transform: translate3d(1em, 2.75em, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--kozakura {
	color: #444;
	padding: 0.4em 0 0.25em;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.graphic--kozakura {
	fill: #f1f1f1;
	pointer-events: none;
	top: 0;
	bottom: 0px;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.7s, fill 0.7s;
	transition: transform 0.7s, fill 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--kozakura:focus,
.input--filled .input__field--kozakura {
	-webkit-transition: opacity 0s 0.35s;
	transition: opacity 0s 0.35s;
	opacity: 1;
}

.input__field--kozakura:focus + .input__label--kozakura,
.input--filled .input__label--kozakura {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--kozakura:focus + .input__label--kozakura .input__label-content--kozakura,
.input--filled .input__label-content--kozakura {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.input__field--kozakura:focus ~ .graphic--kozakura,
.input--filled .graphic--kozakura {
	fill: #fff;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}

/* grid */
.grid {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}
.grid div {
	position: relative;
	font-size: 18em;
	line-height: 1;
	max-height: 190px;
	text-align: center;
	width: auto;
  display: inline-block;
}
/* Common styles for the letters */
.grid div span {
	display: inline-block;
	font-weight: 900;
	line-height: 1;
	position: relative;
	color: #f1f1f1;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index: 2;
  &:hover {
    cursor:pointer;
  }
}
.grid div span:before,
.grid div span:after {
	position: absolute;
	content: attr(data-letter);
	line-height: inherit;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.break-apart.grid div span:before,
.break-apart.grid div span:after {
  position: relative;
}
.grid div span:after {
	text-shadow: none;
	color: hsla(0, 0%, 0%, 0.1);
  z-index: -1;
}
.grid div span:before {
  color: $heading-font-color;
}

/* Down */
.ot-letter-bottom span:before,
.ot-letter-bottom span:after {
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
}
.ot-letter-bottom span:after {
	-webkit-transform: scale(1,1.05) skew(8deg,0deg);
	-ms-transform: scale(1,1.05) skew(8deg,0deg);
	transform: scale(1,1.05) skew(8deg,0deg);
}
.ot-letter-bottom span:before {
	// text-shadow: 0px -1px 0px hsla(360, 100%, 100%, 0.1), 0px 3px 1px hsla(0, 0%, 0%, 0.4);
	-webkit-transform: rotateX(20deg);
	-ms-transform: rotateX(20deg);
	transform: rotateX(20deg);
}
