/* Everhood 0.1.0
 * http://everhood.com
 * Copyright 2014–2015 Kyle Langford
 * MIT License */
// Global Variables
$sans-serif: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$sans-serif-2: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$serif: 'Palatino Linotype', 'Book Book Antiqua', 'Palatino' , serif;
$primary-color: #09f;
$secondary-color: #ffcc2f;
$off-white-color: #f4f4f4;
$grey-color: #cdcdcd;
$heading-font-color: #333;
$paragraph-font-color: #555;
$panel-odd-color: $off-white-color;
$panel-even-color: white;
$cube-border-color: white;
$cube-border-size: 10px;
$cube-color-1: #00ffcf;
$cube-color-2: #cf00ff;
$cube-color-3: #002fff;
$button-edge: shade( $primary-color, 50%);
$wrap-padding: 14em;

body {
  background-color:$primary-color;
  opacity:0;
  .mast-head {
    h1 {
     @include transition(all .25s ease .8s);
     position:relative;
     left:-200px;
   }
  }
  &.tween {
    opacity:1;
    @include transition(all .8s ease-in);
    .mast-head {
      h1 {
        left:0px;
        opacity:1;
      }
    }
  }
}

// Typography
p {
  font-family: $serif;
  font-size: 1.15em;
  line-height: 1.5;
  color: $paragraph-font-color;
}
h1,
h2 {
  font-family: $sans-serif;
  font-weight: 800;
}
h3 {
  font-family: $sans-serif-2;
  font-weight: 800;
}
h4,
h5 {
  font-family: $sans-serif-2;
  font-weight: 400;
}
p .icon {
  font-size: 0.875em;
}
svg {
  padding: 4em;
}
//Layout
.window {
  width: 100vw;
  height: 100vh;
  display: table;
}

.panel {
  width: 100vw;
  background-color: $panel-even-color;
  @include clearfix;
  &:nth-child(odd) {
    background-color: $panel-odd-color;
  }
  &.welcome {
    background: $secondary-color;
    h2 {
      font-size: 12em;
      margin-bottom: 0;
      text-align: right;
      line-height: .95;
      .kern {
        letter-spacing:-12px;
      }
    }
  }
}
.wrap {
  @include outer-container;
  padding: $wrap-padding 0;
  .head & {
    padding: 16em 0 8em;
  }
  article & {
    padding: 8em 0;
  }
  .left,
  .right {
    @include span-columns(6);
  }
  .window & {
    display: table-cell;
    vertical-align: middle;
  }
  &.collapse {
    padding: 0;
  }
}
.squeeze {
  @include span-columns(8);
  @include shift(2);
}
.left,
.right {
  width: 50%;
  float: left;
  .split-panel & {
    padding: 7em 10%;
  }
}
// Page Header
.mast-head {
  position: fixed;
  width: 100%;
  height: 6.5em;
  font-family: $sans-serif;
  h1 {
    display: inline;
    margin: 0;
  }
}
.site-logo {
  position: absolute;
  top: 1.25em;
  left: 2em;
  color: $base-font-color;
  font-size: 1.6rem;
  span {
    color: $primary-color;
  }
}
//Footer
footer {
  .icon {
    color: white;
    font-size: 1.5em;
  }
  .icon-copyright {
    font-size: 1.2em;
  }
}
p.copy {
  color: white;
  font-family: $sans-serif;
  font-weight: 100;
  font-size: 1em;
}
// Headroom.js
.headroom {
  @include transition(all 0.15s ease-in);
  background-color: transparent;
}
.headroom--top {
  background-color: transparent;
}
.headroom--pinned {
  background-color: rgba(21,21,21,.2);
  .site-logo {
    color: white;
  }
  &.headroom--top {
    background-color: transparent;
    .site-logo {
      color: $heading-font-color;
    }
  }
}
// Navigation
nav {
  &.primary {
    background: $primary-color;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding-right: 0.6em;
    z-index: -1;
    display: none;
    @include transition(opacity 0.5s ease-in);
    // Overlay
    &.overlay {
      display: table;
      opacity: 1;
      z-index: 999;
      .wrap {
        display: table-cell;
        padding: 0;
        vertical-align: middle;
      }
    }
    ul {
      width: 50vw;
      text-align: right;
      font-size: 3em;
      li {
        a {
          color: white;
        }
      }
    }
  }
}
// Hint
.hint {
  display: block;
  position: fixed;
  text-align: center;
  width: 100vw;
  left: 0;
  bottom: 20px;
}
// Message
.message {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 0 5%;
  .collapse & {
    padding-top: $wrap-padding;
    max-width: none;
    margin: 0 auto;
  }
  h2 {
    font-size: 4.75em;
    line-height: 1;
    margin-bottom: 0.35em;
    span {
      color: $secondary-color;
    }
  }
  h3 {
    margin-bottom: 1em;
  }
  p {
    font-family: $sans-serif-2;
    font-weight: 400;
    font-size: 1.75em;
  }
}
// Split Panel
.split-panel {
  text-align: center;
  background-color: #555;
}
// Bullets
.bullets {
  $base-line-height: 1.5em !default;
  $base-link-color: $action-color !default;
  $dark-gray: $base-font-color !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 3.5em;
  @include span-columns(8);
  @include shift(2);
  margin-bottom: $base-line-height;
  overflow: auto;
  padding: 0;
  .bullet {
    @include flex-basis(20em);
    @include flex-grow(1);
  }
  .bullet-icon {
    background: $secondary-color;
    border-radius: 50%;
    float: left;
    height: 72px;
    width: 72px;
    font-size: 42px;
    text-align: center;
    line-height: 75px;
    color: white;
  }
  .bullet-content {
    margin-left: 6em;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  h3 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-weight: 800;
    margin: 0;
    padding-top: 0.35em;
  }
  li {
    list-style: none;
  }
  img {
    max-width: 100%;
  }
}
// Button
button {
  // Default
  border-radius: 8px;
  padding: 0.35em 1em;
  line-height: 1.6;
  font-size: 1rem;
  outline: none;
  border: 0;
  border-bottom: 3px solid $button-edge;
  -webkit-box-shadow: inset 0 -2px $button-edge;
  box-shadow: inset 0 -2px $button-edge;
  &.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 1px;
  }
  &.primary-menu-btn {
    background-color: $primary-color;
    $text-color: white;
    color: $text-color;
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 99999;
    &.active {
      background-color: white;
      color: $primary-color;
    }
  }
}
// Credits
.credits {
  text-align: center;
  padding: 2em;
  a {
    color: white;
  }
  &.panel {
    background-color: $heading-font-color;
  }
}
// Line Behind Text
.line-behind-text {
  border-bottom: 1px solid white;
  text-align: center;
  width: 30%;
  min-width: 200px;
  margin: 0 auto 4.5em;
  h2 {
    background: $heading-font-color;
    color: $off-white-color;
    display: inline-block;
    font-size: 1em;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    top: 14px;
  }
}
// Line Behind Icon
.line-behind-icon {
  border-bottom: 1px solid #cdcdcd;
  text-align: center;
  width: 30%;
  min-width: 200px;
  margin: 0 auto 4.5em;
  span {
    background: $panel-odd-color;
    color: #cdcdcd;
    display: inline-block;
    font-size: 2em;
    padding: 0 12px;
    position: relative;
    top: 19px;
  }
  .panel:nth-child(even) & {
    span {
      background: $panel-even-color;
    }
  }
}
// Article Page
.article {
  h4 {
    margin: 3em 0 0.5em;
  }
  h5 {
    margin: 1em 0 0.5em;
  }
}
p.type {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  margin-bottom: 2em;
  padding: 0.1em 0;
  text-align: left;
  text-transform: uppercase;
}
p.date {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: transparentize($heading-font-color, 0.6);
  margin: 0.5em 0;
  font-weight: 400;
  font-size: 1em;
}
code {
  background: $off-white-color;
  border-radius: $base-border-radius * 1.5;
  border: 1px solid $grey-color;
  font-size: 0.8em;
  font-style: normal;
  padding: 0.1em 0.4em;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  &.box {
    display: block;
  }
}
p.author {
  font-family: $serif;
  font-size: 0.875em;
}
/*
  Based on: http://cssdeck.com/labs/simple-css3-3d-cube
  Author: http://kushagra.me/
*/
// Cube
#container {
  display: inline-block;
  padding-top: 50px;
  width: 100%;
  z-index: 9999;
  @include perspective(1000px);
  @include perspective-origin(50% 50%);
}
#cube {
  $cube-translate-z: 12px;
  $cube-translate-z: 140px;
  position: relative;
  height: $cube-translate-z * 2;
  width: $cube-translate-z * 2;
  margin: 0 auto;
  cursor: pointer;
  z-index: 9999;
  @include transition(transform 2s linear);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  &:hover {
    & > div {
      border: $cube-border-size solid $cube-border-color;
    }
  }
  > div {
    position: absolute;
    height: $cube-translate-z * 2;
    width: $cube-translate-z * 2;
    opacity: 0.8;
    background-position: center center;
    border: $cube-border-size solid $cube-border-color;
    background-color: $secondary-color;
  }
  div:nth-child(1) {
    -webkit-transform: translateZ($cube-translate-z);
    -moz-transform: translateZ($cube-translate-z);
    -o-transform: translateZ($cube-translate-z);
    -ms-transform: translateZ($cube-translate-z);
    transform: translateZ($cube-translate-z);
    &:hover {
      background-color: $cube-color-1;
    }
  }
  div:nth-child(2) {
    -webkit-transform: rotateY(90deg) translateZ($cube-translate-z);
    -moz-transform: rotateY(90deg) translateZ($cube-translate-z);
    -o-transform: rotateY(90deg) translateZ($cube-translate-z);
    -ms-transform: rotateY(90deg) translateZ($cube-translate-z);
    transform: rotateY(90deg) translateZ($cube-translate-z);
    &:hover {
      background-color: $cube-color-2;
    }
  }
  div:nth-child(3) {
    -webkit-transform: rotateY(180deg) translateZ($cube-translate-z);
    -moz-transform: rotateY(180deg) translateZ($cube-translate-z);
    -o-transform: rotateY(180deg) translateZ($cube-translate-z);
    -ms-transform: rotateY(180deg) translateZ($cube-translate-z);
    transform: rotateY(180deg) translateZ($cube-translate-z);
    &:hover {
      background-color: $cube-color-3;
    }
  }
  div:nth-child(4) {
    -webkit-transform: rotateY(-90deg) translateZ($cube-translate-z);
    -moz-transform: rotateY(-90deg) translateZ($cube-translate-z);
    -o-transform: rotateY(-90deg) translateZ($cube-translate-z);
    -ms-transform: rotateY(-90deg) translateZ($cube-translate-z);
    transform: rotateY(-90deg) translateZ($cube-translate-z);
    &:hover {
      background-color: $cube-color-2;
    }
  }
  div:nth-child(5) {
    -webkit-transform: rotateX(-90deg) translateZ($cube-translate-z) rotate(180deg);
    -moz-transform: rotateX(-90deg) translateZ($cube-translate-z) rotate(180deg);
    -o-transform: rotateX(-90deg) translateZ($cube-translate-z) rotate(180deg);
    -ms-transform: rotateX(-90deg) translateZ($cube-translate-z) rotate(180deg);
    transform: rotateX(-90deg) translateZ($cube-translate-z) rotate(180deg);
    &:hover {
      background-color: $cube-color-3;
    }
  }
  div:nth-child(6) {
    -webkit-transform: rotateX(90deg) translateZ($cube-translate-z);
    -moz-transform: rotateX(90deg) translateZ($cube-translate-z);
    -o-transform: rotateX(90deg) translateZ($cube-translate-z);
    -ms-transform: rotateX(90deg) translateZ($cube-translate-z);
    transform: rotateX(90deg) translateZ($cube-translate-z);
    &:hover {
      background-color: $cube-color-1;
    }
  }
}
