<div class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
	<input type="submit" id="edit-submit" name="op" value="Save" class="button button--primary form-submit">
  <input type="submit" id="edit-preview" name="op" value="Preview" class="button form-submit">
  <a href="/node/5671/delete" class="button button--danger" id="edit-delete">Delete</a>
</div>