<ul class="tabs primary clearfix">
  <li class="tabs__tab">
    <a href="/article">View</a>
  </li>
  <li class="tabs__tab is-active">
    <a href="/edit">Edit</a>
  </li>
  <li class="tabs__tab">
    <a href="/delete">Delete</a>
  </li>
</ul>