// Hint
//
// Your standard button suitable for clicking.
//
//
// Markup: hint/hint.twig
//
// Style guide: Pattern Library.hint

.hint {
  display: block;
  position: fixed;
  text-align: center;
  width: 100vw;
  left: 0;
  bottom: 20px;
  font-size: 24px;
}
