<ul class="list">
  <li class="list__item">
    <a href="/block">
      <span class="label">Block layout</span>
      <div class="description">Configure what block content appears in your site's sidebars and other regions.</div>
    </a>
  </li>
  <li class="list__item">
    <a href="/comment">
      <span class="label">Comment types</span>
      <div class="description">Manage form and displays settings of comments.</div>
    </a>
  </li>
  <li class="list__item">
    <a href="/contact">
      <span class="label">Contact forms</span>
      <div class="description">Create and manage contact forms.</div>
    </a>
  </li>
  <li class="list__item">
    <a href="/types">
      <span class="label">Content types</span>
      <div class="description">Create and manage fields, forms, and display settings for your content.</div>
    </a>
  </li>
  <li class="list__item">
    <a href="/display-modes">
      <span class="label">Display modes</span>
      <div class="description">Configure what displays are available for your content and forms.</div>
    </a>
  </li>
</ul>